{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "babel",
    "react"
  ]
}
