.coverage
/.installed.cfg
/.mr.developer.cfg
/.cache/
/.sass-cache/
/annotations.json
/aws-ip-ranges.json
/bin/
/develop/
/develop-eggs/
/downloads/
/eggs/
/extends/
/node_modules/
/ontology.json
/parts/
/production.ini
/session-secret.b64
/src/encoded/static/css/
/src/encoded/static/scss/_variables.original.scss

*.DS_Store
*.egg-info
*.pyc
+.project
+.pydevproject
*.log
.python-version
~$*
.~*#
.vscode/settings.json
