.installed.cfg
.mr.developer.cfg
.sass-cache/
bin/
develop/
develop-eggs/
downloads/
eggs/
extends/
parts/
*.DS_Store
*.egg-info
*.pyc
src/encoded/static/css/bootstrap.css
src/encoded/static/css/responsive.css
src/encoded/static/css/style.css
src/encoded/static/scss/_variables.original.scss