[buildout]
extensions = buildout.dumppickedversions
extends = versions.cfg
parts =
    encoded
    rubygems
    compile-css
    test
develop = .

[encoded]
recipe = zc.recipe.egg
eggs =
    encoded
    pyramid
    waitress
interpreter = py

[rubygems]
recipe = rubygemsrecipe
gems =
    sass
    compass

[compile-css]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    ${buildout:directory}/bin/compass compile

[test]
recipe = zc.recipe.egg
eggs =
    encoded[test]
    pytest
scripts =
    py.test=test
