<header class="row">
    <div class="span12">
        <h5>{model.links.organism.get('organism_name')} Biosample</h5>
        <h2>{properties.accession} / {properties.biosample_type}</h2>
        <h4>{properties.biosample_description}</h4>
    </div>
</header>
<div class="row">
    <div class="span12">
        <div class="panel data-display" id="biosample-data">
        
        <section id="general">
        
        	<dl class="key-value">
        		
        		<dt>Accession number</dt>
        		<dd>{properties.accession}</dd>
        		
        		<dt>Description</dt>
        		<dd>{properties.biosample_description}</dd>
        		
        		<dt>Term ID</dt>
        		<dd>{properties.biosample_term_id}</dd>
        		
        		<dt>Term name</dt>
        		<dd>{properties.biosample_term_name}</dd>
        		
        		<dt>Source</dt>
        		<dd><a href="{model.links.source.get('url')}">
        			{model.links.source.get('source_name')}</a></dd>
        		
        		<dt>Product ID</dt>
        		<dd>
        			<?js if(properties.product_id != 'N/A') { ?>
                    	<a href="{properties.product_url}">{properties.product_id}</a>
                    <?js } else { ?>
                    	{properties.product_id}
                    <?js } ?>
        		</dd>
        		
        		<dt>Lot ID</dt>
        		<dd>{properties.lot_id}</dd>
        		
        		<dt>Species</dt>
        		<dd>{model.links.organism.get('organism_name')}</dd>
        		
        		<dt>Project</dt>
        		<dd>{properties.project}</dd>
        		
        		<dt>Submitter / Lab / Grant</dt>
        		<dd>{model.links.submitter.get('first_name')[0]}. {model.links.submitter.get('last_name')} / 
        		{model.links.lab.get('name')} / 
        		{model.links.award.get('project')}</dd>
        		
        	</dl>
        </section> <!--#general -->

        <hr>
        
        <!-- Donor section -->

        <section id="donor-info">
            <h4>FAKE Donor Information</h4>
            
            <dl class="key-value">
        		
        		<dt>Donor ID</dt>
        		<dd>ATCC_CCL-266</dd>
        		
        		<dt>Age</dt>
        		<dd>fetal</dd>
        		
        		<dt>Sex</dt>
        		<dd>unknown</dd>
        		
        		<dt>Strain</dt>
        		<dd>C3H</dd>
        		
        		<dt>Health status</dt>
        		<dd>sarcoma</dd>
        		
        		<dt>Species</dt>
        		<dd>mouse</dd>
        		
        	</dl>

        </section><!-- #donor-info -->
        
        <hr>
        
        <!-- Treatment section -->

        <section id="treatment-details">
    
        	<h4>FAKE Treatment Details</h4>
             
            <dl class="key-value">
        		
        		<dt>Treatment</dt>
        		<dd>EqS_2.0pct_60hr</dd>
        		
        		<dt>Type</dt>
        		<dd>differntiation</dd>
        		
        		<dt>Document</dt>
        		<dd>missing</dd>
        		
        		<dt>Condition</dt>
        		<dd>insulin</dd>
        		
        		<dt>Duration</dt>
        		<dd>60 hours</dd>
        		
        	</dl>
             
        </section><!-- #treatment-details -->
        
        <!-- Construct section?? -->
        </div><!-- .panel -->
        
        
        <!-- Protocols & Documents -->
        <h3>Protocols</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <h3>Supporting Documents</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <!-- DBXREFS -->
        <h3>Database Cross-Reference</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <!-- Relationships to other Biosamples -->
        <h3>Related Biosamples</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

    </div>
</div>