<header class="row">
    <div class="span12">
        <h5>{model.links.donor.links.organism.get('organism_name')} Biosample</h5>
        <h2>{properties.accession} / {properties.biosample_type}</h2>
        <h4>{properties.biosample_description}</h4>
    </div>
</header>
<div class="row">
    <div class="span12">
        <div class="panel data-display" id="biosample-data">
          <section id="general">
            <div class="data-group">
            <label class="data-label" for="description">Description:</label>
                <div class="data-values">
                     <span id="description" class="data-point">{properties.biosample_description}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="term-id">Term ID:</label>
                <div class="data-values">
                    <span id="term-id" class="data-point">{properties.biosample_term_id}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="term-name">Term name:</label>
                <div class="data-values">
                    <span id="term_name" class="data-point">{properties.biosample_term_name}</span>
                </div>
            </div>
            <div class="data-group">
            <label class="data-label" for="source">Source:</label>
                <div class="data-values">
                    <span id="source" class="data-point">
                        <a href="{model.links.source.get('url')}">{model.links.source.get('source_name')}</a>
                    </span>
               </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="product-id">Product ID:</label>
                <div class="data-values">
                    <?js if(properties.product_id != 'N/A') { ?>
                    <span id="product-id" class="data-point"><a href="{properties.product_url}">{properties.product_id}</a></span>
                    <?js } else { ?>
                    <span id="product-id" class="data-point">{properties.product_id}</span>
                    <?js } ?>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="lot-id">Lot ID:</label>
                <div class="data-values">
                    <span id="lot-id" class="data-point">{properties.lot_id}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="species">Species:</label>
                <div class="data-values">
                    <span id="species" class="data-point">{model.links.donor.links.organism.get('organism_name')}</span>
                    <!-- NEED mock donors for the following -->
                </div>
            </div>
             <div class="data-group">
                <label class="data-label" for="project">Project:</label>
                    <div class="data-values">
                        <span id="project" class="data-point">{properties.project}</span>
                    </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="submitted-by">Submitter / Lab / Grant:</label>
                <div class="data-values">
                    <span id="submitted-by" class="data-point">{model.links.submitter.get('first_name')[0]}. {model.links.submitter.get('last_name')} / {model.links.lab.get('name')} / {model.links.award.get('project')}</span>
                </div>
            </div>
            <?js if(properties.biosample_type == 'Immortalized cell line') { ?>
            <div class="data-group">
                <label class="data-label" for="species">Species:</label>
                <div class="data-values">
                    <span id="species" class="data-point">{model.links.donor.links.organism.get('organism_name')}</span>
                </div>
            </div>
            </section>
            <?js } else { ?>
           </section> <!--#general -->

            <hr>
            <!-- Donor section -->
             <section id="donor-info">
                <h4>Donor Information</h4>
                    <div class="data-group">
                <label class="data-label" for="donor-id">Donor ID:</label>
                <div class="data-values">
                    <span id="donor-id" class="data-point">{model.links.donor.get('donor_id')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="donor-age">Age:</label>
                <div class="data-values">
                    <span id="donor-age" class="data-point">{model.links.donor.get('age')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="donor-sex">Sex:</label>
                <div class="data-values">
                    <span id="donor-sex" class="data-point">{model.links.donor.get('sex')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="donor-strain">Strain:</label>
                <div class="data-values">
                    <span id="donor-strain" class="data-point">{model.links.donor.get('strain background')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="health-status">Health status:</label>
                <div class="data-values">
                    <span id="health-status" class="data-point">{model.links.donor.get('health_status')}</span>
                </div>
            </div>
            </section><!-- #donor-info -->
            <?js } ?>

            <?js if (model.links.treatments.length) {  treatment = model.links.treatments[0];?>
            <hr>
                <!-- Treatment section -->
                 <h4>Treatment Details</h4>
                    <div class="data-group">
                <label class="data-label" for="treatment">Treatment:</label>
                <div class="data-values">
                    <span id="treatment" class="data-point">{treatment.get('treatment_name')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="treatment-type">Type:</label>
                <div class="data-values">
                    <span id="treatment-type" class="data-point">{treatment.get('treatment_type')}</span>
                </div>
            </div>
                <?js if(treatment.get('condition_id') && treatment.get('condition_id') != 'NULL') { ?>
            <div class="data-group">
                <label class="data-label" for="treatment-condition">Condition:</label>
                <div class="data-values">
                    <span id="treatment-condition" class="data-point">
                        <?js if(treatment.get('concentration') != 'NULL') { ?> {treatment.get('concentration')} {treatment.get('concentration units')} <?js } ?>
                        {treatment.get('condition_term')} ({treatment.get('condition_id')})
                    <?js if (treatment.get('duration') != 'NULL') { ?> for {treatment.get('duration')} {treatment.get('duration units')} <?js } ?>
                    </span>
                </div>
                <?js } ?>
            </section><!-- #treatment-details -->
            <?js } ?>
                   <!-- Construct section?? -->
         </div>
          <!-- Protocols & Documents -->
        <h3>Protocols</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <h3>Supporting Documents</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <!-- DBXREFS -->
        <h3>Database Cross-Reference</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

        <!-- Relationships to other Biosamples -->
        <h3>Related Biosamples</h3>
        <div class="panel data-display">

        </div><!-- .data-display -->

    </div>
</div>