<header class="row">
    <div class="span12">
        <ul class="breadcrumb">
			<li>Biosamples <span class="divider">/</span></li>
			<li>{properties.biosample_type} <span class="divider">/</span></li>
			<li class="active">{model.links.donor.links.organism.get('organism_name')}</li>
		</ul>
        <h2>{properties.accession} / {properties.biosample_type}</h2>
    </div>
</header>
<div class="row">
    <div class="span12">
        <div class="panel data-display" id="biosample-data">
          <section id="general">
            <div class="data-group">
                <label class="data-label" for="term-name">Term name:</label>
                <div class="data-values">
                    <span id="term_name" class="data-point">{properties.biosample_term_name}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="term-id">Term ID:</label>
                <div class="data-values">
                    <span id="term-id" class="data-point">{properties.biosample_term_id}</span>
                </div>
            </div>
            <?js if(properties.biosample_description) { ?>
            <div class="data-group">
            <label class="data-label" for="description">Description:</label>
                <div class="data-values">
                     <span id="description" class="data-point">{properties.biosample_description}</span>
                </div>
            </div>
            <?js } ?>
            <div class="data-group">
            <label class="data-label" for="source">Source:</label>
                <div class="data-values">
                    <span id="source" class="data-point">
                        <a href="{model.links.source.get('url')}">{model.links.source.get('source_name')}</a>
                    </span>
               </div>
            </div>
            <?js if(properties.product_id) { ?>
            <div class="data-group">
                <label class="data-label" for="product-id">Product ID:</label>
                <div class="data-values">
                    <?js if(properties.product_url != 'N/A') { ?>
                    <span id="product-id" class="data-point"><a href="{properties.product_url}">{properties.product_id}</a></span>
                    <?js } else { ?>
                    <span id="product-id" class="data-point">{properties.product_id}</span>
                    <?js } ?>
                </div>
            </div>
            <?js } ?>
            <?js if(properties.lot_id) { ?>
            <div class="data-group">
                <label class="data-label" for="lot-id">Lot ID:</label>
                <div class="data-values">
                    <span id="lot-id" class="data-point">{properties.lot_id}</span>
                </div>
            </div>
            <?js } ?>
            <?js if(properties.project) { ?>
            <div class="data-group">
                <label class="data-label" for="project">Project:</label>
                    <div class="data-values">
                        <span id="project" class="data-point">{properties.project}</span>
                    </div>
            </div>
            <?js } ?>
            <div class="data-group">
                <label class="data-label" for="submitted-by">Submitted By:</label>
                <div class="data-values">
                    <span id="submitted-by" class="data-point">{model.links.submitter.get('first_name')} {model.links.submitter.get('last_name')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="lab">Lab:</label>
                <div class="data-values">
                    <span id="lab" class="data-point">{model.links.lab.get('name')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="grant">Grant:</label>
                <div class="data-values">
                    <span id="grant" class="data-point">{model.links.award.get('number')}</span>
                </div>
            </div>
            <?js if(properties.note) { ?>
            <div class="data-group">
                <label class="data-label" for="notes">Note:</label>
                <div class="data-values">
                    <span id="notes" class="data-point">{properties.note}</span>
                </div>
            </div>
            <?js } ?>
            </section>
            <!-- DBXREFS -->

           </section> <!--#general -->
           <?js if(properties.biosample_type != 'Immortalized cell line') { ?>
            <hr>
            <!-- Donor section -->
             <section id="donor-info">
                <h4>Donor Information</h4>
                    <div class="data-group">
                <label class="data-label" for="donor-id">Donor ID:</label>
                <div class="data-values">
                    <span id="donor-id" class="data-point">{model.links.donor.get('donor_id')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="donor-age">Age:</label>
                <div class="data-values">
                    <span id="donor-age" class="data-point">{model.links.donor.get('age')}</span>
                </div>
            </div>
            <div class="data-group">
                <label class="data-label" for="donor-sex">Sex:</label>
                <div class="data-values">
                    <span id="donor-sex" class="data-point">{model.links.donor.get('sex')}</span>
                </div>
            </div>
            <?js if(model.links.donor.get('strain background')) { ?>
            <div class="data-group">
                <label class="data-label" for="donor-strain">Strain:</label>
                <div class="data-values">
                    <span id="donor-strain" class="data-point">{model.links.donor.get('strain background')}</span>
                </div>
            </div>
            <?js } ?>
            <div class="data-group">
                <label class="data-label" for="health-status">Health status:</label>
                <div class="data-values">
                    <span id="health-status" class="data-point">{model.links.donor.get('health_status')}</span>
                </div>
            </div>
            </section><!-- #donor-info -->
            <?js } ?>

            <?js if (model.links.treatments.length) {  treatment = model.links.treatments[0];?>
            <hr>
            <!-- Treatment section -->
            <section>    
	            <h4>Treatment Details</h4>
	            <div class="data-group">
	            	<label class="data-label" for="treatment">Treatment:</label>
	                <div class="data-values">
	                    <span id="treatment" class="data-point">{treatment.get('treatment_name')}</span>
	                </div>
	            </div>
	            <div class="data-group">
	                <label class="data-label" for="treatment-type">Type:</label>
	                <div class="data-values">
	                    <span id="treatment-type" class="data-point">{treatment.get('treatment_type')}</span>
	                </div>
	            </div>
	            <?js if(treatment.get('condition_id') && treatment.get('condition_id') != 'NULL') { ?>
		            <div class="data-group">
		                <label class="data-label" for="treatment-condition">Condition:</label>
		                <div class="data-values">
		                    <span id="treatment-condition" class="data-point">
		                        <?js if(treatment.get('concentration') != 'NULL') { ?> {treatment.get('concentration')} {treatment.get('concentration_units')} <?js } ?>
		                        {treatment.get('condition_term')} ({treatment.get('condition_id')})
		                    <?js if (treatment.get('duration') != 'NULL') { ?> for {treatment.get('duration')} {treatment.get('duration_units')} <?js } ?>
		                    </span>
		                </div>  
		            </div>
		      	<?js } ?>
            </section><!-- #treatment-details -->
            <?js } ?>
            <!-- Construct section-->
            <?js if(model.links.constructs.length) { ?>
            <hr> <!-- maybe if this out or drop the clanky <hr>s -->
            <section>
                <h4>Construct Details</h4>
                <?js _.each(model.links.constructs, function(construct) { ?>
                <div class="data-group">
                    <label class="data-label" for="vector-name">Vector:</label>
                    <div class="data-values">
                        <span id="vector-name" class="data-point">{construct.get('vector_name')}</span>
                    </div>
                </div>
                <div class="data-group">
                    <label class="data-label" for="construct-types">Vector Type:</label>
                    <div class="data-values">
                        <span id="construct-types" class="data-point">{construct.get('transfection_type')} {construct.get('construct_type')}</span>
                    </div>
                </div>
                <div class="data-group">
                    <label class="data-label" for="construct-desc">Description:</label>
                    <div class="data-values">
                        <span id="construct-desc" class="data-point">{construct.get('construct_description')}</span>
                    </div>
                </div>
                <div class="data-group">
                <label class="data-label" for="construct-source">Source:</label>
                    <div class="data-values">
                        <span id="source" class="data-point">
                            <a href="{construct.links.source.get('url')}">{construct.links.source.get('source_name')}</a>
                        </span>
                   </div>
                </div>
                <div class="data-group">
                    <label class="data-label" for="construct-product-id">Product ID:</label>
                    <div class="data-values">
                        <?js if(construct.product_url != 'N/A') { ?>
                        <span id="construct-product-id" class="data-point"><a href="{construct.product_url}">{construct.product_id}</a></span>
                        <?js } else { ?>
                        <span id="construct-product-id" class="data-point">{construct.product_id}</span>
                        <?js } ?>
                    </div>
                </div>
                <!-- more details go here -->
                <?js } ); ?>
            </section> <!-- construct details -->
            <?js } ?>
        </div>
          <!-- Protocols & Documents -->
        <div class="protocols"></div>

		<?js if(properties.related_biosample_uuid != '') { ?>
        <!-- Relationships to other Biosamples -->
        <h3>Related Biosamples</h3>
        <div class="panel data-display">
        	<h4>Derived From Biosample</h4>
        	<div class="data-group">
                <label class="data-label" for="related-biosample-id">Accession:</label>
                <div class="data-values">
                    <span id="related-biosample-id" class="data-point"><a href ="{properties.related_biosample_uuid}">{properties.related_biosample_accession}</a></span>
                </div>
           </div>
        </div><!-- .data-display -->
        <?js } ?>
    </div>
</div>