version: 2.1

orbs:
    browser-tools: circleci/browser-tools@1.0.1

executors:
  encoded-executor:
    docker:
      - image: circleci/buildpack-deps:bionic
    working_directory: /mnt/ramdisk
    environment:
      - BASH_ENV: /home/circleci/.bashrc
      - ES_JAVA_OPTS: -Xms2g -Xmx3g
      - JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64

commands:
  buildout:
    description: A buildout process based on encoded-executor
    steps:
      - checkout
      # Do not use caching for now to avoid potential conflicts/bugs
      - run:
          name: Add apt repositories
          command: |
            sudo apt-get update && sudo apt-get install apt-transport-https software-properties-common
            wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
            echo "deb https://artifacts.elastic.co/packages/5.x/apt stable main" | sudo tee -a /etc/apt/sources.list.d/elastic-6.x.list
            curl -sSL https://deb.nodesource.com/gpgkey/nodesource.gpg.key | sudo apt-key add -
            curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
            sudo add-apt-repository -y ppa:openjdk-r/ppa
            sudo apt-get update
      - run:
          name: Install dependencies
          command: |
            sudo apt-get install -y \
              bsdtar \
              elasticsearch \
              graphviz \
              nodejs \
              openjdk-11-jdk \
              postgresql-10
            sudo chown -R circleci /etc/elasticsearch
            sed -i '1s;^;export PATH=/usr/share/elasticsearch/bin:/usr/lib/postgresql/10/bin:$PATH\n;' $BASH_ENV
            sudo apt-get install -y python3.7-dev python3-pip
            sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7 0
            sed -i '1s;^;alias python=python3\n;' $BASH_ENV
            wget http://archive.ubuntu.com/ubuntu/pool/main/f/file/libmagic-dev_5.38-4_amd64.deb
            wget http://archive.ubuntu.com/ubuntu/pool/main/f/file/libmagic1_5.38-4_amd64.deb
            wget http://archive.ubuntu.com/ubuntu/pool/main/f/file/libmagic-mgc_5.38-4_amd64.deb
            sudo dpkg -i libmagic-mgc_5.38-4_amd64.deb
            sudo dpkg -i libmagic1_5.38-4_amd64.deb
            sudo dpkg -i libmagic-dev_5.38-4_amd64.deb
            sudo apt-get install -f
      - run:
          name: Run buildout
          command: |
            sudo pip3 install --upgrade pip setuptools
            sudo pip3 install zc.buildout
            buildout bootstrap
            bin/buildout
jobs:
  bdd:
    executor: encoded-executor
    resource_class: large
    steps:
      - buildout
      # orb dependencies
      - run: sudo apt-get update -y && sudo apt-get install -y libgbm1
      # Use install tasks from the orb
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Run bdd tests
          command: |
            bin/test --exitfirst -s -vv -m "bdd" --tb=short \
              --splinter-implicit-wait=10 \
              --splinter-webdriver=chrome \
              --splinter-socket-timeout=300 \
              --splinter-session-scoped-browser=false \
              --splinter-headless=true \
              --chrome-options "--disable-gpu --no-sandbox --disable-dev-shm-usage --disable-extensions --whitelisted-ips --window-size=1920,1080"
          no_output_timeout: 30m
  indexing:
    executor: encoded-executor
    resource_class: large
    steps:
      - buildout
      - run:
          name: indexing tests
          command: |
            bin/test --exitfirst -s -vv -m "indexing"
          no_output_timeout: 5m
  indexer:
    executor: encoded-executor
    resource_class: large
    steps:
      - buildout
      - run:
          name: indexer tests
          command: |
            bin/test --exitfirst -s -vv -m "indexer"
          no_output_timeout: 5m
  not-bdd-non-indexing:
    executor: encoded-executor
    resource_class: medium
    steps:
      - buildout
      - run:
          name: non bdd non indexing tests
          command: |
            bin/test --exitfirst -s -vv -m "not bdd and not indexing and not indexer"
  npm:
    executor: encoded-executor
    resource_class: medium
    steps:
      - buildout
      - run:
          name: npm tests
          command: |
            npm run circleci-test

workflows:
  version: 2
  encoded-tests:
    jobs:
      - bdd
      - indexing
      - indexer
      - not-bdd-non-indexing
      - npm