<header class="row">
    <div class="span12">
        <h2>Sources</h2>
    </div>
    <div class="btn-group object-actions">
        <?js _.each(view.model._links.actions, function (action) { ?>
        <a class="btn" href="#{action.name}" rel="action">{action.title}</a>
        <?js }); ?>
    </div>
</header>
<div class="row">
    <div class="span12">
        <div class="panel data-display" id="source-data">
        
    		<dl class="key-value">
        		<dt>Source name</dt>
        		<dd><a href="{properties.url}">{properties.source_name}</a></dd>
        		
        		<dt>Alias</dt>
        		<dd>{properties.alias}</dd>
        		
        		<dt>Date created</dt>
        		<dd>{properties.date_created}</dd>
        	</dl>
        
        </div><!-- .panel -->
    </div>
</div>