// For displaying a list in a panel where you'd normally find the dl/dt/dd value pairs. 
.non-dl-list {
	list-style: none;
	margin: 0 0 0 60px;
}

// For displaying a single-item where you'd otherwise find lists
.non-dl-item {
	margin-left: 60px;
}