<div class="panel-gray homepage-main-box">
	<div class="row">
		<div class="home-panel-left project-info span7">
			<h1>ENCODE</h1>
			<h2>The Encyclopedia of DNA Elements</h2>
		</div>
	<?js if (!view.authenticated) { ?>
		<div class="span3 signin-box">
			<h4>Data Providers</h4>       
			<a data-trigger="login" class="btn btn-large btn-success signin-button">Sign In</a>
			<p>No access? <a href='mailto:encode-help@lists.stanford.edu'>Request an account</a>.</p>
			<p>Authentication by <a href="http://www.mozilla.org/en-US/persona/" target="_blank">Mozilla Persona</a>.</p>
		</div>
	<?js } ?>
	</div><!-- .row -->
</div>
