<div id="homepage-main-box"  class="panel-gray">
	<div class="row">
		<div id="project-info" class="home-panel-left span7">
			<h1>ENCODE</h1>
			<h2>The Encyclopedia of DNA Elements</h2>
			<p>This is an ENCODE DCC-only development site.</p>
			<p>If you are not a DCC member please navigate to <a href="#">http://submit.encodedecc.org</a> and change your bookmarks and references.</p>
		</div>
	
		<div id="signin-box" class="span3">
			<h4>Data Providers</h4>       
			<a href="#" id="signin-button" class="btn btn-large btn-success">Sign In</a>
			<p>No access? <a href="#">Create an Account</a>.</p>
			<p>Authentication by <a href="http://www.mozilla.org/en-US/persona/" target="_blank">Mozilla Persona</a>.</p>
		</div>
	</div><!-- .row -->
</div>
