<div id="homepage-main-box"  class="panel-gray">
	<div class="row">
		<div id="project-info" class="home-panel-left span7">
			<h1>ENCODE</h1>
			<h2>The Encyclopedia of DNA Elements</h2>
		</div>
	<?js if (!view.authenticated) { ?>
		<div id="signin-box" class="span3">
			<h4>Data Providers</h4>       
			<a data-trigger="login" id="signin-button" class="btn btn-large btn-success">Sign In</a>
			<p>No access? <a href='mailto:encode-help@lists.stanford.edu'>Request an account</a>.</p>
			<p>Authentication by <a href="http://www.mozilla.org/en-US/persona/" target="_blank">Mozilla Persona</a>.</p>
		</div>
	<?js } ?>
	</div><!-- .row -->
</div>
