<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">{model.title}</a>
        <div class="nav-collapse collapse">
            <ul id="global-sections"class="nav">
            <?js _.each(view.global_sections(), function (action) { ?>
                <li class="{action.class}"><a href="{action.url}">{action.title}</a></li>
            <?js }); ?>
            </ul>
            <ul id="user-actions" class="nav pull-right">
            <?js _.each(view.user_actions(), function (action) { ?>
                <li class="{action.class}"><a data-bypass="{action.bypass}" href="{action.url}" id="{action.id}">{action.title}</a></li>
            <?js }); ?>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
