<h1>{model.attributes.title}</h1>
<p class="title">{model.attributes.description}</p>
<table class="sticky-area" id="collection-table">
    <thead class="sticky-header">
        <tr class="nosort table-controls">
            <th colspan="{view.table_header.length}">
                <span id="table-count" class="label label-warning" style="padding: 1em 2em; margin-right: 1em;">Loading...</span>Sources
                <input name="table-filter" type="text" class="table-filter" placeholder="Filter by..." style="float:right">
            </th>
        </tr>
        <tr>
        <?js _.each(view.table_header, function (header) { ?>
             <th>{header}</th>
        <?js }); ?>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="{view.table_header.length}" style="display: none;" >{model.length} Sources.</th>
        </tr>
    </tfoot>
</table>
