<h1>{model.attributes.title}</h1>
<p class="title">{model.attributes.description}</p>
<table class="sticky-area" id="collection-table">
    <thead class="sticky-header">
        <tr class="nosort table-controls">
         <?js if(view.table_header.length > 0) { ?>
            <th colspan="{view.table_header.length}">
                <span id="table-count" class="label label-warning spinner-warning">Loading...</span><span id="total-records" class="hide">of {model.length} records</span>
                <input disabled="" name="table-filter" type="text" class="table-filter" placeholder="Filter by...">
            </th>
        </tr>
        <tr>
          <?js  _.each(view.table_header, function (header, index) { ?>
           <?js  if( view.sort_initial != null  && index==view.sort_initial) { ?>
                <th class="sort-initial">{header}</th>
           <?js } else { ?> <th>{header}</th> <?js } ?>
        <?js }); ?>
        <?js } else {  ?>
            <?js var first = view.model.models[0].attributes; ?>
            <?js _.each(first, function(val,header) { if(header.search(/(uuid|_no)/) == -1) {?>
                <th>{header}</th>
            <?js } } ); ?>
            <?js $("tr.table-controls > th").attr('colspan', function(){ return undefined; });//this.children().length.toString(); }); //doesn't work?>
        <?js } ?>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="{view.table_header.length}"><!-- {model.length} Rows. --></td>
        </tr>
    </tfoot>
</table>
