<?js if (view.authenticated) { ?>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">{this.fullname}
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <?js _.each(view.user_actions(), function (action) { ?>
            <li class="{action.class}"><a
                <?js if (action.bypass) { ?>data-bypass="bypass"<?js } ?>
                <?js if (action.url) { ?>href="{action.url}"<?js } else { ?>onclick=""<?js } ?>
                <?js if (action.trigger) { ?>data-trigger="{action.trigger}"<?js } ?>
                id="{action.id}">{action.title}</a></li>
        <?js }); ?>
        </ul>
    </li>
<?js } else { ?>
    <li><a data-trigger="login" id="signin">Sign in</a></li>            
<?js } ?>
