.curation-content {
    margin-top: 10px;
}

.curr-pmid-overview {
}

.pmid-doi-btns {
    margin: 10px 0;

    .btn {
        margin-right: 10px;
    }
}

.pmid-overview-abstract {
    margin: 30px 0;
}

.curation-data {
    dl {
        margin: 0;

        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: 10px;
        }
    }
}

.curation-data-title {
    margin-bottom: 2px;
    color: #000;
    background-color: #c0c0c0;
    text-align: center;

    h1 {
        margin: 5px 0 2px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    h2 {
        margin: 2px 0 5px;
        font-size: 1.1rem;
        font-weight: 300;
        font-style: italic;
    }
}

.curation-data-gene,
.curation-data-disease {
    margin-bottom: 2px;
}

.curation-data-disease,
.curation-data-gene,
.curation-data-curator {
    padding: 10px;
    background-color: $color-neutral-bg;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

.equal-height {
    overflow: hidden;
}

@media screen and (min-width: $screen-sm-min) {
    .gutter-exc:not(:last-child),
    .gutter-exc:not(:first-child) {
        padding-right: 1px;
        padding-left: 1px;
    }

    .gutter-exc:first-child {
        padding-left: $grid-gutter-width / 2;

    }

    .gutter-exc:last-child {
        padding-right: $grid-gutter-width / 2;

    }
}

.pmid-selection-trigger {
    background-color: $color-neutral-bg;
}

.pmid-selection-curr-id {
    position: relative;
    margin-left: 10px;
    top: 2px;
    font-weight: bold;
    font-size: 1.1rem;
}

.pmid-selection-trigger {
    padding: 5px;
}

.pmid-selection-selected {
    float: none;

    @media screen and (min-width: $screen-md-min) {
        float: left;
    }
}

.btn-add-new-pmid {
    display: block;
    margin-top: 2px;

    @media screen and (min-width: $screen-md-min) {
        float: right;
        margin-top: 0;
    }
}

.pmid-selection-add {
    padding: 5px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: $color-neutral-bg;
}

.pmid-selection-add-btn {
    width: 100%;
}

.pmid-selection-list {
    margin-bottom: 50px;
    max-height: 250px;
    overflow-y: scroll;
    border: 1px solid #e0e0e0;

    @media screen and (min-width: $screen-md-min) {
        max-height: 500px;
    }
}

.pmid-selection-list-item {
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #f0f0f0;

    &:hover {
        background-color: $color-hover;
    }

    &.curr-pmid {
        background-color: #fff;
    }
}

.pmid-selection-list-pmid {
    font-weight: bold;
}

.panel-curator {
    margin: 2px 0;
    padding: 15px;
    background-color: darken($color-neutral-bg, 10%);
    @include border-radius(0);

    p {
        margin: 0;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.panel-evidence-groups {
    > .panel-heading {
        padding: 0;

        h4 {
            text-align: center;
            font-weight: bold;
        }
    }

    > .panel-body {
        padding: 10px 10px 0 10px;

        h5 {
            font-weight: bold;
            margin: 0;
        }
    }
}


.panel-evidence-group {
    margin: 5px 0;
}

.panel-evidence {
    .panel-heading {
        padding: 0;

        h4 {
            font-size: 1.1rem;
            text-align: left;
        }

        a {
            padding: 5px 10px;
        }
    }

    .panel-body {
        padding: 10px;
        background-color: #fff;
    }

    .icon {
        font-size: 1.3rem;
    }
}

.evidence-curation-info {
    font-style: italic;
    margin: 2px 0 0 0;

    p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.3;
    }
}

.panel-create-gene-disease {
    .panel-std {
        padding-bottom: 40px;
    }
}

.panel-dashboard {
    .panel-std {
        padding: 10px 30px 20px 30px;
    }

    .gdm-list {
        width: 100%;
        border: 1px solid #ddd;
        border-bottom: none;

        .gdm-item {
            width: 100%;
            padding: 2px 8px 2px 8px;
            border-bottom: 1px solid #ddd;
            background-color: #f0f0f0;
        }

        .gdm-item:hover {
            background-color: #cde8f6;
        }
    }
}

.edit-omim-modal {
    display: inline;
}
