.form-control {
    @include border-radius(2px);
    font-size: 1rem;
}

.form-std {
    p {
        color: #606060;
    }
}

.form-create-gene-disease {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-error {
    color: red;
    font-size: 0.85rem;
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
    &.error {
        border: 1px solid red;
        background-color: #f0d8d0;
    }
}

.uppercase-input {
    text-transform: uppercase;
}

.form-group-inline {
    display: inline-block;
}

.group-age-fromto {
    display: table;
    padding-right: 0;
}

.group-age-input {
    display: table-cell;
    width: 45%;
}

.group-age-inter {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    text-align: center;
}
