.panel-group {
    margin-bottom: 10px;
}

.panel, .panel-group .panel {
    margin-bottom: 10px;
    @include box-shadow(none);
    @include border-radius(2px);
}

.panel-default>.panel-heading {
    padding: 0;

    h4 {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding: 5px 10px;
        margin: 0;
        background-color: $color-trim;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color: $color-trim-dark;
        }
    }
}

span.curation-palette-title {
    display: block;
    padding: 5px 10px;
    margin: 0;
    background-color: #c0c0c0;
    color: #000;
    text-decoration: none;
}

.panel-closed {
    display: none;
}

.panel-std {
    background-color: #f0f0f0;
    padding: 20px 30px;

    @media screen and (min-width: $screen-sm-min) {
        padding: 40px 50px 0;
    }
}

.panel-data {
    .panel-std {
        @media screen and (min-width: $screen-sm-min) {
            padding: 20px 50px;
        }
    }
}

.panel-header-indicator {
    float: right;
    line-height: 200%;
    margin-right: 10px;
    color: #fff;
    pointer-events: none;
}

.panel-title-std {
    display: block;
    padding: 10px 20px;
    margin: 0;
    background-color: #c0c0c0;
    color: #000;
    font-weight: 500;
}
