.audit-indicators {
    display: block;
    margin-top: 5px;
    padding: 0 5px;
    height: 28px;
    @include border-radius(4px);
    background-color: #fff;
    border: 1px solid #a0a0a0;

    @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
    }
}

// Audit icon for display only
%audit-icon {
    display: inline-block;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: transparent;

    &:first-child {
        margin-left: 0;
    }
}

// Audit icon that's clickable as well as displayable
%audit-active-icon {
    @extend %audit-icon;
    margin: 0 2px;
}

// Connect audit types to fontawesome icon suffixes and colors
$audit-types:
    (error, warning, #cc0700),
    (warning, exclamation-circle, #ebe310);

// Generate the audit icon classes for each of the audit types
@each $audit-type, $suffix, $color in $audit-types {
    // Audit icons
    .audit-icon-#{$audit-type} {
        @extend .icon-#{$suffix}; // FontAwesome icon
        @extend %audit-icon;
        color: $color;
    }

    // Clickable audit icons
    .audit-activeicon-#{$audit-type} {
        @extend .icon-#{$suffix}; // FontAwesome icon
        @extend %audit-active-icon;
        color: $color;

        &.active {
            background-color: #a0a0a0;
        }
    }

    // Audit detail
    .audit-detail-#{$audit-type} {
        padding: 5px 10px;
        border-top: 1px solid #a0a0a0;
        background-color: lighten(desaturate($color,30%),40%);

        &:first-child {
            border-top: none;
        }
    }
}

// Area that displays audit detail
.audit-details {
    margin: 10px 0;
    overflow: hidden;
    @include border-radius(4px);
    border: 1px solid #a0a0a0;

    strong.sentence-case {
        display: inline-block;
        margin-left: 10px;
    }
}
