// Chart area -- contains all charts.
.award-charts {
    display: block;

    // Style for an individual chart.
    @at-root #{&}__chart {
        display: block;

        @media screen and (min-width: $screen-sm-min) {
            flex: 0 0 33.3333%;
            width: 33.3333%;
        }

        .title {
            font-size: 1.2rem;
        }
    }

    // Style for the chart.js <canvas> of an individual chart.
    @at-root #{&}__canvas {
        position: relative;
        height: 180px;

        canvas {
            display: block;
            width: 0;
            height: 0;
        }
    }

    @at-root #{&}__legend {
        margin: 50px auto;
        width: 100%;

        @media screen and (min-width: $screen-md-min) {
            margin: 20px auto;
            width: 80%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                @extend .clearfix;
            }
        }

        a {
            float: left;
            line-height: 13px;
            margin: 0;
            padding: 3px;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        .chart-legend-chip {
            display: inline-block;
            width: 32px;
            height: 12px;
            margin-right: 5px;
            vertical-align: top;
        }

        .chart-legend-label {
            display: inline;
            position: relative;
            top: 0;
        }
    }

    @at-root #{&}__title {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        color: gray;
        font-size: 1.2rem;
        font-weight: 400;
    }
}


// Provides the flex structure for a group of charts.
.award-chart__group-wrapper {
    padding: 5px;

    &:first-child {
    margin: 50px 0 0 0;
        margin-top: 0;
    }

    h2 {
        margin-top: 5px;
        padding-bottom: 10px;
        font-size: 1.8rem;
        font-weight: normal;
        text-align: center;
        border-bottom: 1px solid #a0a0a0;
        float: center;
    }

    .reporttitle {
        float: left;
        position: absolute;
        padding-top: 7px;
        padding-bottom: 3px;
        margin-left: 8px;
    }

    .reagentsreporttitle {
        padding-top: 3px;
        padding-bottom: 0px;
    }
}


// Style for a group of charts, like for the experiment group or annotation group.
.award-chart__group {
    @media screen and (min-width: $screen-sm-min) {
        display: flex;
    }
}

.description {
    display: block;

    @at-root #{&}__columnone {
        display: block;
        float: left;
        width: 50%
    }

}

