$block-font-size-h1: floor($font-size-base * 2.4);
$block-font-size-h2: floor($font-size-base * 2.2);
$block-font-size-h3: ceil($font-size-base * 1.7);
$block-font-size-h4: ceil($font-size-base * 1.3);
$block-font-size-h5: ceil($font-size-base * 1.1);
$block-font-size-h6: $font-size-base;
$block-font-size-p:  $font-size-base;

$block-mobile-font-size-h1: $block-font-size-h1;
$block-mobile-font-size-h2: floor($block-font-size-h2 * 1.1);
$block-mobile-font-size-h3: floor($block-font-size-h3 * 1.2);
$block-mobile-font-size-h4: floor($block-font-size-h4 * 1.2);
$block-mobile-font-size-h5: floor($block-font-size-h5 * 1.2);
$block-mobile-font-size-h6: floor($block-font-size-h6 * 1.2);
$block-mobile-font-size-p:  floor($block-font-size-p * 1.2);



.page-title {
    margin-bottom: 30px;
}


// Applies to all block types, and specific blog styles nest inside
.block {
    margin-bottom: 10px;
    @include box-shadow(0 0 6px rgba(195, 202, 211, 0.5));

    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 20px;
    }

    &.richtextblock {
        background-color: #fff;
    }

    &.richtextblock, .teaser .caption {
        padding: 20px;
        line-height: 1.8;

        .col-md-12 & {
            @media screen and (min-width: $screen-md-min) {
                padding: 20px 10%;
            }

            &.full-width {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        pre {
            display: block;
            overflow: auto;
            padding: 5px 10px;
            word-wrap: normal;
            background-color: #f8f8f8;
            border: 1px solid #e0e0e0 !important;
            margin: 10px 0;
            white-space: pre;
            border: none;
        }

        code {
            border: 1px solid #e0e0e0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 20px;
            color: #000;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        h1 { font-size: $block-mobile-font-size-h1; }
        h2 { font-size: $block-mobile-font-size-h2; }
        h3 { font-size: $block-mobile-font-size-h3; }
        h4 { font-size: $block-mobile-font-size-h4; }
        h5 { font-size: $block-mobile-font-size-h5; }
        h6 { font-size: $block-mobile-font-size-h6; }
        p, li, blockquote, dt, dl { font-size: $block-mobile-font-size-p; }

        @media screen and (min-width: $screen-sm-min) {
            h1 { font-size: $block-font-size-h1; }
            h2 { font-size: $block-font-size-h2; }
            h3 { font-size: $block-font-size-h3; }
            h4 { font-size: $block-font-size-h4; }
            h5 { font-size: $block-font-size-h5; }
            h6 { font-size: $block-font-size-h6; }
            p, li, blockquote, dt, dl { font-size: $block-font-size-p; }
        }

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul, ol {
            margin: .3em 0;
            overflow: hidden;

            li {
                margin: .7em 0;
            }
        }

        blockquote {
            padding: 0;
            margin: 0 0 1em 20px;
            border: none;

            &:last-child {
                margin-bottom: 0;
            }

            @media screen and (min-width: $screen-sm-min) {
                margin-left: 50px;
            }
        }

        hr {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        dl {
            &:last-child {
                margin-bottom: 0;
            }

            dt {
                margin-top: 1em;

                &:first-child {
                    margin-top: 0;
                }
            }

            dd {
                margin: .3em 0 .3em 20px;
                padding-left: 10px;
                border-left: 3px solid #e0e0e0;
            }
        }

        cite {
            display: block;
            margin-top: -0.5em;
            margin-bottom: 0.5em;
            color: #808080;
            line-height: 1.5;
            font-size: ceil($font-size-base * 0.9);
        }

        a[name] {
            pointer-events: none;
            color: #000;
            text-decoration: none;
        }
    }

    &.teaserblock {
        padding: 0;
    }

    .teaser .caption {
        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }

        .col-md-12 & {
            @media screen and (min-width: $screen-md-min) {
                padding: 20px;
            }
        }
    }
}


a.url {
    word-break: break-all;
}


// All figures get this class
.fig {
    width: 100%;
    margin: 0 0 1em;

    @media screen and (min-width: $screen-sm-min) {
        &.fig-width-25 { width: 25%; }
        &.fig-width-50 { width: 50%; }
        &.fig-width-75 { width: 75%; }
    }

    img {
        display: block;
        width: 100%;
    }

    &.fig-align-center {
        margin-left: auto;
        margin-right: auto;

    }

    &.fig-align-right {
        float: right;
        margin-left: 20px;
    }

    &.fig-align-left {
        float: left;
        margin-right: 20px;
    }

    figcaption {
        font-size: 13px;
        color: #808080;
    }
}


// Right aligned figures
img.fig-align-right {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    .col-md-12 & {
        @media screen and (min-width: $screen-md-min) {
            float: right;
            margin-left: 10px;
            width: auto;

            &.fig-width-25 { width: 25%; }
            &.fig-width-50 { width: 50%; }
            &.fig-width-75 { width: 75%; }
        }
    }
}


// Left aligned figures
img.fig-align-left {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    .col-md-12 & {
        @media screen and (min-width: $screen-md-min) {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 50%;

            &.fig-width-25 { width: 25%; }
            &.fig-width-50 { width: 50%; }
            &.fig-width-75 { width: 75%; }
        }
    }
}


// Left aligned figures
img.fig-align-center {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    .col-md-12 & {

        @media screen and (min-width: $screen-md-min) {
            width: auto;
            margin: 0 auto 1em;
        }
    }
}


// Teaser block styes
.img-link {
    display: block;

    &:hover {
        text-decoration: none;
    }
}


.teaser {
    position: relative;
    padding: 0;
    @include border-radius(0);
    border: 4px solid #fff;

    // Only react to hover if there's an href
    .img-link &:hover {
        border-color: #0a253d;
    }

    &.thumbnail {
        margin-bottom: 0;
    }

    .caption {
        .col-md-12 & {
            @media screen and (min-width: $screen-sm-min) {
                float: right;
                width: 33.33%;
                padding: 0 20px !important;
                line-height: 1.6;
            }
        }
    }

    figure {
        margin-bottom: 0;

        .col-md-12 & {
            @media screen and (min-width: $screen-sm-min) {
                float: left;
                width: 66.66%;
            }
        }
    }

    figcaption {
        display: none;
    }

    p {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 1px;
    }
}


.teaser-font-13 p { font-size: 13px !important; }
.teaser-font-12 p { font-size: 12px !important; }
.teaser-font-11 p { font-size: 11px !important; }
