.page-title {
    margin-bottom: 30px;
}


.img-link {
    display: block;

    &:hover {
        text-decoration: none;
    }
}


// Applies to all block types, and specific blog styles nest inside
.block {
    margin-bottom: 20px;
    @include box-shadow(0 0 6px rgba(195, 202, 211, 0.5));

    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 30px;
    }

    &.richtextblock {
        padding: 1px 20px 10px;
        background-color: #fff;
        line-height: 1.8;

        .col-md-12 & {
            @media screen and (min-width: $screen-md-min) {
                padding: 20px 10%;
            }

            &.full-width {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        li {
            margin-top: 1em;
            margin-bottom: 1em;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        code {
            display: block;
            padding: 5px 10px;
            overflow: auto;
            word-wrap: normal;
            background-color: #f8f8f8;
            border: 1px solid #e0e0e0;
            margin: 10px 0;
            white-space: pre;
            border: none;
        }

        code {
            border: 1px solid #e0e0e0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &.teaserblock {
        padding: 0;
    }
}


a.url {
    word-break: break-all;
}


// All figures get this class
.fig {
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #808080;

    img {
        display: block;
        width: 100%;
        height: auto;
        border: 1px solid #e0e0e0;
    }

    figcaption {
        margin-top: 5px;
        font-size: 13px;
        color: #808080;

        span {
            font-weight: bold;
        }
    }
}


// Right aligned figures
.col-md-12 .fig-align-right {
    @media screen and (min-width: $screen-md-min) {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 50%;
    }
}


// Left aligned figures
.col-md-12 .fig-align-left {
    @media screen and (min-width: $screen-md-min) {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50%;
    }
}


// Left aligned figures
.col-md-12 .fig-align-center {
    @media screen and (min-width: $screen-md-min) {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}


// Teaser block styes
.teaser {
    position: relative;
    padding: 0;
    @include border-radius(0);
    border: 4px solid #fff;

    &:hover {
        border-color: #0a253d;
    }

    .caption {
        background-color: #303030;
        color: #fff;

        .col-md-12 & {
            @media screen and (min-width: $screen-sm-min) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 33.33%;
                line-height: 1.6;
                background-color: rgba(32,32,32,0.9);
            }
        }
    }

    figure {
        margin-bottom: 0;
    }

    figcaption {
        display: none;
    }

    p {
        margin: 5px 0;
        font-size: 16px;
        font-weight: lighter;
        letter-spacing: 1px;
    }
}
