.cart {
    // Cart navigation menu
    @at-root #{&}__nav {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        width: 34px;
        height: 24px;
        fill: white;

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            vertical-align: top;

            &--empty {
                width: 24px;
            }
        }

        &-count {
            display: inline-block;
            position: relative;
            padding: 0 5px;
            font-size: 0.8rem;
            font-weight: bold;
            border-radius: 1.4rem;
            background-color: green;
            height: 16px;
            line-height: 16px;
        }
    }

    // Indicates if item has been saved.
    @at-root #{&}__saved-status {
        display: inline-block;
        width: 10px;
        height: 16px;
        line-height: 16px;

        svg {
            display: block;
            fill: #cc0700;
        }
    }

    // Cart contents list
    @at-root #{&}__result-table {
        .result-table {
            padding: 0;
            border: none;
        }
    }

    // Heading for cart page panel
    @at-root #{&}__heading {
        text-align: center;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
        }
    }

    // Warning about losing cart items
    @at-root #{&}__loss-warning {
        font-style: italic;
        text-align: center;
    
        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 auto;
            text-align: left;
        }
    }

    @at-root #{&}__save-button {
        margin-top: 10px;

        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 auto;
            margin: -5px;
        }
    }

    // Checkbox block in search results
    @at-root #{&}__search-controls {
        padding: 5px;
        text-align: right;
        border-width: 1px 1px 0 1px;
        border-color: #a0a0a0;
        border-style: solid;
        background-color: #d8d8d8;

        button {
            margin-left: 5px;
        }
    }

    @at-root #{&}__empty-message {
        margin: 10px 0;
        text-align: center;
        font-style: italic;
    }

    // Cart control (add/remove) button
    @at-root #{&}__control-button {
        @at-root #{&}--inline {
            display: inline-block;
            margin-right: 5px;
            height: 28px;
        }
    }

    @at-root #{&}__missing-items {
        border-top: 1px solid #a0a0a0;
        background-color: #f0f0f0;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;

            p {
                flex: 0 1 100%;
            }
        }
    }

    @at-root #{&}__missing-item {
        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 50%;
        }

        @media screen and (min-width: $screen-md-min) {
            flex: 0 1 33.33%;
        }

        @media screen and (min-width: $screen-lg-min) {
            flex: 0 1 25%;
        }
    }

    // Cart result table item count
    @at-root #{&}__element-count {
        padding: 2px 0;
        text-align: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    // Cart result table pager control area.
    @at-root #{&}__pager {
        flex: 0 1 auto;
    }

    // Cart add/remove toggle button
    @at-root #{&}__toggle {
        display: block;
        padding: 6px;
        border: 1px solid;
        background-color: #fff;
        border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
        border-radius: 5px;
        stroke: #000;
        stroke-width: 0.5px;
        fill: #000;
        fill-opacity: 0;
        -webkit-appearance: none; // Avoid apparent chrome bug

        svg {
            display: block;
            height: 1.2rem;
    
            @media screen and (min-width: $screen-sm-min) {
                height: 1.1rem;
            }
        }
    
        &:hover {
            background-color: #e0e0e0;
        }
    
        &:disabled {
            stroke: #a0a0a0;
            fill: #a0a0a0;
        }
    
        @at-root #{&}--header {
            float: right;
            margin-left: 5px;
        }

        &--in-cart {
            stroke-width: 0;
            fill-opacity: 1;
    
            &:disabled {
                stroke: #a0a0a0;
                fill: #a0a0a0;
            }
        }
    }

    @at-root #{&}__tools {
        flex: 0 1 auto;

        button {
            margin-left: 5px;
        }
    }

    // Header of cart panel.
    @at-root #{&}__header {
        display: flex;
        justify-content: space-between;
    }

    @at-root #{&}__facet-progress-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        background-color: rgba(255,255,255,0.7);
        z-index: 1;
    }

    @at-root #{&}__batch-download-warning {
        margin: 1rem 0;
        padding: 5px 10px;
        color: #fff;
        font-weight: bold;
        background-color: $brand-danger;
    }

    @at-root #{&}__share-url {
        display: flex;
        flex-wrap: nowrap;

        > input {
            flex: 1 1 auto;
        }

        > button {
            flex: 0 1 auto;
        }
    }
}


// Cart button in navigation bar
.navbar-inverse .nav > li > button.cart__nav-button {
    padding-top: 8px;
    padding-bottom: 8px;
}


// Search-result-like file facet and results display.
.cart__display {
    display: flex;

    .box.facets {
        flex: 1 1 auto;
        position: relative;
        margin-right: 20px;
        padding-bottom: 23px;
        z-index: 0;

        // <button> specific to cart file facets
        button {
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
        }

        progress {
            width: 100%;
        }
    }

    .result-table {
        flex: 0 1 75%;
    }
}


// File-count note above facet
.cart__facet-file-count {
    padding: 5px;
    margin: -10px -10px 20px -10px;
    background-color: #d8d8d8;
    text-align: center;
    font-size: 0.95rem;
}


// Controls to display on cart page panel.
.cart-controls {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 1;

    button {
        margin-left: 5px;
    }
}


// Cart manager table header
.cart-manager-header {
    display: flex;

    @at-root #{&}__title {
        flex: 1 1 auto;
    }

    @at-root #{&}__control {
        display: block;
        flex: 0 1 auto;
        margin: -5px;
    }
}

$current-bg: #d0f0ff;
$autosave-bg: #ffffc0;
$deleted-bg: #ffe0e0;

%cart-manager-table-chip {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 10px;
    border: 1px solid #c0c0c0;
}
  
.cart-manager-table {
    @at-root #{&}__action {
        display: flex;
        margin: -5px;
    }

    @at-root #{&}__action-button {
        display: inline-block;
        position: relative;
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }

    @at-root #{&}__name-header {
        width: 50%;
    }

    @at-root #{&}__current-button {
        display: block;
        margin: 0 auto !important;
    }

    // Mark the current cart's row in the table
    @at-root #{&}__current-row {
        background-color: $current-bg;
    }

    // Mark deleted carts' rows in the table
    @at-root #{&}__deleted-row {
        background-color: $deleted-bg;
    }

    // Mark auto-saved cart's row in the table
    @at-root #{&}__autosave-row {
        background-color: $autosave-bg;
    }

    @at-root #{&}__delete-group {
        position: relative;
    }

    @at-root #{&}__button-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    @at-root #{&}__text-wrap {
        overflow-wrap: break-word;
    }

    @at-root #{&}__legend {
        text-align: center;

        @at-root #{&}-item {
            display: inline-block;
            margin: 0 15px;
        }
    }

    @at-root #{&}__chip {
        @at-root #{&}--current {
            @extend %cart-manager-table-chip;
            background-color: $current-bg;
        }

        @at-root #{&}--autosave {
            @extend %cart-manager-table-chip;
            background-color: $autosave-bg;
        }
    }
}


// Cart rename modal styles
.cart-rename {
    @media screen and (min-width: $screen-sm-min) {
        display: flex;
    }

    .form-group {
        margin-bottom: 0;
    }

    @at-root #{&}__name-area {
        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 40%;
        }
    }

    @at-root #{&}__identifier-area {
        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 40%;
        }
    }

    @at-root #{&}__explanation {
        margin-top: 1.2rem;
        font-size: 0.9rem;
    }

    @at-root #{&}__control-area {
        text-align: center;
        font-size: 1.9rem;

        @media screen and (min-width: $screen-sm-min) {
            flex: 0 0 20%;
            margin-top: 1.5rem;
        }

        button {
            @extend .icon;
            @extend .icon-arrow-circle-down;
            padding: 4px 8px;
            color: #606060;
            background-color: transparent;
            border: 1px solid #808080;
            border-radius: 5px;

            @media screen and (min-width: $screen-sm-min) {
                &:before {
                    content: $fa-var-arrow-circle-right;
                }
            }
        }

        @at-root #{&}--enabled {
            button {
                color: #fff;
                background-color: #808080;
                border-color: #404040;
            }
        }
    }

    @at-root #{&}__input {
        width: 100% !important;
    }
}


// Display of the number of carts the user owns.
.cart-counts {
    padding: 2px 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #606060;
    background-color: #fff;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}


// Experiment tables with a cart control in the header.
.experiment-table {
    @at-root #{&}__header {
        display: flex;
    }

    @at-root #{&}__title {
        flex: 1 1 auto;
    }

    @at-root #{&}__control {
        flex: 0 1 auto;
        margin: -5px -5px -5px 10px;
    }
}
