/* Validation Details Page */
.type-characterization.view-detail {
		header {
			margin: 0 15px;
			h3 {
				margin-bottom: 0;
			}
	}
}


.type-characterization.view-detail figure, .type-document.view-detail figure {
	@include border-radius($border-radius-base);
	margin: 14px;
	padding: 10px;
	border: 1px solid;
	text-align: center;
}

.type-characterization.view-detail figcaption {
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

/* should make the below a mixin */
.type-characterization.view-detail.status-compliant {
  figure { border-color: $state-success-border; background-color: $state-success-bg; }
  	figcaption { color: $state-success-text; }
}

.type-characterization.view-detail.status-not-compliant, .type-document.view-detail.status-deleted,
    .type-characterization.view-detail.status-not-reviewed {
  figure { border-color: $state-danger-border; background-color: $state-danger-bg; }
  	figcaption { color: $state-danger-text; }
}

.type-characterization.view-detail.status-pending-dcc-review {
  figure { border-color: $state-info-border; background-color: $state-info-bg; }
  	figcaption { color: $state-info-text; }
}

.type-characterization.view-detail.status-in-progress, .type-document.view-detail.status-none,
    .type-characterization.view-detail.status-not-submitted-for-review-by-lab {
  figure { border-color: #e1e1e8; background-color: #f7f7f9; }
  	figcaption { color: #333; }
}

.characterization-img {
    @include img-responsive();
	max-height: 360px;
}

.characterization-meta-data {
	margin: 15px 15px 15px 0;
}

.characterization-status {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 1.5em;
}

.characterization-status .compliant {
	color: $state-success-text;
	top: -5px;
	position: relative;
}

.characterization-status .pending-dcc-review { 
	/* use with icon-tasks or maybe icon-inbox */
	color: $state-info-text;
	top: -5px;
	position: relative;
}

.characterization-status .not-compliant, .characterization-status .not-reviewed {  /* use with icon-thumbs-down */
	color: $state-danger-text;
	top: -5px;
	position: relative;
}

.characterization-status .in-progress, {  /* use with icon-thumbs-down */
	color: #f89406;
	top: -5px;
	position: relative;
}

.label {
	background-color: $gray-light;
}

h3 .label {
	font-size: 16px;
	line-height: 20px;
	position: relative;
	top: -3px;
	left: 15px;
}

.characterization-status-labels {
	font-weight: bold;
	font-size: 1.2em;
	float: right;
}

@each $item in label, badge {
	// ELIGIBLE FOR NEW DATA (green)
	.#{$item}.status-eligible-for-new-data        { background-color: $state-success-text; }
	.#{$item}.status-eligible-for-new-data[href]   { background-color: darken($state-success-text, 10%); }
	// PENDING DCC REVIEW (blue)
	.#{$item}.status-pending-dcc-review		 { background-color: $state-info-text; }
	.#{$item}.status-pending-dcc-review[href] { background-color: darken($state-info-text, 10%); }
	// NOT ELIGIBLE FOR NEW DATA (red)
	.#{$item}.status-not-eligible-for-new-data          { background-color: $state-danger-text; }
	.#{$item}.status-not-eligible-for-new-data[href]    { background-color: darken($state-danger-text, 10%); }
	// AWAITING LAB CHARACTERIZATION (yellow)
	.#{$item}.status-awaiting-lab-characterization      { background-color: $state-warning-text; }
	.#{$item}.status-awaiting-lab-characterization[href]{ background-color: darken($state-warning-text, 10%); }
	// COMPLIANT (green)
	.#{$item}.status-compliant          { background-color: $state-success-text; }
	.#{$item}.status-compliant[href]    { background-color: darken($state-success-text, 10%); }
	// NOT COMPLIANT (red)
	.#{$item}.status-not-compliant          { background-color: $state-danger-text; }
	.#{$item}.status-not-compliant[href]    { background-color: darken($state-danger-text, 10%); }
	// NOT REVIEWED (red)
	.#{$item}.status-not-reviewed         { background-color: $state-danger-text; }
	.#{$item}.status-not-reviewed[href]    { background-color: darken($state-danger-text, 10%); }

	/* (gray) is the default if no class given */
}