$indicator-eligible:        #00e500;
$indicator-eligible-exempt: #e38000;
$indicator-pending:         #33aaff;
$indicator-noteligible:     #cc0700;
$indicator-awaiting:        #ebe310;
$indicator-notreviewed:     #1475c9;
$indicator-notpursued:      #d0d0d0;

$document-figure-width: 64px;
$document-figure-height: 64px;
$characterization-figure-width: 64px;
$characterization-figure-height: 64px;
$qualitymetric-figure-width: 96px;
$qualitymetric-figure-height: 96px;
$attachment-button-margin: 3px;


.document-title {
    padding: 5px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #c0c0c0;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
}


@mixin status-colors($bg, $text) {
    figure {
        background-color: $bg;
    }

    figcaption {
        color: $text;
    }
}


.type-Characterization.view-detail.status-compliant {
    @include status-colors($state-success-bg, $state-success-text);
}

.type-Characterization.view-detail.status-not-compliant {
    @include status-colors($state-danger-bg, $state-danger-text);
}

.type-Characterization.view-detail.status-pending-dcc-review {
    @include status-colors($state-info-bg, $state-info-text);
}

.type-Characterization.view-detail.status-in-progress,
.type-Characterization.view-detail.status-not-submitted-for-review-by-lab,
.type-Characterization.view-detail.status-not-reviewed {
    @include status-colors($bg: #f7f7f9, $text: #333);
}

.type-Characterization.view-detail.type-AntibodyCharacterization {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    h4 {
        margin: 0;
        padding: 5px 20px 8px;
        background-color: desaturate(lighten(#0a253d,30%),30%);
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .row {
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel-footer {
        padding: 0;
    }
}

.characterization-img {
    @include img-responsive();
    max-height: 360px;
}

.document-meta-data {
    margin: 0;
    padding: 10px;

    .label {
        display: inline-block;
        font-size: 0.8rem;
    }

    @media screen and (min-width: $screen-sm-min) {
        flex: 1 1 auto;
    }
}

.characterization-meta-data {
    @extend .document-meta-data;
    padding: 0;
}

.characterization-status {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.5rem;

    %status-pos {
        top: -5px;
        position: relative;
    }

    .compliant {
        @extend %status-pos;
        color: $state-success-text;
    }

    .pending-dcc-review { 
        /* use with icon-tasks or maybe icon-inbox */
        @extend %status-pos;
        color: $state-info-text;
    }

    .not-compliant,
    .not-reviewed {  /* use with icon-thumbs-down */
        @extend %status-pos;
        color: $state-danger-text;
    }

    .in-progress, {  /* use with icon-thumbs-down */
        @extend %status-pos;
        color: #f89406;
    }
}

.characterization-status-labels {
    display: block;
    font-weight: bold;

    @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
        margin-right: 5px;

        .status-list li {
            height: 28px;
        }
    }
}


.label {
    display: table-cell;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    text-align: left;
    padding: .3em .5em .4em;
    font-size: 1rem;
    line-height: 1.1;
    background-color: $gray-light;

    @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
        font-size: 1.1rem;
    }
}

.status-list {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $screen-sm-min) {
        display: block;
        width: auto;
    }

    li {
        display: table-cell;
        border-radius: 0;
        vertical-align: bottom;
        border-left: 1px solid #606060;

        @media screen and (min-width: $screen-sm-min) {
            display: inline-block;
        }

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: none;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.status-list-title {
    display: block;
    font-size: 0.7rem;
    font-weight: normal;
    text-align: left;

    @media screen and (min-width: $screen-sm-min) {
        display: inline;
        font-size: 1.2rem;
    }
}

@each $item in label, badge {
    // ELIGIBLE FOR NEW DATA (green)
    .#{$item}.status-characterized-to-standards        { background-color: $brand-success; }
    .#{$item}.status-characterized-to-standards[href]   { background-color: darken($brand-success, 10%); }
    // PENDING DCC REVIEW (blue)
    .#{$item}.status-pending-dcc-review      { background-color: $brand-info; }
    .#{$item}.status-pending-dcc-review[href] { background-color: darken($brand-info, 10%); }
    // NOT ELIGIBLE FOR NEW DATA (red)
    .#{$item}.status-not-characterized-to-standards          { background-color: $brand-danger; }
    .#{$item}.status-not-characterized-to-standards[href]    { background-color: darken($brand-danger, 10%); }
    // AWAITING LAB CHARACTERIZATION (yellow)
    .#{$item}.status-awaiting-characterization      { background-color: $brand-warning; }
    .#{$item}.status-awaiting-characterization[href]{ background-color: darken($brand-warning, 10%); }
    // COMPLIANT (green)
    .#{$item}.status-compliant          { background-color: $brand-success; }
    .#{$item}.status-compliant[href]    { background-color: darken($brand-success, 10%); }
    // NOT COMPLIANT (red)
    .#{$item}.status-not-compliant          { background-color: $brand-danger; }
    .#{$item}.status-not-compliant[href]    { background-color: darken($brand-danger, 10%); }
    // NOT REVIEWED (red)
    .#{$item}.status-not-reviewed         { background-color: #a0a0a0; }
    .#{$item}.status-not-reviewed[href]    { background-color: darken(#a0a0a0, 10%); }
    // NOT REVIEWED (orange)
    .#{$item}.status-exempt-from-standards         { background-color: $indicator-eligible-exempt; }
    .#{$item}.status-exempt-from-standards[href]    { background-color: darken($indicator-eligible-exempt, 10%); }

    // Experiment (Dataset) and Biosample states
    // IN PROGRESS (blue)
    .#{$item}.status-in-progress        { background-color: $brand-info; }
    .#{$item}.status-in-progress[href]   { background-color: darken($brand-info, 10%); }
    // STARTED (blue)
    .#{$item}.status-started        { background-color: $brand-info; }
    .#{$item}.status-started[href]   { background-color: darken($brand-info, 10%); }
    // VERIFIED (blue)
    .#{$item}.status-verified        { background-color: $brand-info; }
    .#{$item}.status-verified[href]   { background-color: darken($brand-info, 10%); }
    // SUBMITTED (blue)
    .#{$item}.status-submitted        { background-color: $brand-info; }
    .#{$item}.status-submitted[href]   { background-color: darken($brand-info, 10%); }
    // IN REVIEW (blue)
    .#{$item}.status-in-review        { background-color: $brand-info; }
    .#{$item}.status-submitted[href]   { background-color: darken($brand-info, 10%); }
    // PROPOSED (blue)
    .#{$item}.status-proposed        { background-color: $brand-info; }
    .#{$item}.status-proposed[href]   { background-color: darken($brand-info, 10%); }
    // RELEASE READY (blue)
    .#{$item}.status-release-ready        { background-color: $brand-info; }
    .#{$item}.status-release-ready[href]   { background-color: darken($brand-info, 10%); }
    // RELEASED (green)
    .#{$item}.status-released        { background-color: $brand-success; }
    .#{$item}.status-released[href]   { background-color: darken($brand-success, 10%); }
    // DELETED (orange)
    .#{$item}.status-deleted        { background-color: $brand-warning; }
    .#{$item}.status-deleted[href]   { background-color: darken($brand-warning, 10%); }
    // REVOKED (red)
    .#{$item}.status-revoked        { background-color: $brand-danger; }
    .#{$item}.status-revoked[href]   { background-color: darken($brand-danger, 10%); }

    // Validation Statuses
    // PENDING (orange)
    .#{$item}.status-pending        { background-color: $brand-warning; }
    .#{$item}.status-pending[href]   { background-color: darken($brand-warning, 10%); }
    // FAILED (red)
    .#{$item}.status-fail        { background-color: $brand-danger; }
    .#{$item}.status-fail[href]   { background-color: darken($brand-danger, 10%); }
    // PASSED (green)
    .#{$item}.status-pass        { background-color: $brand-success; }
    .#{$item}.status-pass[href]   { background-color: darken($brand-success, 10%); }

    // Audit Statuses
    // "no audit" (green)
    .#{$item}.status-audit-default        { background-color: $brand-success; }
    .#{$item}.status-audit-default[href]   { background-color: darken($brand-success, 10%); }

    // INTERNAL_ACTION, other (gray)
    .#{$item}.status-audit-dcc_action        { background-color: #999; }
    .#{$item}.status-audit-dcc_action[href]   { background-color: darken(#999, 10%); }

    // NOT_COMPLIANT (blue)
    .#{$item}.status-audit-not_compliant        { background-color: $brand-info; }
    .#{$item}.status-audit-not_compliant[href]   { background-color: darken($brand-info, 10%); }

    // WARNING (orange)
    .#{$item}.status-audit-warning        { background-color: $brand-warning; }
    .#{$item}.status-audit-warning[href]   { background-color: darken($brand-warning, 10%); }

    // ERROR (red)
    .#{$item}.status-audit-error        { background-color: $brand-danger; }
    .#{$item}.status-audit-error[href]   { background-color: darken($brand-danger, 10%); }

    /* (gray) is the default if no class given */
}

// Status indicator glyph colors
.indicator.status-characterized-to-standards { color: $indicator-eligible; }
.indicator.status-characterized-to-standards-with-exemption { color: $indicator-eligible-exempt; }
.indicator.status-pending-dcc-review { color: $indicator-pending; }
.indicator.status-not-characterized-to-standards { color: $indicator-noteligible; }
.indicator.status-awaiting-characterization { color: $indicator-awaiting; }
.indicator.status-not-pursued { color: $indicator-notpursued; }
.indicator.status-not-reviewed { color: $indicator-notreviewed; }

%file-icon {
    @include img-responsive();
    @include text-hide;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}

.file-pdf {
    @extend %file-icon;
    background-image: url(/static/img/file-pdf.svg);
}

.file-generic {
    @extend %file-icon;
    background-image: url(/static/img/file.svg);
}

.file-missing {
    @extend %file-icon;
    background-image: url(/static/img/file-broken.svg);
}

.status-indicators {
    white-space: nowrap;
}

.facet-term-key {
    margin-right: 5px;
    font-size: 1.1rem;
}


@mixin type-panel($figure-width, $figure-height) {

    margin-top: 0;

    &.view-detail {
        padding: 0;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
        }

        figure {
            position: relative;
            display: block;
            float: none;
            width: 100%;
            height: $figure-height;
            padding: 3px;
            margin: 0;
            padding: 0;
            border-left: 1px solid #e8e8e8;
            background-color: #fff;

            .attachment, div.file-missing {
                position: absolute;
                display: table;
                top: 0;
                left: 0;
                width: $figure-height;
                height: $figure-height;
                padding: 3px;

                .attachment-button {
                    position: relative;
                    display: table-cell;
                    height: $figure-height - (2 * $attachment-button-margin);
                    width: $figure-height - (2 * $attachment-button-margin);
                    text-align: center;
                    vertical-align: middle;
                    border-radius: 5px;
                    border: 1px solid #a0a0a0;
                    background-color: #f0f0f0;

                    &:hover {
                        background-color: #e0e0e0;
                    }
                }

                &.file-pdf,
                &.file-generic,
                &.file-missing {
                    height: $figure-width - (2 * $attachment-button-margin);
                }

                img {
                    display: inline-block;
                    max-height: .8 * $figure-height;
                    max-width: .8 * $figure-width;
                    height: auto;
                    width: auto;
                }
            }

            @media screen and (min-width: $screen-sm-min) {
                flex: 0 0 $figure-width;
                margin: 0 0 0 5px;
            }

        }

        h3 {
            line-height: normal;
        }
    }
}


.attachment {
    padding: $attachment-button-margin;

    @at-root #{&}__button {
        display: block;
        position: relative;
        padding: $attachment-button-margin;
        height: $document-figure-height - (2 * $attachment-button-margin);
        width: $document-figure-width - (2 * $attachment-button-margin);
        border-radius: 5px;
        border: 1px solid #a0a0a0;
        overflow: hidden;
    }

    @at-root #{&}__hover {
        position : absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        z-index: 1;

        &:hover {
            background-color:rgba(0,0,0,0.2);
        }
    }
}


.characterization-badge {
    .status-list {
        display: inline-block;
        width: auto;

        .label {
            display: inline-block;
            margin: 3px 0 3px -7px;
            width: 100%;
            padding: 0 17px 0 10px;
            text-align: center;
            font-size: 0.85rem;
            line-height: 24px;
        }
    }
}


.dl-link {
    word-break: break-all;
}

.type-QualityMetric {
    @include type-panel($qualitymetric-figure-width, $qualitymetric-figure-width);
}

// Document styles, normally added to a <Panel> component's classes.
$detail-switch-height: 30px;
$detail-switch-width: 30px;
.document {
    margin-top: 0;

    // Document header; normally a document type and/or label
    @at-root #{&}__header {
        padding: 5px;
        border-bottom: 1px solid #c0c0c0;
        font-weight: bold;
        text-transform: capitalize;
    }

    @at-root #{&}__intro {
        display: flex;
        border-bottom: 1px solid #c0c0c0;
    }

    @at-root #{&}__caption {
        flex: 1 1 auto;
        margin: 5px;
    }

    @at-root #{&}__preview {
        flex: 0 0 $document-figure-width;
        margin: 0;
        height: $document-figure-height;
        border-left: 1px solid #c0c0c0;
    }

    @at-root #{&}__file {
        display: flex;

        @at-root #{&}-name {
            flex: 1 1 auto;

            @at-root #{&}-icon {
                display: inline-block;
                padding: 0 5px;
                line-height: $detail-switch-height;
            }

            @at-root #{&}-link {
                display: inline;
                line-height: $detail-switch-height;
            }
        }

        @at-root #{&}-detail-switch {
            flex: 0 0 $detail-switch-width;
            padding: 5px;
            height: $detail-switch-height;
            line-height: $detail-switch-height;
            background-color: #e8e8e8;

            &:hover {
                background-color: #b8c7d5;
            }
        }
    }

    @at-root #{&}__detail {
        display: none;
        margin: 0;
        padding: 10px 5px;
        border-top: 1px solid #c0c0c0;

        &.active {
            display: block;
        }
    }
}


.quality-metric-header {
    height: auto;
    overflow: visible;
}

%panel-intro {
    padding: 5px;

    h3 {
        margin: 0;
        font-size: 1.2rem;
    }

    p {
        margin: 2px 0 0 0;
        font-size: 1rem;
        word-wrap: break-word;
    }
}

.document-intro {
    @extend %panel-intro;
}

.characterization-intro {
    @extend %panel-intro;
    padding: 10px;
}


// ***************************************
// Document download file bar classes

// THe file bar itself
.dl-bar {
    position: relative;
    height: $detail-switch-height;
    padding: 0 10px 0 10px;
    line-height: $detail-switch-height;
    border-bottom: 1px solid #e8e8e8;
    white-space: nowrap;
    overflow: hidden;
}

// Icon within .detail-switch to show the current state of the switch
.detail-trigger {
    @extend .icon-caret-down;
    display: block;
    height: $detail-switch-height;
    line-height: $detail-switch-height;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    transition: 0.1s linear;

    &.collapsed {
        transform: rotate(90deg);
    }
}

.collapsing-doc {
    position: relative;
    display: block;
    padding: 5px;

    &:hover {
        background-color: darken(#d8e0e8, 10%);
        text-decoration: none;
    }
}

.key-value-trigger {
    display: block;
    width: 100%;
    margin: 0;
    background-color: $mainThemeColor;
    text-align: center;
    background-image: linear-gradient(top, lighten($mainThemeColor,5%) 0%, $mainThemeColor 100%);
    background-image: -ms-linear-gradient(top, lighten($mainThemeColor,5%) 0%, $mainThemeColor 100%);
    border-top: 1px solid #808080 !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0 10px;
    line-height: 32px;
    color: #333333;

    &:hover {
        background-image: linear-gradient(top, $mainThemeColor 0%, darken($mainThemeColor,5%) 100%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 3px 2px #94bfe7 inset;
    }

    &.panel-footer {
        padding: 0;
    }
}




.document-slider {
    display: none;
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #e8e8e8;

    &.active {
        display: block;
    }

    > div {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}


.characterization-slider {
    display: none;

    &.active {
        display: block;
    }
}

.characterization-slider-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);

    &.active {
        display: none;
    }
}

.status-line {
    vertical-align: top;
}

.journal, .author {
   font-size: 1rem;
}

// Characterization panel biosample terms
// **********

// area to hold biosample terms
.document__characterization-reviews {
    display: flex;
    margin-right: -1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #c0c0c0;
}

// each biosample term
.document__characterization-biosample-term {
    flex: 1 1 auto;
    align-self: auto;
    padding: 2px 5px;
    margin-right: 1px;
    text-align: center;
    background-color: #e8e8e8;
    font-size: 0.9rem;
}

.document__characterization-badge {
    flex: 1 1 auto;
    padding: 0 3px;

    .status-list {
        .label {
            display: inline-block;
            margin: 3px 0;
            padding: 0 17px 0 10px;
            text-align: center;
            font-size: 0.85rem;
            line-height: 24px;
        }
    }
}
