/* Validation Details Page */

.type-document.view-detail {
    figure {
        @include border-radius($border-radius-base);
        margin: 14px;
        padding: 10px;
        border: 1px solid;
        text-align: center;
    }

    figcaption {
        font-weight: bold;
        text-align: center;
        padding: 5px;
    }
}


.type-characterization.view-detail {
    @extend .type-document.view-detail;

    header {
        margin: 0 15px;

        h3 {
            margin-bottom: 0;
        }
    }
}


@mixin status-colors($border, $bg, $text) {
    figure {
        border-color: $border;
        background-color: $bg;
    }

    figcaption {
        color: $text;
    }
}


.type-characterization.view-detail.status-compliant {
    @include status-colors($state-success-border, $state-success-bg, $state-success-text);
}

.type-characterization.view-detail.status-not-compliant,
.type-characterization.view-detail.status-not-reviewed,
.type-document.view-detail.status-deleted {
    @include status-colors($state-danger-border, $state-danger-bg, $state-danger-text);
}

.type-characterization.view-detail.status-pending-dcc-review {
    @include status-colors($state-info-border, $state-info-bg, $state-info-text);
}

.type-characterization.view-detail.status-in-progress,
.type-characterization.view-detail.status-not-submitted-for-review-by-lab,
.type-document.view-detail.status-none {
    @include status-colors($border: #e1e1e8, $bg: #f7f7f9, $text: #333);
}

.characterization-img {
    @include img-responsive();
    max-height: 360px;
}

.characterization-meta-data {
    margin: 15px 15px 15px 0;

    .label {
        display: inline-block;
    }
}


.characterization-status {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.5em;

    %status-pos {
        top: -5px;
        position: relative;
    }

    .compliant {
        @extend %status-pos;
        color: $state-success-text;
    }

    .pending-dcc-review { 
        /* use with icon-tasks or maybe icon-inbox */
        @extend %status-pos;
        color: $state-info-text;
    }

    .not-compliant,
    .not-reviewed {  /* use with icon-thumbs-down */
        @extend %status-pos;
        color: $state-danger-text;
    }

    .in-progress, {  /* use with icon-thumbs-down */
        @extend %status-pos;
        color: #f89406;
    }
}

.characterization-status-labels {
    font-weight: bold;
    font-size: 20px;

    .label {
        @media screen and (min-width: $screen-sm-min) {
        }
    }
}


.label {
    display: table-cell;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    text-align: left;
    padding: .3em .5em .4em;
    font-size: 0.8em;
    background-color: $gray-light;

    @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
    }
}

.status-list {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $screen-sm-min) {
        display: block;
        width: auto;
    }

    li {
        display: table-cell;
        @include border-radius(0);
        vertical-align: bottom;
        border-left: 1px solid #606060;

        @media screen and (min-width: $screen-sm-min) {
            display: inline-block;
        }

        &:first-child {
            @include border-top-left-radius(4px);
            @include border-bottom-left-radius(4px);
            border-left: none;
        }

        &:last-child {
            @include border-top-right-radius(4px);
            @include border-bottom-right-radius(4px);
        }
    }
}

.status-list-title {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-align: left;

    @media screen and (min-width: $screen-sm-min) {
        display: inline;
        font-size: 16px;
    }
}

@each $item in label, badge {
    // ELIGIBLE FOR NEW DATA (green)
    .#{$item}.status-eligible-for-new-data        { background-color: $brand-success; }
    .#{$item}.status-eligible-for-new-data[href]   { background-color: darken($brand-success, 10%); }
    // PENDING DCC REVIEW (blue)
    .#{$item}.status-pending-dcc-review      { background-color: $brand-info; }
    .#{$item}.status-pending-dcc-review[href] { background-color: darken($brand-info, 10%); }
    // NOT ELIGIBLE FOR NEW DATA (red)
    .#{$item}.status-not-eligible-for-new-data          { background-color: $brand-danger; }
    .#{$item}.status-not-eligible-for-new-data[href]    { background-color: darken($brand-danger, 10%); }
    // AWAITING LAB CHARACTERIZATION (yellow)
    .#{$item}.status-awaiting-lab-characterization      { background-color: $brand-warning; }
    .#{$item}.status-awaiting-lab-characterization[href]{ background-color: darken($brand-warning, 10%); }
    // COMPLIANT (green)
    .#{$item}.status-compliant          { background-color: $brand-success; }
    .#{$item}.status-compliant[href]    { background-color: darken($brand-success, 10%); }
    // NOT COMPLIANT (red)
    .#{$item}.status-not-compliant          { background-color: $brand-danger; }
    .#{$item}.status-not-compliant[href]    { background-color: darken($brand-danger, 10%); }
    // NOT REVIEWED (red)
    .#{$item}.status-not-reviewed         { background-color: $brand-danger; }
    .#{$item}.status-not-reviewed[href]    { background-color: darken($brand-danger, 10%); }

    // Experiment (Dataset) and Biosample states
    // IN PROGRESS (blue)
    .#{$item}.status-in-progress        { background-color: $brand-info; }
    .#{$item}.status-in-progress[href]   { background-color: darken($brand-info, 10%); }
    // STARTED (blue)
    .#{$item}.status-started        { background-color: $brand-info; }
    .#{$item}.status-started[href]   { background-color: darken($brand-info, 10%); }
    // VERIFIED (blue)
    .#{$item}.status-verified        { background-color: $brand-info; }
    .#{$item}.status-verified[href]   { background-color: darken($brand-info, 10%); }
    // SUBMITTED (blue)
    .#{$item}.status-submitted        { background-color: $brand-info; }
    .#{$item}.status-submitted[href]   { background-color: darken($brand-info, 10%); }
    // PROPOSED (blue)
    .#{$item}.status-proposed        { background-color: $brand-info; }
    .#{$item}.status-proposed[href]   { background-color: darken($brand-info, 10%); }
    // RELEASE READY (blue)
    .#{$item}.status-release-ready        { background-color: $brand-info; }
    .#{$item}.status-release-ready[href]   { background-color: darken($brand-info, 10%); }
    // RELEASED (green)
    .#{$item}.status-released        { background-color: $brand-success; }
    .#{$item}.status-released[href]   { background-color: darken($brand-success, 10%); }
    // DELETED (orange)
    .#{$item}.status-deleted        { background-color: $brand-warning; }
    .#{$item}.status-deleted[href]   { background-color: darken($brand-warning, 10%); }
    // REVOKED (red)
    .#{$item}.status-revoked        { background-color: $brand-danger; }
    .#{$item}.status-revoked[href]   { background-color: darken($brand-danger, 10%); }

    // Validation Statuses
    // PENDING (orange)
    .#{$item}.status-pending        { background-color: $brand-warning; }
    .#{$item}.status-pending[href]   { background-color: darken($brand-warning, 10%); }
    // FAILED (red)
    .#{$item}.status-fail        { background-color: $brand-danger; }
    .#{$item}.status-fail[href]   { background-color: darken($brand-danger, 10%); }
    // PASSED (green)
    .#{$item}.status-pass        { background-color: $brand-success; }
    .#{$item}.status-pass[href]   { background-color: darken($brand-success, 10%); }

    /* (gray) is the default if no class given */
}


%file-icon {
    @include img-responsive();
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file-pdf {
    @extend %file-icon;
    background-image: url(/static/img/file-pdf.svg);

    .no-svg & {
        background-image: url(/static/img/file-pdf.png);
    }
}

.file-generic {
    @extend %file-icon;
    background-image: url(/static/img/file.svg);

    .no-svg & {
        background-image: url(/static/img/file.png);
    }
}

.file-missing {
    @extend %file-icon;
    background-image: url(/static/img/file-broken.svg);

    .no-svg & {
        background-image: url(/static/img/file-broken.png);
    }
}
