/* Validation Details Page */
.type-characterization.view-detail {
		header {
			margin: 0 15px;
			h3 {
				margin-bottom: 0;
			}
	}
}


.type-characterization.view-detail figure, .type-document.view-detail figure {
	@include border-radius($baseBorderRadius);
	margin: 14px;
	padding: 10px;
	border: 1px solid;
	text-align: center;
}

.type-characterization.view-detail figcaption {
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

/* should make the below a mixin */
.type-characterization.view-detail.status-compliant {
  figure { border-color: $successBorder; background-color: $successBackground; }
  	figcaption { color: $successText; }
}

.type-characterization.view-detail.status-not-compliant, .type-document.view-detail.status-deleted {
  figure { border-color: $errorBorder; background-color: $errorBackground; }
  	figcaption { color: $errorText; }
}

.type-characterization.view-detail.status-pending-dcc-review {
  figure { border-color: $infoBorder; background-color: $infoBackground; }
  	figcaption { color: $infoText; }
}


.type-characterization.view-detail.status-in-progress, .type-document.view-detail.status-none {
  figure { border-color: #e1e1e8; background-color: #f7f7f9; }
  	figcaption { color: #333; }
}

.characterization-img {
	max-height: 360px;
}

.characterization-meta-data {
	margin: 15px 15px 15px 0;
}

.characterization-status {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 1.5em;
}

.characterization-status .compliant {
	color: $successText;
	top: -5px;
	position: relative;
}

.characterization-status .pending-dcc-review { 
	/* use with icon-tasks or maybe icon-inbox */
	color: $infoText;
	top: -5px;
	position: relative;
}

.characterization-status .not-compliant, .characterization-status .not-reviewed {  /* use with icon-thumbs-down */
	color: $errorText;
	top: -5px;
	position: relative;
}

.characterization-status .in-progress, {  /* use with icon-thumbs-down */
	color: #f89406;
	top: -5px;
	position: relative;
}

h3 .label {
	font-size: 16px;
	line-height: 20px;
	position: relative;
	top: -3px;
	left: 15px;
}

.characterization-status-labels {
	font-weight: bold;
	font-size: 1.2em;
	float: right;
}

@each $item in label, badge {
	// ELIGIBLE FOR NEW DATA (green)
	.#{$item}.status-eligible-for-new-data        { background-color: $successText; }
	.#{$item}.status-eligible-for-new-data[href]   { background-color: darken($successText, 10%); }
	// PENDING DCC REVIEW (blue)
	.#{$item}.status-pending-dcc-review		 { background-color: $infoText; }
	.#{$item}.status-pending-dcc-review[href] { background-color: darken($infoText, 10%); }
	// NOT ELIGIBLE FOR NEW DATA (red)
	.#{$item}.status-not-eligible-for-new-data          { background-color: $errorText; }
	.#{$item}.status-not-eligible-for-new-data[href]    { background-color: darken($errorText, 10%); }
	// AWAITING LAB CHARACTERIZATION (yellow)
	.#{$item}.status-awaiting-lab-characterization      { background-color: $warningText; }
	.#{$item}.status-awaiting-lab-characterization[href]{ background-color: darken($warningText, 10%); }
	// COMPLIANT (green)
	.#{$item}.status-compliant          { background-color: $successText; }
	.#{$item}.status-compliant[href]    { background-color: darken($successText, 10%); }
	// NOT COMPLIANT (red)
	.#{$item}.status-not-compliant          { background-color: $errorText; }
	.#{$item}.status-not-compliant[href]    { background-color: darken($errorText, 10%); }
	// NOT REVIEWED (red)
	.#{$item}.status-not-reviewed         { background-color: $errorText; }
	.#{$item}.status-not-reviewed[href]    { background-color: darken($errorText, 10%); }

	/* (gray) is the default if no class given */
}