.collection-charts {
    display: flex;

    @at-root #{&}__chart {
        flex: 0 1 33.33%;
    }

    @at-root #{&}__title {
        text-align: center;
        color: gray;
        font-size: 1.2rem;
        font-weight: 400;
    }

    @at-root #{&}__canvas {
        height: 180px;
    }

    @at-root #{&}__legend {
        margin: 20px auto;
        width: 80%;

        ul {
            padding: 0;
            list-style: none;
        }

        li {
            margin-left: 0;
            padding-left: 18px;
            text-indent: -18px;
        }

        .chart-legend-chip {
            display: inline;
            line-height: 18px;
        }

        .chart-legend-label {
            display: inline;
            top: 0;
            line-height: 18px;
        }

        a {
            display: block;
            margin: 3px 0;
            padding: 0 3px;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }
}


.collection-sub-header {
    margin: -5px 0 15px;
    font-size: 1rem;
    font-weight: normal;
    color: #808080;
}


.collection-no-chart {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    color: gray;
    font-size: 1.1rem;
    font-style: italic;
}


// Heading for the collection panel
.collection-heading {
    display: flex;
    justify-content: space-between;

    h4 {
        flex: 0 1 auto;
    }

    @at-root #{&}__controls {
        margin: -5px;
        flex: 0 1 auto;
    }
}
