.collection-charts {
    display: flex;

    @at-root #{&}__chart {
        flex: 0 1 33.33%;
    }

    @at-root #{&}__canvas {
        height: 180px;
    }

    @at-root #{&}__legend {
        margin: 20px auto;
        width: 80%;

        ul {
            padding: 0;
            list-style: none;
        }

        .chart-legend-chip {
            width: auto;
            line-height: 18px;
        }

        .chart-legend-label {
            top: 0;
            line-height: 18px;
        }

        a {
            display: block;
            margin: 3px 0;
            padding: 0 3px;
            height: 18px;
            color: black;
            text-decoration: none;

            &:hover {
                background-color: #e0e0e0;
            }
        }
    }
}
