/**
 * For items common to all, or a large subset of, pages.
 */

// Accessory block at the top of most object pages with audits, JSON, etc.
.item-accessories {
    display: flex;

    @at-root #{&}--left {
        flex: 1 1 auto;
    }

    @at-root #{&}--right {
        display: flex;
        flex: 0 1 auto;
    }
}

// doi: (Digital Object Identifier) references, including Copy button.
$doi-ref-border-color: #a0a0a0;

.doi-ref {
    display: flex;
    margin: -12px 0 10px;

    @at-root #{&}__link {
        display: flex;
        align-items: center;
        padding: 0 5px;
        border: 1px solid $doi-ref-border-color;
    }

    @at-root #{&}__copy-button {
        margin: 0;
        background-color: #f0f0f0;

        &.btn {
            background-color: #f0f0f0;
            border: 1px solid $doi-ref-border-color;
            border-left: none;
            border-radius: 0;

            .svg-icon-clipboard {
                margin-right: 3px;
                height: 14px;
                fill: none;
                stroke: #000;
                stroke-width: 22px;
            }
        }
    }
}
