.box {
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 3px;
	overflow: hidden;
}

.facet-list li {
	padding: 0 10px;
	margin: 0 0 6px 0;
	border-radius: 10px;
	position: relative;
	font-size: 0.9em;
}

.facet-list li a {
	color: #000;
}

.facet-list li:hover {
	background-color: #E4E4E4;
}

.facet-list li a:hover {
	text-decoration: none;
}

button.btn.collapsed:before
{
    content:'+ See more...' ;
    display: block;
    text-decoration: none;
    font-size: small;
}

.accession {
	font-size: 1.4em;
	font-weight: bold;
	display: block; 	
}

.accession a div {
	font-size: 0.8em;
	font-weigt: normal;	
}

.type {
	font-size: 0.9em;
	font-weight: normal;
	color: #808080;
}

.accession a:hover {
	text-decoration: none;
}

.data-row {
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}

button.btn:before
{
    content:'- See fewer';
    display: block;
    text-decoration: none;
    font-size: small;
}

.result-table {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.result-table li {
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 0.9em;
}
 
.result-table li a {
	text-decoration: none;
	display: block;
	width: 220px;

	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}

.highlight {
	color: #8B8A88;	
}

.highlight em {
	font-size: 1.2em;
	font-weight: bold;
}
