.box {
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 3px;
	overflow: hidden;
}

.facet-list li {
	padding: 0 10px;
	margin: 0 0 6px 0;
	border-radius: 10px;
	position: relative;
	font-size: 0.9em;
}

.facet-list li a {
	display: block;
	color: #000;
}

.facet-list li:hover {
	background-color: #E4E4E4;
}

.facet-list li a:hover {
	text-decoration: none;
}

button.btn.collapsed:before
{
    content:'+ See more...' ;
    display: block;
    text-decoration: none;
    font-size: small;
}

.accession {
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	width: 90%;
}

.accession a {
	width: 90%;
	display:block;
	first-letter: uppercase;
}

.accession a:first-letter {
	width: 90%;
	text-transform: uppercase;
}

.accession div {
	font-size: 0.8em;
	font-weigt: normal;
	display: block;
	width: 90%;	
}

.accession-str {
	margin-left: 5px;
	font-size: 0.8em;
}

.type {
	font-size: 0.9em;
	font-weight: normal;
	color: #808080;
}

.accession a:hover {
	text-decoration: none;
}

.data-row {
	margin-left: 50px;
	margin-bottom: 10px;
}

.data-row ul {
	text-decoration: none;
	list-style-type: none;
	padding: 0px;
	margin-left: 25px;
}

.data-row ul li {
	border: none;
	margin: 0px;	
}

button.btn:before
{
    content:'- See fewer';
    display: block;
    text-decoration: none;
    font-size: small;
}

.result-table {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.result-table li {
	margin-top: 10px;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 10px;
	font-size: 0.9em;
}

.result-table li:first {
	margin-top: 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	font-size: 0.9em;
}
 
.result-table li a {
	text-decoration: none;
	display: block;

	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
