.box {
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 3px;
	overflow: visible;
}
.facet { margin-right: 20px; }
.facet ul.facet-list { 
	list-style: none; 
	margin: 0; 
	font-weight: bold;
}
.facet h4 {
	margin: 0 0 4px 0;
}
.facet input { vertical-align: middle; }
.facet input[type="radio"] { margin-top:-1px; }
.searchResults {
	list-style: none;
	margin: 10px 0;
}
.result {
	margin: 0 0 25px 0; 
}
.result h3 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.2em;
}
.resultDesc {
	
}
.resultMeta {

}
.facet-list li {
	padding: 2px 10px;
	margin: 0 0 6px 0;
	border-radius: 10px;
	position: relative;
}
.facet li.selected {
	font-weight: bold;
	background-color: #ededed;
}
.facet li.selected:after { left: 99.5%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 

.facet li.selected:after { border-color: rgba(191, 191, 191, 0); border-left-color: #ededed; border-width: 7px; top: 50%; margin-top: -7px; }

.facet-list a:hover {
	text-decoration: none;
}

.results ul {border: solid 1px #ddd; }

.results ul li { background: #f9f9f9; padding:10px;}

.results ul li:nth-child(odd) { background: #fff; padding:10px;}
