.box.facets {
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
    overflow: hidden;

    .horizontal {
        display: block;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $screen-md-min) {
            flex-wrap: nowrap;
            margin-left: -5px;
            margin-right: -5px;
        }

        .facet {
            display: block;

            @media screen and (min-width: $screen-sm-min) {
                min-width: 150px;
                flex: 1 1 auto;
                margin-left: 5px;
                margin-right: 5px;
            }

            @media screen and (min-width: $screen-md-min) {
                min-width: auto;
            }
        }
    }
}

.sm-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.clear-filters-control {
    margin-bottom: 5px;
    text-align: right;
    font-size: 0.9rem;
}

.clear-filters-control-matrix {
    @extend .clear-filters-control;
    text-align: center;
    margin-top: 5px;
}

.facets h5 {
    margin: 2px 0;
}

.facet {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.facet:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.facet-list {
    margin: 0;
}

.facet-list li {
    padding: 3px 10px;
    margin-bottom: 1px;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    font-size: 0.9rem;
    line-height: 1;

    i {
        line-height: 14px;
    }
}

.facet-list {
    li {
        a {
            display: block;
            color: #000;
        }

        &.selected {
            background-color: #4183c4;

            a:hover {
                color: #fff;
            }
        }

        &.negated-selected {
            background-color: #e50400;

            a:hover {
                color: #fff;
            }
        }
    }
}

.facet-list {
    a.selected, a.negated-selected {
        color: #fff;
        text-decoration: none;
        font-weight: normal;
    }
}

.facet-list li a {
    display: block;
    color: #000;
}

.facet-list li a:hover {
    text-decoration: none;
    color: #3e82d7;
}

.facet-term {
    .negated-trigger {
        display: none;
    }

    &:hover {
        .negated-trigger {
            display: block;
            float: right;
            color: #e50400;
        }
    }
}

.facet-item {
    overflow: hidden;
    max-width: 200px;
}

.facet-list button {
    padding: 0;
}

.facet-list button.btn.collapsed:before {
    content:'+ See more...' ;
    text-decoration: none;
    font-size: 0.85rem;
}

.facet-list button.btn:before {
    content:'- See fewer';
    text-decoration: none;
    font-size: 0.85rem;
}

.facet-list label {
    margin: 0;
}

.accession {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 0;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.accession-note {
    font-size: 0.9rem;
    font-weight: normal;

    a[href^="http"]:after {
        font-size: 0.9rem;
    }
}

.type {
    font-size: 0.9rem;
    font-weight: normal;
    color: #808080;
}

.search-meta {
    position: relative;
    padding: 2px 5px;
    text-align: right;
    z-index: 1;

    p {
        color: #909090;
        margin: 0;
        line-height: 1.2;
        text-align: right;

        &.meta-audit {
            margin: 3px 0;

            .audit {
                margin: 0 3px;
                padding: 0;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
            }
        }
    }
}

.meta-title {
    margin-bottom: 7px !important;
    font-size: 1.1rem;
    color: #606060 !important;
}

.meta-status {
    font-weight: bold;
}

div.meta-status {
    text-align: right;
}

.highlight-row {
    font-size: 1rem;
    font-weight: bold;
}

.data-row {
    margin-left: 25px;
    margin-bottom: 10px;
}

.data-row ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin-left: 25px;
}

.data-row ul li {
    display: inline;
    list-style-type: none;
    border: none;
    margin-right: 5px;  
}

.data-row ul li a{
    display: inline;    
}

.data-row img {
    max-width: 128px;
    height: auto;
    margin: auto;
    display: block;
}

.result-table {
    position: relative;
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #a0a0a0;

    li {
        margin-top: 10px;
        border-bottom: 1px solid #E8E8E8;
        margin-bottom: 10px;
        font-size: 0.9rem;

        &:first {
            margin-top: 0px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            font-size: 0.9rem;
        }

    }

    &:before {
        content: none;
        display: block;
    }

    .pull-right {
        position: relative;
        z-index: 2;
    }

    &.result-table-tabbed {
        border-top: 0;
    }
}

 
.main-panel {
    position: relative;
    z-index: 0;
}

span.bar {
    background-color: #E5E5E5;
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    bottom:0;
    z-index: -1;
    transition: width .2s;
    animation-name: stretch-bar;
    animation-duration: .2s;
}

@keyframes stretch-bar {
    from { max-width: 0%; }
    to { max-width: 100%; }
}


// Styles for publication listing

.list-author {
    margin: 0;
    font-size: 1.1rem;
}

.list-citation {
    margin: 0;
    font-size: 0.9rem;
}

.list-reference {
    display: inline;
    margin: 0 !important;
    font-size: 0.9rem;
}

.list-supplementary {
    margin: 0;
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

    &:first-child {
        border-top: 1px solid #e8e8e8;
    }

    button.btn-link {
        margin-left: 5px;
        padding: 0;
        font-size: inherit;
        vertical-align: baseline;
        border: none;
    }
}
