// Title of page when included in a facet list.
@mixin facet-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}


.box.facets {
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
    overflow: hidden;

    .horizontal {
        display: block;
        justify-content: space-between;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $screen-md-min) {
            flex-wrap: nowrap;
        }

        .facet {
            display: block;
            border-bottom: 0;

            @media screen and (min-width: $screen-sm-min) {
                min-width: 150px;
                flex: 0 0 19.5%;
                align-self: flex-start;
            }

            @media screen and (min-width: $screen-md-min) {
                min-width: auto;
            }
        }
    }

    &.summary-facets,
    &.matrix-facets {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    h1 {
        @include facet-title;
    }
}

.sm-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.search-header-control {
    position: relative;
    padding-bottom: 10px;
}

.clear-filters-control {
    position: relative;
    height: 1.1rem;
    margin-top: 5px;

    > div {
        position: absolute;
        top: 0;
        left: 0;
        font-size: .9rem;
    }
}

.facets h5 {
    margin: 2px 0;
    padding-bottom: 5px;
}

.facet {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
    word-break: break-word;
    .term-list {
        max-height: 85px;
        overflow-y: scroll;
        padding: 5px 0;
    }
}

.facet:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.facet-list {
    margin: 0;
}

.facet-list {
    a.selected, a.negated-selected {
        color: #fff;
        text-decoration: none;
        font-weight: normal;
    }
}

.facet-term {
    display: flex;
    position: relative;
    align-items: center;
    margin: 1px 0;
    padding: 0;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 1;

    &:hover {
        background-color: lighten(#4183c4, 40%);
    }

    &.selected {
        background-color: #4183c4;

        .facet-term__item {
            color: white;
        }
    }

    &.negated-selected>.facet-term__item {
        text-decoration: line-through;
    }

    // Optional icon in status facets.
    @at-root #{&}__status {
        flex: 0 0 20px;
        margin-right: 5px;
    }

    // Clickable part of the facet term not including negated-trigger.
    @at-root #{&}__item {
        position: relative;
        display: flex;
        padding: 2px 2px 2px 10px;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        align-self: stretch;
        text-align: left;
        color: #000;

        &:hover, &:focus {
            color: #000;
            text-decoration: none;
        }
    }

    // Text part of facet term
    @at-root #{&}__text {
        flex: 0 1 auto;
    }

    @at-root #{&}__count {
        flex: 0 1 auto;
        word-break: normal;
    }

    // Bar graph representing the relative count.
    @at-root #{&}__bar {
        position: absolute;
        background-color: #E5E5E5;
        right: 0;
        top: 0;
        bottom:0;
        z-index: -1;
    }

    // Button to negate a facet term...
    @at-root #{&}__negator {
        flex: 0 0 15px;
        margin-left: 5px;
        padding: 0 2px 0 0;
        width: 15px;
        height: 10px;
        text-align: right;

        > a {
            display: none;
            width: 10px;
            height: 10px;
            color: #e50400;
        }
    }

    /// ...only appears while hovering anywhere over the term.
    &:hover {
        .facet-term__negator > a {
            display: inline;
        }
    }
}

.facet-item {
    overflow: hidden;
    max-width: 200px;
}

.facet-list__expander {
    padding: 0;

    &.collapsed:before {
        content:'+ See more...' ;
        text-decoration: none;
        font-size: 0.85rem;
    }

    &:before {
        content:'- See fewer';
        text-decoration: none;
        font-size: 0.85rem;
    }
}

.facet-list label {
    margin: 0;
}

.date-selector {
    select {
         border-radius: 2px;
         border: 1px solid #cccccc !important;
         font-weight: 400;
         color: inherit !important;
         margin-right: 2px;
    }
}

.date-selector-facet {
    h5 {
        margin-bottom: 10px;
    }
}

.date-selector-btn {
    color: rgb(79,104,158);
    background: none;
    border: none;
    padding-left: 0;
    margin-left: 5px;
    &:hover {
        text-decoration: underline;
    }
    .icon-caret-right {
        margin-right: 5px;
    }
}

.date-arrow {
    display: flex;
    flex: 0 1 10%;
    font-size: 12px;
    padding-bottom: 5px;
}

.date-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    .date-selector-module {
        flex: 0 0 45%;
    }
}

.apply-date-selector {
    margin: 10px auto;
}

.reset-date-selector {
    margin-left: 5px;
}

.selected-date-range {
    font-style: italic;
    margin-bottom: 10px;
}

.date-selector-toggle-wrapper {
    .date-selector-toggle {
        display: inline-block;
        input {
            margin: 5px;
        }
        margin-right: 10px;
    }
    margin-bottom: 10px;
}

.typeahead-entry, .general-search-entry {
    padding: 2px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    .icon-search {
        margin-right: 5px;
        float: left;
        flex-shrink: 0;
    }
    .searchform {
        flex-grow: 1;
    }
    input {
        border-radius: 5px;
        padding: 4px;
        width: 100%;
    }
}

.searcherror {
    font-style: italic;
    padding: 10px;
}

.shading, .top-shading {
    position: absolute;
    right: 0;
    left: 0;
    height: 30px;
    text-align:center;
    cursor: pointer;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    &.hide-shading {
        opacity: 0;
    }
}

.scroll-container, .terms-block {
    position: relative;
}

.shading {
    padding-bottom: 2px;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), 70%, rgba(0,0,0,0.2));
}

.top-shading {
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.2), 30%, rgba(0,0,0,0));
}

.filter-container {
    display: block;
    margin: 10px auto;
    .filter-hed {
        display: inline-block;
        padding: 0 5px;
    }
    .negation-filter {
        color: #e50400;
    }
    .filter-link {
        display: inline-block;
        text-align: center;
        padding: 0 5px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.accession {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1000;
    max-width: 70%;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.accession-note {
    font-size: 0.9rem;
    font-weight: normal;

    a[href^="http"]:after {
        font-size: 0.9rem;
    }
}

.type {
    font-size: 0.9rem;
    font-weight: normal;
    color: #808080;
}

.search-meta {
    position: relative;
    padding: 2px 5px;
    text-align: right;
    z-index: 1;

    p {
        color: #909090;
        margin: 0;
        line-height: 1.2;
        text-align: right;

        &.meta-audit {
            margin: 3px 0;

            .audit {
                margin: 0 3px;
                padding: 0;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
            }
        }
    }
}

.meta-title {
    margin-bottom: 7px !important;
    font-size: 1.1rem;
    color: #606060 !important;
}

.meta-status {
    font-weight: bold;
}

div.meta-status {
    text-align: right;
}

.highlight-row {
    font-size: 1rem;
    font-weight: bold;
}

.data-row {
    margin-left: 25px;
    margin-bottom: 10px;
}

.data-row ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin-left: 25px;
}

.data-row ul li {
    display: inline;
    list-style-type: none;
    border: none;
    margin-right: 5px;
}

.data-row ul li a{
    display: inline;
}

.data-row img {
    max-width: 128px;
    height: auto;
    margin: auto;
    display: block;
}

.result-table {
    position: relative;
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #a0a0a0;

    li {
        margin-top: 10px;
        border-bottom: 1px solid #E8E8E8;
        margin-bottom: 10px;
        font-size: 0.9rem;

        &:first {
            margin-top: 0px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            font-size: 0.9rem;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &:before {
        content: none;
        display: block;
    }

    .pull-right {
        position: relative;
        z-index: 2;
    }

    &.result-table-tabbed {
        border-top: 0;
    }
}

.result-item {
    display: flex;
    flex-wrap: nowrap;

    @at-root #{&}__data {
        flex: 1 1 auto;
        position: relative;
    }

    @at-root #{&}__cart-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 3;
    }

    // Cart control in search results
    @at-root #{&}__cart-control {
        flex: 0 0 35px;

        .cart__toggle {
            margin-left: auto;
        }
    }
}

.main-panel {
    position: relative;
    z-index: 0;
}

@keyframes stretch-bar {
    from { max-width: 0%; }
    to { max-width: 100%; }
}


// Styles for publication listing

.list-author {
    margin: 0;
    font-size: 1.1rem;
}

.list-citation {
    margin: 0;
    font-size: 0.9rem;
}

.list-reference {
    display: inline;
    margin: 0 !important;
    font-size: 0.9rem;
}

.list-supplementary {
    margin: 0;
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

    &:first-child {
        border-top: 1px solid #e8e8e8;
    }

    button.btn-link {
        margin-left: 5px;
        padding: 0;
        font-size: inherit;
        vertical-align: baseline;
        border: none;
    }
}
