// Title of page when included in a facet list.
@mixin facet-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}


.box.facets {
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
    overflow: hidden;

    .hiddenscroll & {
        padding-right: 0;
    }

    .horizontal {
        display: block;
        justify-content: space-between;

        @media screen and (min-width: $screen-sm-min) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $screen-md-min) {
            flex-wrap: nowrap;
        }

        .facet {
            display: block;
            border-bottom: 0;

            @media screen and (min-width: $screen-sm-min) {
                min-width: 150px;
                flex: 0 0 19.5%;
                align-self: flex-start;
            }

            @media screen and (min-width: $screen-md-min) {
                min-width: auto;
            }
        }
    }

    &.summary-facets,
    &.matrix-facets {
        padding: 0;
        border: none;
        border-radius: 0;
    }

    h1 {
        @include facet-title;
    }
}

.sm-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.search-header-control {
    position: relative;
    padding-bottom: 10px;
}

.clear-filters-control {
    position: relative;
    height: 1.1rem;
    margin-top: 5px;

    > div {
        position: absolute;
        top: 0;
        left: 0;
        font-size: .9rem;
    }
}

.facets h5, .facets legend {
    margin: 2px 0;
    padding-bottom: 5px;
}

// Note: "will-change" under .term-list is to fix a Chrome slow-scrolling issue when scrollable
// facets exist.
// https://stackoverflow.com/questions/24741502/can-i-do-anything-about-repaints-on-scroll-warning-in-chrome-for-overflowscr/#answer-41026886

.facet {
    flex-wrap: wrap;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
    word-break: break-word;

    @at-root #{&}__content {
        display: flex;
        position: relative;

        ul {
            margin: 0 2px 0 0;
            padding: 3px 0 3px 3px;
            max-height: 95px;
            flex: 1 1 auto;
            overflow-y: scroll;
        }

        @at-root #{&}--typeahead {
            ul {
                max-height: 200px;
            }
        }
    }

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @at-root #{&}__expander {
        @at-root #{&}--header {
            display: flex;
            flex-direction: row;
            
            i {
                float: right;
            }
        }  
    }

    .facet-open {
        display: inline;
    }

    .facet-close {
        display: none;
    }
}

// Radio button facet styles.
fieldset.facet {
    padding: 0;
    border: none;

    legend {
        font-size: 1rem;
        font-weight: bold;
    }

    .facet__radio {
        display: flex;
        padding: 0 10px;

        input[type="radio"] {
            flex: 0 0 13px;
            cursor: pointer;
        }

        label {
            flex: 1 1 auto;
            display: flex;
            padding-left: 5px;
            line-height: 1.4;
            justify-content: space-between;
            cursor: pointer;
        }

        @at-root #{&}-label {
            flex: 0 0 auto;
        }

        @at-root #{&}-count {
            flex: 0 0 auto;
            padding-right: 27px;
        }
    }
}

.facet-list {
    margin: 0;
}

.facet-list {
    a.selected, a.negated-selected {
        color: #fff;
        text-decoration: none;
        font-weight: normal;
    }
}

.facet-term {
    display: flex;
    position: relative;
    align-items: center;
    margin: 4px 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1;
    z-index: 0;

    // Space for the vanishing scroll bar.
    .hiddenscroll & {
        padding-right: 12px;
    }

    // For file gallery facets.
    &.selected {
        background-color: #4183c4;

        .facet-term__item {
            color: white;
        }
    }

    // For file gallery facets.
    .facet & {
        border-radius: 3px;
    }

    // Optional icon in status facets.
    @at-root #{&}__status {
        margin-right: 5px;
        align-items: center;

        @at-root #{&}-wrapper {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            margin: -2px 0;
        }

        @at-root #{&}-label {
            flex: 0 1 auto;
        }
    }

    // Clickable part of the facet term not including negated-trigger.
    @at-root #{&}__item {
        position: relative;
        display: flex;
        padding: 2px 10px;
        border-radius: 3px;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        align-self: stretch;
        text-align: left;
        color: #000;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: none;
        }

        @at-root #{&}--selected {
            background-color: #4183c4;
            color: white;
        }

        @at-root #{&}--negated {
            background-color: #e50400;
            color: white;
        }
    }

    // Text part of facet term
    @at-root #{&}__text {
        flex: 1 1 auto;
    }

    @at-root #{&}__count {
        flex: 0 1 auto;
        word-break: normal;
    }

    // Bar graph representing the relative count.
    @at-root #{&}__bar {
        position: absolute;
        background-color: #E5E5E5;
        right: 2px;
        top: 0;
        bottom:0;
        z-index: -1;
    }

    // Button to negate a facet term...
    $negator-width: 12px;
    @at-root #{&}__negator {
        flex: 0 0 $negator-width;
        padding: 0 2px 0 0;
        width: $negator-width;
        height: 10px;
        text-align: right;

        > a {
            display: none;
            width: $negator-width;
            height: 10px;
            color: #e50400;
        }
    }

    /// ...only appears while hovering anywhere over the term.
    &:hover {
        .facet-term__negator > a {
            display: inline;
        }
    }
}

.facet-item {
    overflow: hidden;
    max-width: 200px;
}

.facet-list label {
    margin: 0;
}

.date-selector {
    select {
         border-radius: 2px;
         border: 1px solid #cccccc !important;
         font-weight: 400;
         color: inherit !important;
         margin-right: 2px;
    }
}

.date-selector-facet {
    h5 {
        margin-bottom: 10px;
    }

    @at-root #{&}__controls {
        display: flex;
        margin: 10px 0;
    }
}

.date-selector-btn {
    color: rgb(79,104,158);
    background: none;
    border: none;
    padding-left: 0;
    margin-left: 5px;
    font-size: 1rem;
    &:hover {
        text-decoration: underline;
    }
    .icon-caret-right {
        margin-right: 5px;
    }
}

.date-arrow {
    display: flex;
    flex: 0 1 10%;
    font-size: 12px;
    padding-bottom: 5px;
}

.date-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    .date-selector-module {
        flex: 0 0 45%;

        h6 {
            margin: 10px 0;
        }
    }
}

.reset-date-selector {
    margin-left: 5px;
}

.selected-date-range {
    font-style: italic;
    margin-bottom: 10px;
}

.date-selector-toggle-wrapper {
    .date-selector-toggle {
        display: inline-block;
        input {
            margin: 5px;
        }
        margin-right: 10px;
    }
    margin-bottom: 10px;
}

.typeahead-entry, .general-search-entry {
    padding: 2px;
    display: flex;
    align-items: center;
    margin: 5px 0;

    .hiddenscroll & {
        padding-right: 25px;
    }

    .icon-search, .icon-filter {
        margin-right: 5px;
        flex: 0 0 auto;
    }
    .searchform {
        flex: 1 1 auto;
    }
    input {
        border-radius: 5px;
        padding: 4px;
        width: 100%;
    }
}

.searcherror {
    font-style: italic;
    padding: 10px;
}

.bottom-shading, .top-shading {
    position: absolute;
    right: 29px;
    left: 0;
    height: 30px;
    text-align:center;
    cursor: pointer;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    &.hide-shading {
        opacity: 0;
    }
}

.scroll-container, .terms-block {
    position: relative;
}

.bottom-shading {
    padding-bottom: 2px;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), 70%, rgba(0,0,0,0.2));
}

.top-shading {
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.2), 30%, rgba(0,0,0,0));
}

.filter-container {
    display: block;
    margin: 10px auto;
    .filter-hed {
        display: inline-block;
        padding: 0 5px;
    }
    .negation-filter {
        color: #e50400;
    }
    .filter-link {
        display: inline-block;
        text-align: center;
        padding: 0 5px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.accession {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1000;
    max-width: 70%;
}

.accession-note {
    font-size: 0.9rem;
    font-weight: normal;

    a[href^="http"]:after {
        font-size: 0.9rem;
    }
}

.type {
    font-size: 0.9rem;
    font-weight: normal;
    color: #808080;
}

.search-meta {
    position: relative;
    padding: 2px 5px;
    text-align: right;
    z-index: 1;

    p {
        color: #909090;
        margin: 0;
        line-height: 1.2;
        text-align: right;

        &.meta-audit {
            margin: 3px 0;

            .audit {
                margin: 0 3px;
                padding: 0;
                border: none;
                background-color: transparent;
                font-size: 1.3rem;
            }
        }
    }
}

.meta-title {
    margin-bottom: 7px !important;
    font-size: 1.1rem;
    color: #606060 !important;
}

.meta-status {
    font-weight: bold;
}

div.meta-status {
    text-align: right;
}

.main-panel {
    position: relative;
    z-index: 0;
}

@keyframes stretch-bar {
    from { max-width: 0%; }
    to { max-width: 100%; }
}


// Styles for publication listing

.list-author {
    margin: 0;
    font-size: 1.1rem;
}

.list-citation {
    margin: 0;
    font-size: 0.9rem;
}

.list-reference {
    display: inline;
    margin: 0 !important;
    font-size: 0.9rem;
}

.list-supplementary__item {
    margin: 0;
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

    &:first-child {
        border-top: 1px solid #e8e8e8;
    }

    .btn {
        display: block;
    }
}
