.faq-answer {
    display: none;
    &.show {
        display: block;
    }
    padding: 10px;
    margin: 0 30px 10px;
}

.faq-question {
    font-size: 1.1rem;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
    }
}

.faq {
    padding: 0 20px 40px;
    .icon {
        width: 20px;
        margin-right: 5px;
        font-size: 20px;
        color: #B24342;
        vertical-align: text-top !important;
    }
    h3 {
        border-bottom: 1px solid #BFBFBF;
        margin-top: 30px !important;
        padding-bottom: 5px;
        line-height: 1;
    }
    p, li {
        line-height: 1.4;
        margin: 0.2em;
    }
}

.glossary-element {
    h4 {
        font-size: 1.1rem;
    }
}
