.flowcell-details {
    display: flex;
    flex-wrap: wrap;

    @at-root #{&}__panel {
        margin: 0 5px 5px 0 !important;
        flex: 0 1 auto;
    }

    @at-root #{&}__header {
        padding: 5px !important;

        h5 {
            font-size: 0.9rem;
        }
    }

    @at-root #{&}__body {
        padding: 5px !important;
        font-size: 0.9rem;
    }
}
