/*     FORMS      */
/* Input Fields */
$inputBorder: darken(#fff, 20%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputFocusBorderColor: darken(#fff, 26%) !default;

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: inherit;
	border: 1px solid $inputBorder;
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
	@include transition(all 0.15s linear);
		&:focus {
			background: $inputFocusBgColor;
			border-color: $inputFocusBorderColor;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		&[disabled] { background-color: #ddd; }
}

// Navbar search
#navbar-search {
	width: 150px;
	border-radius: 14px;
	height: 27px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin-top: 3px;
	-ms-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
#navbar-search:focus {
	width: 230px;
	-ms-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}

.search-wrapper {
	position: 0;
}

.search-wrapper:after {
	font-family: "FontAwesome";
	content: "\f021";
	position: relative;
	top: 2px;
	left: -24px;
	color: gray;	
}

// large text inputBorder
.input-lg {
	font-size: 20px !important;
	font-weight: normal;
    height: 36px !important;
    line-height: 30px !important;
    padding: 4px 6px !important;
}

// Clear Table Filter button/icon
.filter {
	padding-right: 30px !important;
}
.clear-input-icon {
	position: relative;
	left: -20px;
	top: 1px;
	z-index: 100;
	color: rgb(223,223,223);
	font-size: 15px;
	cursor: pointer;
}

.clear-input-icon:active {
	color: rgb(203,203,203);
}

.red {
	border-color: red !important;
	color: red;
}