/*     FORMS      */
/* Input Fields */
$inputBorder: darken(#fff, 20%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputFocusBorderColor: darken(#fff, 26%) !default;

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: inherit;
	border: 1px solid $inputBorder;
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
	@include transition(all 0.15s linear);
		&:focus {
			background: $inputFocusBgColor;
			border-color: $inputFocusBorderColor;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		&[disabled] { background-color: #ddd; }
}

input.search-query {
	@include border-radius($borderRadiusSmall);
}

#submit-controls { /* is this used anywhere other than a mockup? */
	padding: 5px;
	background-color: #f7fbfe;
	@include border-radius($baseBorderRadius);
}