.trackhub-element {
    border-top: 0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;

    .toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
}
