.trackhub-element {
    border-top: 0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;

    .toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.valis-browser {
    width: 100%;
    min-height: 200px;
    margin-top: 5px;
    button {
        svg {
            margin-left: 0 !important;
            margin-top: 0 !important;
        }
    }
}

.valis-genome-visualizer {
    .react-object-container {
        div {
            background-color: white !important;
            color: #333333;
            font-family: Mada, sans-serif;
        }
    }
}

.hpgv_ui-block {
    color: #364565;
    background-color: #f2f2f2;
    font-size: 16px;
    box-shadow: none;
    font-family: 'Mada', sans-serif;
    border: 0;
    border: 1px solid #BFBFBF;
    &.hpgv_track-header {
        font-size: 14px;
        line-height: 1.2;
        padding: 5px;
        box-shadow: 0 0 12px inset rgba(0,0,0,0.07);
    }
}

.hpgv_panel {
    color: #333;
    font-size: 12px;
}

.hpgv_track-sequence {
    --nucleobase-a: #0C7489;
    --nucleobase-t: #F9CE70;
    --nucleobase-g: #0FA3B1;
    --nucleobase-c: #C14953;
    --gc-banding-low: #0C7489;
    --gc-banding-high: #F9CE70;
    --text-color: rgba(255, 255, 255, 0.7);
    --text-additive-blending: 0; /* set to 0.0 for dark text colors */
}

// styles for bigBed files / annotation files
.hpgv_track-annotation {
    --transcript-arrow: rgba(0, 0, 0, 1.0);
    /* --transcript: #bf513b; */
    --coding: #575F5A;
    --non-coding: #F9CE70;
    --untranslated: #1f2533;
    --coding-max-score: #575F5A;
    --non-coding-max-score: #575F5A;
}

// styles for signal track (like bigwig)
.hpgv_track-signal {
    --signal-color: #3d2531;
}

.hpgv_track {
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
    --loading-indicator: #8ea1bf;
    --cursor: #3645653b;
    --secondary-cursor: #3645653b;
}

.hpgv_track-expander {
    left: unset;
}

.hpgv_track-close-button {
    display: none;
}

.hpgv {
    color: black;
}

.hpgv_ui-block {
    color: black;
}

.hpgv_track-sequence {
    color: black;
}

.gene-search {
    padding: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    @media screen and (max-width: $screen-sm-min) {
        display: block;
        width: 100%;
        padding: 20px 10px 20px 0;
        .icon-search, .searchform {
            margin-left: 10px;
        }
        .icon-search, .search-instructions {
            display: inline-block;
        }
        .submit-gene-search {
            margin-top: 5px;
            margin-left: 0;
        }
    }
    .icon-search {
        margin-right: 5px;
    }
    .search-instructions {
        flex: 0 1 135px;
        font-size: 15px;
        font-weight: 600;
    }
    .searchform {
        flex: 1 0 0;
        position: relative;
        input {
            width: 100%;
            border-radius: 5px;
            font-family: Mada, sans-serif;
            padding: 4px;
        }
        .done {
            position: absolute;
            height: 0;
            top: 30px;
            bottom: 0;
            right: 0;
            left: 0;
            background: white;
            z-index: 99999;
        }
        .adv-search-autocomplete {
            right: 0;
            top: 0;
            background: white;
            color: black;
            margin-top: 0;
        }
        
    }
    .btn {
        margin-left: 10px;
    }
}

.facet-term-Allassemblies-browser, .facet-term-Allassemblies-graph {
    pointer-events: none;
    .facet-term__item, .icon {
        color: #A0A0A0;
    }
}

.facet-term {
    background-color: transparent;
}

.valis-browser {
    &.browser-error {
        margin: 30px 20px;
        text-align: left;
    }
}

.file-gallery-tab-bar {
    .browser-error {
        margin: 30px 20px;
        text-align: left;
    }
}

.file-gallery-facets {
    .assembly-facet {
        .facet-term {
            padding: 0 2px;
            &.selected {
                background-color: white;
                .facet-term__text {
                    color: #000;
                }
            }
        }
    }
    .empty-facet {
        h5 {
            color: #A0A0A0;
        }
    }
    .facet {
        button {
            border: none;
            padding: 0;
            text-align: unset;
            width: calc(100% - 8px);
            margin: 4px;
            .facet-term {
                padding: 2px 2px 2px 5px;
            }
        }
    }
    .assembly-facet {
        button {
            background: none;
        }
    }
}

.browser-container {
    position: relative;
}

.reset-browser-button {
    position: absolute;
    z-index: 9;
    line-height: 1;
    left: 5px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #BFBFBF;
    padding: 7px 20px;
    height: 50px;
    width: 176px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    .icon-undo {
        padding-right: 5px;
        flex: 0 1 20px;
    }
    .reset-title {
        flex: 0 1 auto;
    }
}

.gb-accession {
    font-weight: bold;
}

.gb-info {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    color: #606060;

    > li {
        margin: 5px 0;
    }
}
