// Makes background color gray
.whole-page {
    background-color: #E8ECEF;
}

.twitter-widget {
    padding-right: 20px;
    border-left: 1px solid #a0a0a0;
}

// Positions overall classic with pic and rectangles
.overall-classic {
    position: relative;
    padding-bottom: 0px;

    h1 {
        margin: 0;
        padding: 20px 10px;
        text-align: center;
        font-weight: normal;
        font-size: 1.6rem;

        @media screen and (min-width: $screen-md-min) {
            padding: 30px 10px;
            font-size: 2.5rem;
        }
    }
}

// Overrride styling within the Twitter widget iframe. Hopefully Twitter never changes the name of
// this class. Weird styles here prevent the Twitter widget from overflowing on the right side on
// iOS Safari.
#twitter-widget-0 {
    width: 1px !important;
    min-width: 100% !important;
}

.site-banner {
    display: block;

    @media screen and (min-width: $screen-md-min) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
}

.site-banner-img {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $screen-md-min) {
        flex: 0 1 60%;
    }

    img {
        max-width: 100%;
    }

    .uaTrident & {
        img {
            position: static;
            z-index: auto;
        }
    }
}

.site-banner {
    @at-root #{&}__intro {
        padding: 0px 10px;
        font-size: 1.2rem;

        @media screen and (min-width: $screen-sm-min) {
            padding: 10px 20px;
        }

        @media screen and (min-width: $screen-md-min) {
            flex: 0 1 40%;
            font-size: 1.2rem;
        }
    }

    hr {
        margin: 20px 0;
        border-top: 1px solid #e0e0e0;
    }
}

.getting-started-button {
    text-align: center;

    @media screen and (min-width: $screen-md-min) {
        flex: 0 1 auto;
        align-self: flex-end;
    }
}

// Positions rectangles for classic pic
.classic-svg {
    visibility: visible;
    display: block;
    position: relative;
    padding-bottom: 0px;
    max-width: 100%;
    z-index: 2;

    .uaTrident & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: auto;
    }
}

// Adds blue outline to rectangles 
.rectangle-box {
    stroke-width: 6px;
    stroke: #0000EE;
    fill: #0000EE;
    fill-opacity: 0;

    &:hover {
        fill-opacity: 0.1;
        cursor: pointer;
    }

    &.selected {
        fill-opacity: 0.4;
    }
}

// Graph titles
.title {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: #808080;
    font-size: 1.6rem;
    font-weight: normal;
}


// Positions tabs with padding, hovering, and changing color if selected
.organism-selector {
    display: flex;
    flex-wrap: nonwrap;
    padding: 5px 2px;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid #a0a0a0;
    background-color: #f0f0f0;

    @at-root #{&}__tab {
        display: block;
        margin: 0 2px;
        padding: 5px !important;
        flex: 1 1 auto;
        font-size: 0.9rem;
        font-weight: normal;
        text-decoration: none;
        color: #404040;
        background-color: #c0beff;
        border: 1px solid #0001ee;
        text-transform: uppercase;

        @media screen and (min-width: $screen-sm-min) {
            flex: 0 1 auto;
            padding: 5px 20px !important;
        }

        &:hover {
            background-color: #adabf8;
        }
    }

    #{&}--selected {
        color: #000;
        background-color: #7575f7;

        &:hover {
            background-color: #7575f7;
        }
    }
}

// Gives graphs white background color
.graphs {
    background-color: white;
}

.chart-gallery{
    display: block;
    padding: 20px;

    @media screen and (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}

.chart-single {
    @media screen and (min-width: $screen-md-min) {
        width: 33.33333%;
        flex: 1 1 auto;
    }

    .title {
        hr {
            border-top: 1px solid #f0f0f0;
        }
    }
}

.chart-container {
    height: 180px;
}

.chart-container-assaycat {
    height: 280px;
}

.chart-no-data {
    font-size: 1.2rem;
    text-align: center;
    color: #808080;
    font-style: italic;
}

// Positions legends
.chart-legend {
    margin-top: 20px;

    ul {
        margin: 0;
        list-style: none;
    }

    .chart-legend__chip {
        display: inline-block;
        width: 32px;
        height: 100%;
        margin-right: 5px;
        vertical-align: top;
    }

    .chart-legend__label {
        display: inline-block;
        position: relative;
        top: -3px;
    }

    a {
        display: block;
        height: 18px;
        margin: 0;
        padding: 3px;
        color: black;
        text-decoration: none;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

// Positions error message when charts empty
.empty-chart {
    width: 100%;
    height: 183px;
    text-align: center;
    color: black;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 100;
}

.getting-started-image-wrapper {
    position: relative;
}

.getting-started {
    position: relative;
    padding: 15px;
}

// Positions getting started pic
.getting-started-image {
    padding-top: 0px;
    background-color: #E8ECEF;
    height: auto;
    max-width: 100%;
    z-index: 0;

}


// Positions View All
.view-all {
    display: flex;
    justify-content: center;
}

.social {
    border-top: 1px solid #a0a0a0;

    @media screen and (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    h2 {
        margin-top: 0;
        font-weight: normal;
        font-size: 2.5rem;
    }
}

.social-news {
    @media screen and (min-width: $screen-md-min) {
        flex: 0 1 70%;
        order: 1;
        border-left: 1px solid #a0a0a0;
    }
}

.social-twitter {
    @media screen and (min-width: $screen-md-min) {
        flex: 0 1 30%;
        order: 0;
    }
}

.twitter-header {
    padding: 10px 10px 0 10px;
}

.twitter-ref {
    display: inline;
    font-size: 1rem;
}

.news-header {
    @extend .twitter-header;
    border-bottom: 1px solid #e0e0e0;
}

.site-search {
    width: 100%;

    @at-root #{&}__input {
        input[type="text"] {
            display: block;
            width: 100%;
            margin-top: 5px;
        }

        label {
            color: #000;
            font-weight: bold;
        }

        .icon {
            font-size: 1.2rem;
        }
    }

    // Contains buttons for the home page buttons leading to other pages.
    @at-root #{&}__reference {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -3px;

        .btn {
            flex: 1 1 auto;
            margin: 3px;
        }
    }

    @at-root #{&}__submit {
        display: flex;
        flex-wrap: wrap;

        &-element {
            flex: 0 1 auto;

            .icon {
                margin-left: 5px;
            }
        }
    }

    @at-root #{&}__screen {
        a {
            margin: 5px 5px 0 0;

            &:after {
                content: "" !important;
            }
        }
    }

    @at-root #{&}__suggested-results {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        background-color: white;
        border: 1px solid #a0a0a0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;

            button {
                display: block;
                width: 100%;
                font-size: 1rem;
                text-align: left;
                background: none;
                border: none;

                &.site-search__suggested-results--selected {
                    background-color: #0a253d;
                    color: #fff;
                }
            }
        }
    }

    @at-root #{&}__link {
        font-size: 0.9rem;
        margin-top: 10px;
        font-style: italic;
        i {
            margin-right: 5px;
        }
    }

    @at-root #{&}__input-field {
        position: relative;
    }

    @at-root #{&}__note {
        font-size: 0.9rem;
        font-weight: normal;
        font-style: italic;
    }

    @at-root #{&}__submit {
        margin-top: 10px;
        a {
            flex: 1 1 auto;
        }
    }
}

// Info icons with tooltips.
.tooltip-home-info {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    line-height: 1;
    vertical-align: baseline;
}


.home-banner {
    img {
        width: 100%;
    }

    .home-banner--desktop {
        display: none;

        @media screen and (min-width: $screen-sm-min) {
            display: block;
        }
    }

    .home-banner--mobile {
        @media screen and (min-width: $screen-sm-min) {
            display: none;
        }
    }
}

.text-side {
    flex: 0 1 70%;
    padding-top: 0px;
}

.img-side {
    text-align: center;
    img {
	max-width: 330px;
	@media screen and (min-width: $screen-sm-min) {
	    max-width: 410px;
	}
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    margin-top: 15px;

    h1 {
	font-weight: bold;
	font-size: 60px;
	@media screen and (min-width: $screen-md-min) {
	    font-size: 100px;
	}
    }

    img {
	width: 120px;
	height: 120px;
	@media screen and (min-width: $screen-md-min) {
	    width: 170px;
	    height: 170px;
	}
    }

    @media screen and (min-width: $screen-md-min) {
	margin-bottom: 20px;
	margin-top: 0px;
    }
}

.homepage {
    @media screen and (min-width: $screen-md-min) {
	padding: 30px 100px;
    }
}

.quote {
    text-align: justify;
}

.main-content {
    align-items: center;
    text-align: justify;
    margin-bottom: 5px;
}

.call-contact {
    text-decoration: underline;
    margin-top: 0;
}

.email-us {
    font-weight: bold;
    margin: 0;
    font-size: 20pt;
}

.contacts {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    font-size: 16px;

    p {
	margin: 0;
    }
}

.contact-group {
    margin: 0 10px;
    font-size: 16pt;
}

.credits {
    font-size: 12pt;
    margin-top: 35px;

    p {
	margin: 0;
    }

    .italic {
	font-style: italic;
    }
}
