// Graphical banner for the home page
.homepage-banner {
    position: relative;
    height: 250px;
    background-image: url(../img/home-banner.jpg);
    background-size: auto 90%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}

// Title that overlays the banner
.home-page-banner-title {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(188,188,188,0.25);
    font-size: 1.2rem;
    font-weight: 100;

    @media screen and (min-width: $screen-sm-min) {
        letter-spacing: 10px;
        font-size: 2rem;
    }
}


.col-sm-12 {
    height:50%;
    width:50%;
    
    border: 3px solid #C6E2FF;
}

.col-sm-3 {
    height:50%;
    width:50%;
    //float:left;
    border: 3px solid #3B6AA0;
}

.title {
    
    width: 100%;
    
    padding: 10px;
    
    text-align: center;
    color: black
    ;
   
    font-size: 30px;
    font-weight: 100;
}



hr {
    margin: 20px;
}

/*

.line-separator{
margin: 0 0 15px 0;
border-bottom:1px solid #cccccc;
padding: 0px 0 0px 0;
padding: 20px 0 20px 0;
padding: 20px 0 20px 0;

}

*/
