// Allows page to be within the proper width in the middle
.container-homepage {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed();
}

// Makes background color gray
.whole-page {
    background-color: #E8ECEF;
}

.encode-logo {

}


// Formatting of heading based on original home page
.page-title {
    margin-bottom: 30px;
    font-size: 2.6 rem;
    margin-top: 30px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    margin-right: 0px;
    margin-left: 0px;
    display: block;
}

.page-title {
    margin-bottom: 30px;
    font-size: 2.6 rem;
    margin-top: 30px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    margin-right: 0px;
    margin-left: 100px;
    display: block;
}

.description {
    line-height: 1.7;
    //background-color: #E8ECEF;
    //padding-top: 20px;
    border-bottom: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 20px;
    font-size: 18px;
    
}


// Positions overall classic with pic and rectangles
.overall-classic {
    position: relative;
    padding-bottom: 0px;
    background-color: #E8ECEF;

}

// Positions rectangles for classic pic
.classic-svg {
    position: relative;
    visibility: visible;
    display: block;
    padding-bottom: 0px;
    max-width: 100%;
    top: 0;
    left: 0;
    fill: blue;
    fill-opacity: 0.05;  

}

// Adds blue outline to rectangles 
.rectangle-box {
    outline-style: solid;
    outline-width: 6px;
    outline-color: #0000EE;

    

}

// When hover on rectangle, make fill darker
.rectangle-box:hover {
    fill-opacity: 0.1;
    cursor: pointer;
}

.rectangle-box.selected {
    fill-opacity: 0.5;
    
}

// Positions classic pic
.classicImage {
    position: absolute;
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;
}

// Graph titles
.title {
    
    width: 100%;
    
    padding-top: 10px;
    
    text-align: center;
    color: black;
   
    font-size: 30px;
    font-weight: 100;
    
   /* border-bottom-style: solid;
    border-bottom-color: #A0A0A0;
    border-bottom-width: 1px;*/

}




// Gives tabs white background and border separating from graphs
.tabTable {
    border-bottom: 1px solid #a0a0a0;
    background-color: white;

        
}

// Positions tabs with padding, hovering, and changing color if selected
.tabTable td{
    color: #000;
    //border: none;
    padding: 0px !important;
    a.single-tab {
        font-size: 20px;
        font-weight: 100;
        padding: 10px 11px !important;
        display: block;
        text-decoration: none;
        color: black;
        border-right: solid;
        border-right-color: #c0c0c0;
        border-right-width: 1px;

        &:hover {
        background-color: #c0c0c0;
        cursor: pointer;
        }

        &.selected {
            color: white;
            background-color: #428bca;
        }
    }

    
}

// Gives graphs white background color
.graphs {
    background-color: white;
    padding-bottom: 25px;
}




.chart-legend {
    float: center;
    margin-top: 20px;
    /*float: left;
    width: 200px;
    height: 200px;*/
}

.chart-legend ul {
    list-style: none;
}

.chart-legend li span {
    display: inline-block;
    width: 32px;
    height: 12px;
    margin-right: 5px;

}


.empty-chart {
    width: 100%;
    height: 183px;
    text-align: center;
    color: black;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 100;
}



.panel {
    margin-top: 0px !important;
}

// Positions getting started pic
.getting-started-image {
    position: relative;
    padding-top: 0px;
    background-color: #E8ECEF;
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 0;

}

.getting-started-button {

    position: absolute;
    top: 225px;
    left: 50px;
    background-color: transparent;
    z-index: 1;
}

.view-all {
    text-align: center;
}

.view-all-button {
    
    display: inline-block;
    position: absolute;
    float: right;
    bottom: 50px;
    left: 900px;
    background-color: transparent;
    z-index: 1;
}

hr {
    margin-top: 0px;
    //border-width: 200px;
    border-color: #a0a0a0;
}
