.whole-page {
    background-color: #E8ECEF;
}

.page-title {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.6 rem;
    margin-top: 50px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    margin-right: 0px;
    margin-left: 0px;
    display: block;

}

// Graphical banner for the home page
/*.homepage-banner {
    position: relative;
    height: 250px;
    background-image: url(../img/home-banner.jpg);
    background-size: auto 90%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}*/

// Title that overlays the banner
/*.home-page-banner-title {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(188,188,188,0.25);
    font-size: 1.2rem;
    font-weight: 100;

    @media screen and (min-width: $screen-sm-min) {
        letter-spacing: 10px;
        font-size: 2rem;
    }
}*/


.overall-classic {
    position: relative;
    padding: 20px 20px !important;
}

.classic-svg {
    position: relative;
    visibility: visible;
    max-width: 100%;
    top: 0;
    left: 0;
    fill: blue;
    fill-opacity: 0.05;
    

}

.rectangle-box {
    outline-style: solid;
    outline-width: 3px;
    outline-color: #0000EE;

}

.rectangle-box:hover {
    fill-opacity: 0.1;
}

.classicImage {
    position: absolute;
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;
    padding: 20px 20px !important;
}



.col-sm-12 {
    height:50%;
    width:50%;
    
    border: 3px solid #C6E2FF;
}

.col-sm-3 {
    height:50%;
    width:50%;
    //float:left;
    border: 3px solid #3B6AA0;
}

.title {
    
    width: 100%;
    
    padding: 10px;
    
    text-align: center;
    color: black
    ;
   
    font-size: 30px;
    font-weight: 100;
}

.legendDiv {
    position: absolute;
}


.tabTable {
    border-bottom: 1px solid #a0a0a0;
    padding: 20px 20px !important;
    background-color: white;

        
}

.tabTable td{
    padding: 20px 20px !important;
    color: #000;
    border: none;
    a.single-tab {
        font-size: 20px;
        font-weight: 100;
        padding: 10px 11px !important;
        display: block;
        text-decoration: none;
        color: black;

        &:hover {
        background-color: #c0c0c0;   
        }

        &.selected {
            color: white;
            background-color: #428bca;
        }
    }

    
}

hr {
    margin: 20px;
}

/*

.line-separator{
margin: 0 0 15px 0;
border-bottom:1px solid #cccccc;
padding: 0px 0 0px 0;
padding: 20px 0 20px 0;
padding: 20px 0 20px 0;

}

*/