$bubbleSize: 13px;
$mesoderm: #008000;
$ectoderm: #800080;
$stem: #edcf09;
$endoderm: blue;

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.vertical-node-graph {
    svg {
        max-width: 100%;
    }

    ellipse {
        transition: all 50ms ease-in-out;
        stroke: black;
        stroke-width: 1px;
        fill: white;
    }

    .cell-group {
        &:hover {
            cursor: pointer;
        }
    }

    ellipse {
        &:hover {
            cursor: pointer;
        }
    }

    .js-cell {
        ellipse {
            &.hover-class {
                fill: #f2f2f2;
            }
        }

        &.parent-cell {
            ellipse {
                fill: #adc7d7;

                &.hover-class {
                    fill: #76a1bc;
                }
            }
        }

        &.active-cell {
            ellipse {
                fill: #36586d;
                stroke: white;
            }
        }
    }

    .unlabeled {
        ellipse {
            fill: #808080;
        }
    }

    .mesoderm {
        ellipse {
            fill: #008000;
        }
    }

    .ectoderm {
        ellipse {
            fill: #800080;
        }
    }

    .stem {
        ellipse {
            fill: #edcf09;
        }
    }
}

.sescc_matrix__graph-region {
    /* stylelint-disable-next-line selector-class-pattern */
    .endodermColor {
        color: $endoderm;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .mesodermColor {
        color: $mesoderm;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ectoDermColor {
        color: $ectoderm;
    }
}

.sescc_matrix__graph-region {
    position: relative;

    .sescc_matrix__germ-layer {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.node-text {
    cursor: pointer;

    &:hover {
        font-weight: bold;
        background: #d2d2d2;
    }
}

.layer-element {
    display: flex;
    align-items: center;
    background: none;
    border: 0;

    .layer-bubble {
        flex: 0 1 auto;
        height: $bubbleSize;
        width: $bubbleSize;
        border-radius: $bubbleSize;
        background: red;
        margin-right: 5px;
        border: 1px solid #d2d2d2;

        &.endoderm {
            background: $endoderm;
        }

        &.mesoderm {
            background: $mesoderm;
        }

        &.ectoderm {
            background: $ectoderm;
        }
    }

    .layer-name {
        flex: 0 1 auto;
    }
}
