$bubbleSize: 13px;
$mesoderm: #008000;
$ectoderm: #800080;
$stem: #edcf09;
$unlabeled: #808080;
$endoderm: blue;
$default-active: #36586d;
$default-hover: #f2f2f2;

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node-expander-collapser {
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.vertical-node-graph {
    svg {
        max-width: 100%;
    }

    ellipse {
        transition: all 50ms ease-in-out;
        stroke: black;
        stroke-width: 1px;
        fill: white;
    }

    .cell-group {
        &:hover {
            cursor: pointer;
        }
    }

    ellipse {
        &:hover {
            cursor: pointer;
        }
    }

    .js-cell {
        .default {
            &.hover-class {
                fill: $default-hover;
            }
        }

        &.active-cell {
            .default {
                fill: $default-active;
                stroke: white;
            }
        }
    }
}

.hide {
    display: none;
}

// sescc matrix-specific colors and styles

.sescc_matrix__graph {
    .js-cell {
        .unlabeled {
            fill: lighten($unlabeled, 30%);
        }

        .mesoderm {
            fill: lighten($mesoderm, 30%);
        }

        .ectoderm {
            fill: lighten($ectoderm, 60%);
        }

        .stem {
            fill: lighten($stem, 30%);
        }

        &.active-cell {
            .unlabeled {
                fill: $unlabeled;
            }

            .mesoderm {
                fill: $mesoderm;
            }

            .ectoderm {
                fill: $ectoderm;
            }

            .stem {
                fill: $stem;
            }
        }
    }
}

.sescc_matrix__graph-region {
    .endodermColor {
        color: $endoderm;
    }
    .mesodermColor {
        color: $mesoderm;
    }
    .ectoDermColor {
        color: $ectoderm;
    }
}

.sescc_matrix__graph-region {
    position: relative;

    .sescc_matrix__germ-layer {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.node-text {
    cursor: pointer;

    &:hover {
        font-weight: bold;
        background: #d2d2d2;
    }
}

.layer-element {
    display: flex;
    align-items: center;
    background: none;
    border: 0;

    .layer-bubble {
        flex: 0 1 auto;
        height: $bubbleSize;
        width: $bubbleSize;
        border-radius: $bubbleSize;
        background: red;
        margin-right: 5px;
        border: 1px solid #d2d2d2;

        &.endoderm {
            background: $endoderm;
        }

        &.mesoderm {
            background: $mesoderm;
        }

        &.ectoderm {
            background: $ectoderm;
        }
    }

    .layer-name {
        flex: 0 1 auto;
    }
}
