.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.vertical-node-graph {
    svg {
        max-width: 100%;
    }

    ellipse {
        transition: all 50ms ease-in-out;
    }

    .cell-group {
        &:hover {
            cursor: pointer;
        }
    }

    ellipse {
        &:hover {
            cursor: pointer;
        }
    }

    .js-cell {
        ellipse {
            fill: white;

            &.hover-class {
                fill: #f2f2f2;
            }
        }

        &.parent-cell {
            ellipse {
                fill: #adc7d7;

                &.hover-class {
                    fill: #76a1bc;
                }
            }
        }
    }
}
