.no-indent {
    margin-left: 0%;
    padding-right: 5px;
}
.indent-one {
    margin-left: 1%;
    padding-right: 5px;
}
.indent-two {
    margin-left: 2%;
    padding-right: 5px;
}
.indent-three {
    margin-left: 3%;
    padding-right: 5px;
}
.indent-four {
    margin-left: 4%;
    padding-right: 5px;
}
.indent-five {
    margin-left: 5%;
    padding-right: 5px;
}
.indent-six {
    margin-left: 6%;
    padding-right: 5px;
}
.indent-seven {
    margin-left: 7%;
    padding-right: 5px;
}