/*  List key-value pairs display */

// Override bootstrap3 header classes
dt.h3, dt.h4, dd.h3, dd.h4 {
    margin-top: 0;
    font-size: 14px;
}

dd.h3, dd.h4 {
    font-weight: normal;
}

.key-value {
    margin: 0;

    dt {
        padding-top: 0;
        padding-bottom: 2px;
        text-align: left;

        &:after {
            content: ": ";
        }
    }

    dt, dd {
        margin-left: 0;
        padding-top: 0;
        margin-bottom: 0px;
    }

    dd {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: $screen-xs-min) {
    .key-value {
        dt {
            float: left;
            width: $component-offset-horizontal;
            text-align: right;
            clear: left;

        }

        dt, dd {
            padding-top: 5px;
            line-height: 18px;
            font-size: 14px;
        }

        dd {
            margin-left: 200px;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}


// Left-justified key-value
.key-value-left {
    @extend .key-value;

    dt, dd {
        padding-top: 0 !important;
    }

    dt {
        float: none !important;
        display: block !important;
        text-align: left !important;
        margin-bottom: 0px !important;
    }

    dd {
        margin-left: 0 !important;
    }
}

.unit::before {
    content: " ";
}

.horizontal-list {
    @include clearfix;

    li {
        float: left;
        margin-right: 0.5em;
    }
}

dd ul, .multi-value {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 5px;

        span {
            font-weight: normal;
        }
    }
}

.multi-dd {
    margin-bottom: 10px;
}
