.lightbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(255,255,255,.8);
    opacity: 0;
    z-index: 1100;
    @include transition(all 200ms);
    text-align: center;
    cursor: pointer;

    &.active {
        visibility: visible;
        opacity: 1;
        @include transition(all 200ms);
    }

    img {
        display: block;
        border: 1px solid #808080;
    }
}


.lightbox-img {
    position: relative;
    margin: 20px auto 0;

    img {
        display: block;
        cursor: default;
        width: auto;
        height: auto;
        margin: 0 auto;
        max-width: 90%;
        max-height: 90%;
    }
}


.lightbox-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: -12px;
    right: -12px;
    font-size: 21px;
    line-height: 23px;
    color: #000;
    background-color: #fff;
    @include border-radius(12px);
    vertical-align: top;
    @include box-shadow(0 1px 2px 0);
    cursor: pointer;
}
