.lightbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    z-index: 1100;
    transition: all 200ms;
    text-align: center;
    cursor: pointer;

    &.active {
        visibility: visible;
        opacity: 1;
        transition: all 200ms;
    }

    img {
        display: block;
        border: 1px solid #808080;
    }
}

.lightbox-img {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    max-width: 90%;

    a {
        position: relative;
        display: block;
        margin: 0 auto;
        text-align: left;

        img {
            display: block;
            width: auto;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
            line-height: 0;
        }
    }
}

.lightbox-close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    background-image: inline-image('../img/close-icon.svg');

    .no-svg & {
        background-image: inline-image('../img/close-icon.png');
    }
}
