$data-cell-width: 40px;
$col-category-header-height: 100px;
$row-category-cell-height: 22px;
$row-data-header-width: 200px;

// Applied to all matrix <table>
.matrix {
    margin-left: 10px;
    margin-bottom: 20px;

    @at-root #{&}__header {
        border-bottom: 1px solid #eeeeee;
    }

    // Holds vertical facets and matrix itself.
    @at-root #{&}__content {
        display: block;

        @media screen and (min-width: $screen-md-min) {
            display: flex;
        }
    }

    @at-root #{&}__facets-vertical {
        position: relative;

        @media screen and (min-width: $screen-md-min) {
            flex: 0 1 20%;
        }
    }

    // Part of matrix page holding the matrix itself
    @at-root #{&}__presentation {
        overflow: hidden;

        @media screen and (min-width: $screen-md-min) {
            flex: 0 1 80%;
            padding-left: 10px;
        }

        @at-root #{&}-content {
            display: flex;

            .matrix-shading {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 30px;
                height: auto;
                pointer-events: none;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
    
                &--left {
                    right: auto;
                    left: 0;
                    background: linear-gradient(270deg, rgba(0,0,0,0), 70%, rgba(0,0,0,0.2));
    
                    &.showing {
                        opacity: 1;
                    }
                }
    
                &--right {
                    right: 0;
                    left: auto;
                    background: linear-gradient(90deg, rgba(0,0,0,0), 70%, rgba(0,0,0,0.2));
    
                    &.showing {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @at-root #{&}__data-wrapper {
        position: relative;
        flex: 0 1 auto;
        border : 1px solid #eee;
        overflow: hidden;
    }

    @at-root #{&}__data {
        overflow-x: auto;
    }

    // Text/link rotation method from:
    // https://stackoverflow.com/questions/15806925/how-to-rotate-text-left-90-degree-and-cell-size-is-adjusted-according-to-text-in#answer-41843950
    @at-root #{&}__col-category-header {
        height: $col-category-header-height;

        > th {
            position: relative;
            vertical-align: bottom;
            height: $col-category-header-height;
            width: $data-cell-width;

            // Variant of a method to fill a table cell with a link:
            // https://stackoverflow.com/questions/3966027/make-link-in-table-cell-fill-the-entire-row-height#answer-15801081
            > a {
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                height: 100%;
                width: 100%;
                line-height: 40px;
                font-weight: 400;
                text-decoration: none;
                text-align: left;
                white-space: nowrap;
                writing-mode: vertical-rl;
                writing-mode: tb-rl;
                transform: rotate(180deg);
                color: #000;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }
    }

    @at-root #{&}__row-data {
        border-top: 1px solid #fff;

        > th {
            width: $row-data-header-width;
            text-align: right;
            border-left: 1px solid #f0f0f0;

            > a {
                display: inline-block;
                padding: 0 10px;
                color: #000;
                text-decoration: none;
                font-weight: 400;
                line-height: 1.15;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        > td {
            position: relative;
            width: $data-cell-width;
            padding: 0 !important;
            text-align: center;
            border-bottom: 1px solid #f0f0f0;
            border-left: 1px solid #f0f0f0;

            > a {
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    // Spacer row between row categories
    @at-root #{&}__row-spacer {
        margin: 0;
        height: $row-category-cell-height;
        border-top: 1px solid #f0f0f0;
        vertical-align: top;

        > td {
            padding: 0 !important;

            > div {
                height: $row-category-cell-height;
            }
        }

        // Actuator to expand/collapse a many-subcategory category
        button {
            display: block;
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            padding: 0;
            height: 12px;
            width: 32px;
            background-color: $btn-info-bg;
            border: none;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 0; // prevent extra padding in button

            svg {
                width: 16px;
                height: 10px;
                fill: white;
            }
        }
    }

    // Rows showing category
    @at-root #{&}__row-category {
        > th {
            vertical-align: bottom;
            white-space: nowrap;

            > div {
                padding-left: 10px;
                padding-right: 10px;
                border-top-left-radius: 14px;
                height: $row-category-cell-height;

                & > a {
                    flex: 0 1 auto;
                    font-size: 1.1rem;
                    font-weight: bold;
                }
            }
        }

        .matrix__category-expander {
            margin-left: -9px;
            margin-right: 5px;
            border: none;
            background-color: transparent;

            svg {
                width: 16px;
                height: 10px;
            }
        }

        > td {
            padding: 0 !important;
            border-left: 1px solid #f0f0f0;

            &:last-child > div, &:last-child > a {
                border-top-right-radius: 14px;
            }

            > div, > a {
                display: table-cell;
                width: $data-cell-width;
                height: $row-category-cell-height;
                text-align: center;
                vertical-align: middle;
                font-weight: normal;
                font-size: 0.9rem;
                color: #fff;
                text-decoration: none;
            }
        }

        // Spacer for category rows without expander buttons
        &-spacer {
            width: 22px;
        }
    }

    @at-root #{&}__label {
        text-transform: uppercase;
        font-weight: bold;
        color: #202020;

        &--horz {
            position: relative;
            padding-left: 20px;
            z-index: 0;

            > span {
                position: relative;
                z-index: 2;
            }

            &.horz-scroll .svg-icon-large-arrow {
                animation-name: arrow-pulse;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            .svg-icon-large-arrow {
                position: relative;
                display: inline-block;
                margin-left: 5px;
                width: auto;
                height: 0.7rem;
                fill: #202020;
                z-index: 2;
            }
        }

        &--vert {
            flex: 0 0 20px;
            width: 20px;
            position: relative;

            > div {
                position: absolute;
                transform-origin: top left;
                transform: rotate(-90deg) translate(-100%);
                white-space: nowrap;

                .svg-icon-large-arrow {
                    display: inline-block;
                    width: auto;
                    height: 0.7rem;
                    fill: #202020;
                    transform: rotate(180deg) translate(5px);
                }
            }
        }
    }

    @at-root #{&}__scroll-indicator {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20px;
        right: 100%;
        background-color: #f0f0f0;
        z-index: 1;
    }
}


@keyframes arrow-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}


// note the position of the inner span isn't calculated correctly yet
$rotated-th-height: 130px;
$rotated-th-width: 20px;
$rotated-th-angle: 30deg;

.matrix-wrapper {
    display: flex;
    padding-left: 0;
    overflow: auto;
}

.matrix-group-heading {
    flex: 0 1 auto;
    width: 25px;
    position: relative;

    @at-root #{&}__content {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: right bottom;
        right: 2px;
        font-weight: bold;
    }
}

.hubs-controls {
    margin-left: 28px;
    padding: 10px 0 20px;
}

.hubs-controls-button {
    display: inline-block;
}

.group-more-cell {
    border: 1px solid #fff;
}

.group-more-cell__button {
    border: none;
    background-color: transparent;
    font-weight: normal;
    color: $std-href-color;
}

table.matrix th.group-all-groups-cell {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    border-left: 1px solid #fff;
    background-color: #f0f0f0;
}

.group-all-groups-cell__button {
    @extend .group-more-cell__button;
}

.matrix-general-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.matrix__header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
    h1 {
        margin-top: 0;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-size: 1.5rem;
        flex: 0 1 30%;
        border-bottom: 0;
    }
    .matrix-tag {
        flex: 0 1 70%;
        text-align: right;
    }
}

.matrix-tag {
    float: right;
    img {
        height: 22px;
        vertical-align: top;
        padding-left: 10px;
        margin-bottom: 5px;
    }
}
