.mouse-map {
    .cls-1, .cls-bone1, .cls-limb1 {
        fill: #b7c9d8;

        &.active {
            fill: #f7e1d4;
        }
    }

    .cls-limb2 {
        fill: #d8e2ea;

        &.active {
            fill: #ccbdb4;
        }
    }

    .cls-mousebody {
        stroke: #85a2b9;
        fill: #d8e2ea;

        &.active {
            // fill: #ccbdb4;
            stroke: none;
        }
    }

    .cls-2 {
        stroke: #85a2b9;
        fill: #d8e2ea;

        &.active {
            fill: #ccbdb4;
            stroke: none;
        }
    }

    .cls-3 {
        fill: #86abcb;

        &.active {
            fill: #938e8c;
        }
    }

    .cls-20, .cls-39, .cls-4, .cls-5, .cls-eye, .cls-bone {
        fill: #fff;

        &.active {
            fill: #fff;
        }
    }

    .cls-1, .cls-2, .cls-10, .cls-32, .cls-5 {
        stroke: #f9fcff;

        &.active {
            stroke: #ebd7ca;
        }
    }

    .cls-10, .cls-12, .cls-15, .cls-16, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-39, .cls-41, .cls-42, .cls-5, .cls-8, .cls-lung, .cls-thymus, .cls-smallintestine19 {
        stroke-miterlimit: 10;
    }

    .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-5, .cls-8, .cls-lung, .cls-thymus, .cls-smallintestine19 {
        stroke-width: 2.7px;
    }

    .cls-bone6 {
        fill: #8aa9cc;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-6, .cls-35 {
        fill: #8aa9cc;
        opacity: 0.7;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-7 {
        fill: #ecf2f7;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-largeintestine {
        fill: #85a5c1;

        &.active {
            fill: #e06667;
        }
    }

    .cls-colon {
        fill: #f5f8fb;
        stroke: #9a9999;

        &.active {
            fill: #b94343;
            stroke: #fcaea0;
        }
    }

    .cls-lung, .cls-thymus, .cls-esophagus, .cls-esophagus2 {
        fill: #a8c2d9;

        &.active {
            fill: #fc927e;
        }
    }

    .cls-8 {
        fill: #a8c2d9;

        &.active {
            fill: #fc927e;
        }
    }

    .cls-19, .cls-smallintestine, .cls-smallintestine19 {
        stroke: #edf2f5;

        &.active {
            stroke: #fdcac1;
        }
    }

    .cls-smallintestine {
        stroke-width: 2px;
    }

    .cls-esophagus2 {
        opacity: 0.5;
    }

    .cls-8, .cls-largeintestine, .cls-lung, .cls-thymus, .cls-esophagus, .cls-esophagus2 {
        stroke: #dde6ec;

        &.active {
            stroke: #fcaea0;
        }
    }

    .cls-9, .cls-stomach {
        fill: #dde6ec;

        &.active {
            fill: #ffd6c6;//#fdbfa8;
            stroke: #fdbeb2;
        }
    }

    .cls-10, .cls-16, .cls-19, .cls-22, .cls-29, .cls-31, .cls-32, .cls-34, .cls-42, .cls-smallintestine {
        fill: none;
    }

    .cls-10 {
        stroke-width: 6px;
    }

    .cls-11, .cls-kidney {
        fill: #3b77aa;

        &.active {
            fill: #a01d58;
        }
    }

    .cls-24 {
        fill: #c3d3e0;

        &.active {
            fill: #a01d58;
        }
    }

    .cls-12 {
        stroke: #d0d8de;
        stroke-width: 2px;
        fill: #7893ab;

        &.active {
            stroke: #f2b855;
            fill: #f8d855;
        }
    }

    .cls-13 {
        fill: #0e5796;

        &.active {
            fill: #39018d;
            stroke: #efa256;
        }
    }

    .cls-14, .cls-15 {
        fill: #719cc1;

        &.active {
            fill: #c75290;
        }
    }

    .cls-15, .cls-16 {
        stroke: #25537b;

        &.active {
            stroke: #4e061a;
        }
    }

    .cls-16 {
        stroke-width: 2px;
    }

    .cls-17 {
        fill: #5689b6;

        &.active {
            fill: #bf3e33;
        }
    }

    .cls-18, .cls-liver {
        fill: #477fb0;

        &.active {
            fill: #c03d33;
        }
    }

    .cls-20 {
        stroke: #bbd0e2;

        &.active {
            stroke: #ccbdb4;
            fill: #f6dfda;
        }
    }

    .cls-21 {
        fill: #fdfdfe;

        &.active {
            fill: #fdfdfe;
        }
    }

    .cls-21, .cls-22, .cls-23, .cls-24 {
        stroke: #7da4c7;

        &.active {
            stroke: #ccbdb4;
        }
    }

    .cls-23 {
        fill: #e2ebf2;

        &.active {
            fill: #f6dfda;
        }
    }

    .cls-25 {
        fill: #bccfe0;

        &.active {
            fill: #63326e;
        }
    }

    .cls-26 {
        fill: #8baecc;

        &.active {
            fill: #f56f67;
        }
    }

    .cls-27 {
        fill: #8eb0ce;

        &.active {
            fill: #79cc22;
        }
    }

    .cls-28 {
        fill: #5b7994;

        &.active {
            fill: #b96a04;
        }
    }

    .cls-29 {
        stroke: #dde7f0;

        &.active {
            stroke: #ad341b;
        }
    }

    .cls-30 {
        fill: #bed2e3;

        &.active {
            fill: #fead99;
        }
    }

    .cls-30, .cls-31 {
        stroke: #7b9cb9;

        &.active {
            stroke: #ad341b;
        }
    }

    .cls-33 {
        fill: #7aa2c5;

        &.active {
            fill: #f6554c;
        }
    }

    .cls-33, .cls-34 {
        stroke: #477fb0;

        &.active {
            stroke: #bb382f;
        }
    }

    .cls-35, .cls-6, .cls-7 {
        stroke: #ecf2f7;
        stroke-width: 0.86px;

        &.active {
            stroke: #f5f5f5;
        }
    }

    .cls-36 {
        fill: #49627b;

        &.active {
            fill: #dab077;
            stroke: #f9c2ad;
        }
    }

    .cls-37 {
        fill: #376d9c;
        opacity: 0.7;

        &.active {
            fill: #fff388;
        }
    }

    .cls-38 {
        fill: #3c8ed6;
        stroke: #d8d8d8;
        stroke-width: 2px;

        &.active {
            fill: #10b719;
            stroke: #ff0;
            stroke-width: 1px;
        }
    }

    .cls-39 {
        stroke: #a6c1d8;
        stroke-width: 1.66px;

        &.active {
            stroke: #efc2ae;
        }
    }

    .cls-40 {
        fill: #2869a2;

        &.active {
            fill: #3e3835;
        }
    }

    .cls-41 {
        fill: #c3d5e5;
        stroke-width: 2px;

        &.active {
            fill: #3e3835;
        }
    }

    .cls-41, .cls-42 {
        stroke: #889198;
        fill: #c3d5e5;

        &.active {
            fill: #edcb57;
            stroke: #a78c34;
        }
    }

    .cls-42 {
        stroke-linecap: round;
        stroke-width: 1.05px;
    }
}
