.mouse-map {
    .cls-1, .cls-bone1, .cls-limb1 {
        fill: #e4ecf3;

        &.active {
            fill: #f7e1d4;
        }
    }

    .cls-2, .cls-limb2 {
        fill: #bbd0e2;

        &.active {
            fill: #ccbdb4;
        }
    }

    .cls-3 {
        fill: #86abcb;

        &.active {
            fill: #938e8c;
        }
    }

    .cls-20, .cls-39, .cls-4, .cls-5, .cls-eye, .cls-bone {
        fill: #fff;

        &.active {
            fill: #fff;
        }
    }

    .cls-1, .cls-2, .cls-10, .cls-32, .cls-5 {
        stroke: #e4ecf3;

        &.active {
            stroke: #ebd7ca;
        }
    }

    .cls-10, .cls-12, .cls-15, .cls-16, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-39, .cls-41, .cls-42, .cls-5, .cls-8, .cls-lung, .cls-thymus, .cls-smallintestine19 {
        stroke-miterlimit: 10;
    }

    .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-5, .cls-8, .cls-lung, .cls-thymus, .cls-smallintestine19 {
        stroke-width: 2.37px;
    }

    .cls-6, .cls-bone6 {
        fill: #b7cce0;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-35 {
        fill: #b7cce0;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-7 {
        fill: #ecf2f7;

        &.active {
            fill: #f49fcc;
        }
    }

    .cls-8, .cls-colon, .cls-largeintestine, .cls-lung, .cls-thymus, .cls-esophagus {
        fill: #a8c2d9;

        &.active {
            fill: #fc927e;
        }
    }

    .cls-19, .cls-smallintestine, .cls-smallintestine19 {
        stroke: #ccdce9;

        &.active {
            stroke: #fdad9e;
        }
    }

    .cls-8, .cls-colon, .cls-largeintestine, .cls-lung, .cls-thymus, .cls-esophagus {
        stroke: #ccdce9;

        &.active {
            stroke: #fcaea0;
        }
    }

    .cls-9, .cls-stomach {
        fill: #ccdce9;

        &.active {
            fill: #fdbfa8;
            stroke: #fdbeb2;
        }
    }

    .cls-10, .cls-16, .cls-19, .cls-22, .cls-29, .cls-31, .cls-32, .cls-34, .cls-42, .cls-smallintestine {
        fill: none;
    }

    .cls-10 {
        stroke-width: 6px;
    }

    .cls-11, .cls-kidney {
        fill: #3b77aa;

        &.active {
            fill: #a01d58;
        }
    }

    .cls-24 {
        fill: #d1dfeb;

        &.active {
            fill: #a01d58;
        }
    }

    .cls-12 {
        stroke: #aac4da;
        stroke-width: 1.18px;
        fill: #d1dfeb;

        &.active {
            stroke: #f2b855;
            fill: #f8d855;
        }
    }

    .cls-13 {
        fill: #0e5796;

        &.active {
            fill: #39018d;
            stroke: #efa256;
        }
    }

    .cls-14, .cls-15 {
        fill: #719cc1;

        &.active {
            fill: #c75290;
        }
    }

    .cls-15, .cls-16 {
        stroke: #5689b6;

        &.active {
            stroke: #c5496c;
        }
    }

    .cls-16 {
        stroke-width: 0.79px;
    }

    .cls-17 {
        fill: #5689b6;

        &.active {
            fill: #bf3e33;
        }
    }

    .cls-18, .cls-liver {
        fill: #477fb0;

        &.active {
            fill: #c03d33;
        }
    }

    .cls-20 {
        stroke: #bbd0e2;

        &.active {
            stroke: #f3f1ef;
        }
    }

    .cls-21 {
        fill: #fdfdfe;

        &.active {
            fill: #fdfdfe;
        }
    }

    .cls-21, .cls-22, .cls-23, .cls-24 {
        stroke: #7da4c7;

        &.active {
            stroke: #ccbdb4;
        }
    }

    .cls-23 {
        fill: #e2ebf2;

        &.active {
            fill: #f6dfda;
        }
    }

    .cls-25 {
        fill: #729cc2;

        &.active {
            fill: #667dbd;
        }
    }

    .cls-26 {
        fill: #8baecc;

        &.active {
            fill: #f56f67;
        }
    }

    .cls-27 {
        fill: #8eb0ce;

        &.active {
            fill: #86a961;
        }
    }

    .cls-28 {
        fill: #afc7dc;

        &.active {
            fill: #fca93f;
        }
    }

    .cls-29 {
        stroke: #dde7f0;

        &.active {
            stroke: #fbbdb0;
        }
    }

    .cls-30 {
        fill: #bed2e3;

        &.active {
            fill: #fead99;
        }
    }

    .cls-30, .cls-31 {
        stroke: #95b5d1;

        &.active {
            stroke: #fd8671;
        }
    }

    .cls-33 {
        fill: #7aa2c5;

        &.active {
            fill: #f6554c;
        }
    }

    .cls-33, .cls-34 {
        stroke: #477fb0;

        &.active {
            stroke: #bb382f;
        }
    }

    .cls-35 {
        stroke: #ecf2f7;
        stroke-width: 0.86px;

        &.active {
            stroke: #fc927e;
        }
    }

    .cls-36 {
        fill: #f5f8fb;

        &.active {
            stroke: #f9c2ad;
        }
    }

    .cls-37 {
        fill: #5d8eb9;

        &.active {
            fill: #fffacf;
        }
    }

    .cls-38 {
        fill: #6090ba;

        &.active {
            fill: #e82d54;
        }
    }

    .cls-39 {
        stroke: #a6c1d8;
        stroke-width: 1.66px;

        &.active {
            stroke: #efc2ae;
        }
    }

    .cls-40 {
        fill: #2869a2;

        &.active {
            fill: #3e3835;
        }
    }

    .cls-41 {
        fill: #c3d5e5;
        stroke-width: 2px;

        &.active {
            fill: #3e3835;
        }
    }

    .cls-41, .cls-42 {
        stroke: #d1dfeb;

        &.active {
            fill: #edcb57;
            stroke: #a78c34;
        }
    }

    .cls-42 {
        stroke-linecap: round;
        stroke-width: 1.05px;
    }
}
