/* NavBar */
.navbar-inverse .navbar-inner {
    border: none;
    border-bottom: 0px solid #4e7294;
    background: #0a253d;
    @include box-shadow(0px 0px 30px 2px rgba(170, 170, 170, .9));
}

.navbar-inverse .navbar-inner#homepage_navbar {
	border-bottom: 2px solid lighten($navbarInverseLinkBackgroundActive, 20%);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > li > a {
    @include transition-property(background-color);
    @include transition-duration(0.2s);
  	@include transition-timing-function(ease-in-out);
}

.navbar-inverse .brand {
    @include transition-property(text-shadow);
    @include transition-duration(0.2s);
  	@include transition-timing-function(ease-in-out);
}

.navbar-inverse .brand:hover {
    @include text-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}