/* NavBar */
.navbar-inverse {
    border: none;
    border-bottom: 0px solid #4e7294;
    background: #0a253d;
    @include box-shadow(0px 0px 30px 2px rgba(170, 170, 170, .9));

    .navbar-brand {
        margin-left: -15px;
        color: #fff;
        font-size: floor($font-size-base * 1.4);
        font-weight: 200;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        @include transition-property(text-shadow);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in-out);

        &:hover {
            @include text-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
        }
    }

    .nav > li > a {
        color: #fff;   
        @include transition-property(background-color);
        @include transition-duration(0.15s);
        @include transition-timing-function(ease-in-out);

        &:focus,
        &:hover {
            background-color: #2f4961;
        }

        /* Disabled sign-in link */
        &[disabled] {
            color: $gray-light;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $gray-light;
                cursor: default;
            }
        }
    }
}


.navbar-fixed-top {
    position: static;

    @media (min-width: $screen-md-min) {
        position: fixed;
    }
}


.navbar-toggle {
    margin-right: 0;
}


.test-warning {
    position: relative;
    padding: 5px 0 7px;
    color: #fff;
    background-color: $brand-danger;
    @include background-image(linear-gradient(top, darken($brand-danger,20%) 0%,darken($brand-danger,10%) 5%,lighten($brand-danger,0%) 93%,lighten($brand-danger,40%) 95%));
    background-image: -ms-linear-gradient(top, darken($brand-danger,20%) 0%,darken($brand-danger,10%) 5%,lighten($brand-danger,0%) 93%,lighten($brand-danger,40%) 95%);

    p {
        margin: 0;
        width: 90%;
        font-size: 14px;

        @media screen and (min-width: $screen-md-min) {
            width: 100%;
            text-align: center;
            font-size: 16px;
        }
    }
}


.test-warning-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 50%;
    right: 5px;
    margin-top: -13px;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    vertical-align: top;
    cursor: pointer;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    @media screen and (min-width: $screen-md-min) {
        position: static;
        display: inline;
        margin-top: 0;
        margin-left: 10px;
    }
}


.dropdown-menu {
    &>li {
        &>a {
            padding: 5px 20px;
            color: #fff !important;
        }
    }

    @media screen and (min-width: $grid-float-breakpoint) {
        left: -1px;
        margin-top: -1px !important;
        padding: 0;
        background-color: #fff;
        @include background-image(linear-gradient(top,  #ffffff 0%,#f0f0f0 100%));

        &>li {
            &>a {
                padding: 10px 20px;
                font-size: floor($font-size-base * 0.9);
                font-weight: bold;
                color: #333 !important;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-top: 1px solid darken($navbar-inverse-link-active-bg,20%);
                    border-bottom: 1px solid darken($navbar-inverse-link-active-bg,20%);
                    background-color: $navbar-inverse-link-active-bg;
                    color: $navbar-inverse-link-active-color !important;
                }
            }

            &:last-child {
                &>a {
                    border-radius: 0 0 3px 3px;
                }
            }
        }

        .navbar-right & {
            right: -1px;
        }
    }
}