.news-listing {
    padding: 0;

    a {
        display: block;
        padding: 20px 10px;
        border-top: 1px solid #e0e0e0;

        h3 {
            margin: 0 0 5px;
            color: #000;
            font-weight: normal;
            font-size: 1.6rem;
        }

        h4 {
            margin-top: 0;
            color: #808080;
            font-style: italic;
            font-weight: normal;
            font-size: 0.9rem;
        }

        &:hover, &:active {
            text-decoration: none;
            background-color: #e0e0e0;
        }

        &:first-child {
            border-top: none;
        }
    }
}

.news-excerpt {
    color: #000;
    font-size: 1rem;
}

.news-post-header {
    padding: 20px;

    @media screen and (min-width: $screen-md-min) {
        padding: 20px 10%;
    }

    h1 {
        font-weight: normal;
        font-size: 2.5rem;
    }

    h2 {
        margin-top: 0;
        color: #808080;
        font-style: italic;
        font-weight: normal;
        font-size: 0.9rem;
    }
}

.news-post {
    .block {
        box-shadow: none;
    }
}

.news-empty {
    padding: 50px 10px;
    text-align: center;
    color: #808080;
    font-style: italic;
}

.news-keyword-section {
    padding: 20px;

    @media screen and (min-width: $screen-md-min) {
        padding: 20px 10%;
    }
}

.news-keyword {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-info;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
