/* Panels */
.panel {
    background-color: #fff;
    border: 1px solid #a0a0a0;
    border-radius: $border-radius-base;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 20px;
    overflow: visible;

    &.panel-default {
        padding: 0;

        & > .panel-heading {
            background-color: #d8d8d8;

            h1, h2, h3, h4, h5, h6 {
                margin: 0;
            }
        }
    }
}

.panel-heading {
    position: relative;
    padding: 10px;
}

.panel-body {
    padding: 10px;
}

.panel-body-with-header {
    padding-top: 0;
}

.item-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-full {
    @extend .panel;
    padding: 0;
}

.panel-insert {
    padding: 15px 20px;
}

.panel-blue {
    background-color: #4284d8;
    border: 1px solid #3276ca;
    border-radius: $border-radius-base;
    box-shadow: 0 0 6px rgba(195, 202, 211, 0.5);
    margin: 10px 0 20px;
    padding: 15px 30px;
    overflow: hidden;
}

.panel-gray {
    margin: 10px 0 20px;
    padding: 15px 30px;
    overflow: hidden;
}

.panel h3, .panel h4 {color: #0A253D;}

.view-detail h3 {line-height: 24.5px;}

/* add external-link icon to all offsite links (in .panels); modified from _FontAwesome.scss */
.panel a[href^="http"]:after, td a[href^="http"]:after      {
    content: " \f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    /* sprites.less reset */
    display: inline;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}
/* remove external-link icon if there is no text in link <a></a>
Note does not work in =<IE8, oh well */
a[href^="http"]:empty:after {
    content: none;
}

/* do not use external link icon in these cases... */
/* downloads */
a[href^="http://encodedcc.sdsc.edu/warehouse/"]:after {
    content: none !important;
}


.split-panel {
    display: block;

    @media screen and (min-width: $screen-md-min) {
        display: flex;
        flex-wrap: nowrap;
    }

    @at-root #{&}__part {
        padding-left: 10px;
        padding-right: 10px;

        @media screen and (min-width: $screen-md-min) {
            flex-grow: 0;
            flex-shrink: 1;
            border-left: 1px solid #c0c0c0;

            &:first-child {
                border-left: 0;
            }
        }

        @at-root #{&}--p50 {
            @media screen and (min-width: $screen-md-min) {
                flex-basis: 50%;
            }
        }
    }

    @at-root #{&}__heading {
        position: relative;
        margin-right: -10px;
        margin-left: -10px;
        padding: 10px;
        background-color: #d8d8d8;

        h4 {
            margin: 0;
        }
    }
}


// Antibody Status Panels
.type-antibody-status {
    .status-status-row {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #e0e0e0;

        &:first-child {
            border-top: none;
        }
    }

    .status-organism-row {
        margin: 5px 0;
    }

    .status-organism {
        padding: 0;
        font-style: italic;
        font-weight: bold;
    }

    .status-terms {
        padding: 0;
        color: #808080;
    }

    .status-status {
        position: relative;
        padding: 0;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;

        @media screen and (min-width: $screen-sm-min) {
            padding: 0 25px 0 0;
            margin-bottom: 0;
            text-align: right;
        }
    }

    .icon {
        position: relative;
        top: 3px;
        font-size: 1.4rem;
        margin-right: 5px;

        @media screen and (min-width: $screen-sm-min) {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

// Styles for the panel that has documents or characterizations as subpanels
.panel-docs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.panel-doc {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 0;
    padding: 0 5px;
}

.panel-body-doc {
    padding: 10px;
}

.doc-panel-outer {
    padding-bottom: 0;
}

.doc-panel-inner {
    padding: 0 5px;
}

.panel-attachment {
    padding: 0 5px;
}

.attachment-panel-outer {
    padding-bottom: 0;
}

.attachment-panel-inner {
    padding: 0 5px;
    flex-wrap: wrap;
}

.attachment-panel {
    flex: 0 1 48%;
    margin: 5px;
}

.type-QualityMetric.view-detail {
    margin: 0;
}

// Holds documents, but as a panel within a panel
.panel-body-doc-interior {
    @extend .panel-body-doc;
    padding-left: 0;
    margin-right: -10px;
}

// Styles for the File Gallery component that displays the file tables and graphs
.file-gallery-heading {
    position: relative;
}

.file-gallery-controls {
    margin-top: 5px;

    @media screen and (min-width: $screen-sm-min) {
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        margin-top: 0;
    }
}

.file-gallery-control {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin-right: 5px;

    @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
        margin-left: 5px;
    }

    select {
        height: 30px;
        padding-right: 30px;
        font-size: 0.9rem;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    &.file-gallery-control-select:after {
        content: '\f0dc';
        font-family: FontAwesome;
        padding: 8px;
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 1;
        width: 10px;
        line-height: 50%;
        font-size: 0.86rem;
        color: #428bca;
        pointer-events: none;
    }
}

// File gallery title bars that collapse
.collapsing-title-icon {
    position: relative;
    top: 0;
}

.file-gallery-counts {
    padding: 2px 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #606060;
    background-color: #d8d8d8;
    border-top: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
}

.file-gallery-graph-header {
    padding: 10px;
    background-color: #d8e0e8;

    h4 {
        margin: 0;
        padding: 0;
    }
}

.file-gallery-graph-footer {
    padding: 8px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 40%;

    &.hiding {
        background-image: url('data:image/svg+xml;utf8,<svg data-name="Hiding Dots" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 760.67 139.33"><defs><style>.cls-1{fill:#808080;}</style></defs><title>Indicates hiddent content</title><circle class="cls-1" cx="380.33" cy="69.67" r="64.11"/><circle class="cls-1" cx="692.4" cy="69.67" r="64.11"/><circle class="cls-1" cx="68.27" cy="69.67" r="64.11"/></svg>');
    }
}

// Collapsing title bar
.collapsing-title {
    position: relative;
    display: block;
    padding: 10px;
    height: 100%;
    border: none;
    background-color: transparent;

    h4 {
        margin: 0 0 0 40px;
    }

    h5 {
        margin: 0;
    }

    &:focus, &:active {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 3px #0000ff inset;
    }
}

// Control for collapsing panel title bars
.collapsing-title-control {
    display: inline-block;
    height: 20px;
    width: 20px;
    pointer-events: all;

    a, button {
        cursor: pointer;
    }

    .bg {
        fill: white;
        stroke-width: 6px;
        stroke: #000;
    }

    .content-line {
        fill: none;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 60px;
    }
}

.collapsing-title-trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 41px;
    padding: 10px;
    border-top: none;
    border-right: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    background-color: transparent;

    &:hover {
        background-color: darken(#d8e0e8, 10%);
        text-decoration: none;
    }
}

.subpanel {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;

    &:first-child {
        padding-top: 0;
        border-top: none;
    }
}

.two-column-long-text {
    column-count: 1;
    line-height: 1.7;

    @media screen and (min-width: $screen-md-min) {
        column-count: 2;
        column-gap: 50px;
    }

    @at-root #{&}--gap {
        margin-bottom: 20px;
    }
}
