$pipeline-node-types:
    (file, #FFF5BA),
    (analysis-step, #D3E9FF),
    (quality-metric, #f0e0f8);

@each $node-type, $color in $pipeline-node-types {
    // Audit icons
    g.pipeline-node-#{$node-type} {
        fill: $color;

        &.active {
            fill: desaturate(darken($color, 20%), 30%);

            rect, ellipse {
                stroke: #606060;
                stroke-width: 3px;
            }
            line {
                stroke: #606060;
                stroke-width: 1px;
            }
        }

        &.error {
            fill: #ffc0c0;
        }

        &:hover {
            cursor: pointer;
        }

        text {
            fill: #000;
        }
    }
}

g.label {
    font-size: $font-size-base * 0.85; // Don't use rems; maintain size on mobile
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    fill: #000;
}

g.node {
    rect, ellipse {
        stroke: #a0a0a0;
        stroke-width: 1.5px;
    }

    &.contributing {
        stroke-dasharray: 4,2; 
    }

    line {
        stroke: #a0a0a0;
        stroke-width: .5px;
    }
}

g.subnodes {
    text {
        font-size: 10px;
        font-weight: bold;
        pointer-events: none;
    }
}

g.cluster {
    rect {
        fill: #f0f8f0;
        stroke: #c0c0c0;
    }

    text {
        font-size: $font-size-base; // Don't use rems; maintain size on mobile
        fill: #000;
    }
}

g.edgePath {
    path {
        stroke: #c0c0c0;
        stroke-width: 1.5px;
    }
}

.graph-display {
    overflow: scroll;
    background-color: #f8f8f8;

    svg {
        display: block;
        margin: 0 auto;
    }
}

.select-note {
    font-style: italic;
    color: #c0c0c0;
}

.graph-dl {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;
}

.step-info {
    padding: 15px 30px;
    border: 1px solid #e0e0e0;
}

.selected-step {
    @extend .step-info;
    background-color: #e8f0e8;
}

.graph-node-info {
    hr {
        margin: 0 !important;
    }
}

.btn-orient {
    width: 50px;
    height: 30px;
    margin: 2px 4px;
    padding: 3px 6px;
    overflow: hidden;
}

g.pipeline-node-qc-metric {
    circle {
        stroke-width: 2px;
        stroke: #a0a0a0;
        fill: #80ffc0;
    }

    text {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        fill: #000;
    }

    &.active {
        circle {
            stroke: #404040;
            fill: darken(#80ffc0, 50%);
        }

        text {
            fill: #fff;
        }
    }
}

.quality-metrics-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;

    @media screen and (min-width: $screen-md-min) {
        display: table;
        width: 100%;
    }
}

.quality-metrics-info {
    @media screen and (min-width: $screen-md-min) {
        display: table-cell;
        width: 60%;
    }

    h4 {
        margin-bottom: 5px;
    }

    h5 {
        margin-top: 0;
        font-size: 1rem;
        font-weight: normal;
        color: #808080;
    }
}

.quality-metrics-type {
    color: #a0a0a0;
    font-size: 0.9rem;

    @media screen and (min-width: $screen-md-min) {
        display: table-cell;
        width: 40%;
        padding-bottom: 10px;
        text-align: right;
        vertical-align: bottom;
    }
}

.quality-metrics-attachments {
    h5 {
        margin-top: 0;
    }
}

.zoom-control-area {
    background-color: #fff;
    border-bottom: 1px solid #a0a0a0;
}

.zoom-control {
    width: 100%;
    vertical-align: middle;
    text-align: left;

    @media screen and (min-width: $screen-sm-min) {
        width: 200px !important;
        margin: 0 auto;
    }

    .icon {
        vertical-align: middle;
        color: #808080;
    }

    td {
        padding: 5px 0 !important;
    }
}

.zoom-slider {
    width: 90%;
}

.zoom-indicator {
    width: 15%;
    text-align: center;
}

.zoom-decoration {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}
