$pipeline-node-types:
    (file, #FFF5BA),
    (analysis-step, #D3E9FF);

@each $node-type, $color in $pipeline-node-types {
    // Audit icons
    g.pipeline-node-#{$node-type} {
        fill: $color;

        &.active {
            fill: desaturate(darken($color, 20%), 30%);
        }

        &:hover {
            cursor: pointer;
        }

        text {
            fill: #000;
            font-weight: normal;
        }
    }
}

g.node {
    rect {
        stroke: #a0a0a0;
        stroke-width: 1.5px;
    }
}

g.edgePath {
    path {
        stroke: #c0c0c0;
        stroke-width: 1.5px;
    }
}

.graph-display {
    position: relative;
    overflow: scroll;

    svg {
        display: block;
        margin: 0 auto;
    }
}

.select-note {
    font-style: italic;
    color: #c0c0c0;
}
