$dl-bar-bg: #e5ebf0;
$dl-bar-txt: #0a253d;
$figure-width: 130px;
$figure-height: 130px;

.type-document {
    margin-top: 0;

    &.view-detail {
        padding: 0;

        figure {
            position: relative;
            display: table;
            float: left;
            width: $figure-width;
            height: $figure-height;
            margin: 0 5px 0 0;
            padding: 0;
            border-right: 1px solid #ced5dc;
            background-color: #f0f0f0;
            @include background-image(linear-gradient(left top, #f0f0f0 0%,#e0e0e0 50%,#f8f8f8 100%));
            background-image: -ms-linear-gradient(left top, #f0f0f0 0%,#e0e0e0 50%,#f8f8f8 100%);

            a {
                display: table-cell;
                width: $figure-width;
                height: $figure-height;
                text-align: center;
                vertical-align: middle;

                img {
                    display: inline-block;
                    max-width: $figure-width;
                    height: auto;
                }
            }
        }

        h3 {
            line-height: normal;
        }
    }
}

.document-intro {
    height: 130px;
    padding: 5px;

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        margin: 2px 0 0 0;
        font-size: 14px;
        word-wrap: break-word;
    }
}

.dl-bar {
    display: block;
    position: relative;
    height: 32px;
    padding: 0 25px 0 10px;
    line-height: 32px;
    color: $dl-bar-txt;
    background-color: $dl-bar-bg;
    @include text-shadow(0 1px #fff);
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid darken($dl-bar-bg,10%);

    &:hover {
        color: #fff;
        background-color: darken($dl-bar-bg,30%);
        text-decoration: none;
        @include text-shadow(0 1px #202020);
        @include box-shadow(none);
    }

    span {
        display: block;
        overflow-x: hidden;
    }
}


.icon-bar {
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 32px;
    font-size: 20px;
}




.key-value-trigger {
    margin: 0;

    a {
        display: block;
        height: 100%;
        padding: 0 10px;
        line-height: 32px;
        color: #0a253d;

        &:hover {
            color: #fff;
            background-color: darken(#eff6fc,50%);
            text-decoration: none;
        }

        dt {
            display: inline-block;

            &:after {
                content: ": ";
            }
        }

        dd {
            margin-left: 5px;
            display: inline-block;
        }

        &::-moz-focus-inner,
        &:focus {
            border: 0;
            outline: none;
        }
    }

    &.active {
        a {
            background-color: darken(#eff6fc,50%);

            dt {
                color: #fff;
            }

            dd {
                color: #fff;
            }
        }
    }
}


.key-value-popover {
    position: absolute;
    padding: 10px;
    bottom: 44px;
    width: 90%;
    left: 50%;
    margin: 0 0 0 -45%;
    visibility: hidden;
    background-color: #eff6fc;
    @include background-image(linear-gradient(top, #e8e8e8 0%,#c8c8c8 100%));
    background-image: -ms-linear-gradient(top, #e8e8e8 0%,#c8c8c8 100%);
    @include border-radius(10px);
    border-width: 1px;
    border-style: solid;
    border-color: #fff #e0e0e0 #808080;
    @include box-shadow(0 4px 8px 0 rgba(0,0,0,.4));
    opacity: 0;
    @include transition(all 200ms);

    &.active {
        visibility: visible;
        opacity: 1;
    }

    &:after,
    &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #c8c8c8;
        border-width: 10px;
        margin-left: -10px;
    }

    &:before {
        border-color: rgba(128, 128, 128, 0);
        border-top-color: #404040;
        border-width: 11px;
        margin-left: -11px;
    }

    dt {
        margin-top: 8px;
        font-size: 14px;
        color: #0a253d;

        &:first-child {
            margin-top: 0;
        }

        &:after {
            content: ":";
        }

        &:first-child {
            margin-top: 0;
        }
    }

    dd {
        margin-left: 0;
        font-size: 14px;
        line-height: 13px;
        color: #0a253d;

        em {
            color: #808080;
        }
    }
}


.lightbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    z-index: 1100;
    @include transition(all 200ms);
    text-align: center;
    cursor: pointer;

    &.active {
        visibility: visible;
        opacity: 1;
        @include transition(all 200ms);
    }

    img {
        display: block;
    }
}


.lightbox-img {
    display: inline-block;
    position: relative;
    margin: 10px auto 0;
    max-width: 90%;
    cursor: default;

    img {
        display: block;
    }
}


.lightbox-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: -12px;
    right: -12px;
    font-size: 21px;
    line-height: 23px;
    color: #000;
    background-color: #fff;
    @include border-radius(12px);
    vertical-align: top;
    @include box-shadow(0 1px 2px 0);
    cursor: pointer;
}