$document-figure-width: 130px;
$document-figure-height: 130px;
$characterization-figure-width: 200px;
$characterization-figure-height: 200px;

/* clear first in row in ie 8 or lower */
.multi-columns-row .first-in-row {
    clear: left;
}

/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: $screen-sm-min) {
    /* reset previous grid */
    .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for small columns */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: $screen-md-min) {
    /* reset previous grid */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for medium columns */
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: $screen-lg-min) {
    /* reset previous grid */
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for large columns */
    .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
}

@mixin type-panel($figure-width, $figure-height) {
    margin-top: 0;

    &.view-detail {
        padding: 0;

        figure {
            position: relative;
            display: table;
            float: right;
            width: $figure-width;
            height: $figure-height;
            margin: 0 0 0 5px;
            padding: 0;
            border-left: 1px solid #e8e8e8;
            background-color: #f0f0f0;
            @include background-image(linear-gradient(left top, #f0f0f0 0%,#e0e0e0 50%,#f8f8f8 100%));
            background-image: -ms-linear-gradient(left top, #f0f0f0 0%,#e0e0e0 50%,#f8f8f8 100%);

            a {
                display: table-cell;
                width: $figure-width;
                height: $figure-height;
                text-align: center;
                vertical-align: middle;

                img {
                    display: inline-block;
                    max-height: $figure-height;
                    max-width: $figure-width;
                    height: auto;
                }
            }
        }

        h3 {
            line-height: normal;
        }
    }
}

.characterization-badge {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: $characterization-figure-width;
    margin-left: -($characterization-figure-width / 2);
}

.type-document {
    @include type-panel($document-figure-width, $document-figure-height);
}

.type-characterization {
    @include type-panel($characterization-figure-width, $characterization-figure-height);
}

@mixin panel-header($figure-height) {
    height: $figure-height;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.document-header {
    @include panel-header($document-figure-height);
}

.characterization-header {
    @include panel-header($characterization-figure-height);
}

%panel-intro {
    padding: 5px;

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        margin: 2px 0 0 0;
        font-size: 13px;
        word-wrap: break-word;

        @media screen and (min-width: $screen-lg) {
            font-size: 14px;
        }
    }
}

.document-intro {
    @extend %panel-intro;
}

.characterization-intro {
    @extend %panel-intro;
    padding: 10px;
}

.dl-bar {
    height: 32px;
    padding: 0 25px 0 10px;
    line-height: 32px;
    border-bottom: 1px solid #e8e8e8;
    white-space: nowrap;
}


.trigger-icon {
    position: absolute;
    right: 10px;
    line-height: 32px;
    font-size: 20px;

    &.icon-sort-down {
        top: -5px;
    }

    &.icon-sort-up {
        top: 5px;
    }

    &.disabled {
        display: none;
    }
}




.key-value-trigger {
    position: relative;
    margin: 0;
    background-color: #edf2f5;

    &.disabled a:hover {
        color: #333;
        background-color: #edf2f5;
        cursor: default;
    }


    a {
        display: block;
        height: 100%;
        padding: 0 10px;
        line-height: 32px;
        color: #0a253d;

        &:hover {
            color: #fff;
            background-color: darken(#edf2f5,20%);
            text-decoration: none;
        }

        dt {
            display: inline-block;

            &:after {
                content: ": ";
            }
        }

        dd {
            margin-left: 5px;
            display: inline-block;
        }

        &::-moz-focus-inner,
        &:focus {
            border: 0;
            outline: none;
        }
    }

    &.active {
        a {
            background-color: darken(#eff6fc,50%);

            dt {
                color: #fff;
            }

            dd {
                color: #fff;
            }
        }
    }
}


.key-value-panel {
    display: none;
    padding: 10px;

    &.active {
        display: block;
    }

    &:after,
    &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #c8c8c8;
        border-width: 10px;
        margin-left: -10px;
    }

    &:before {
        border-color: rgba(128, 128, 128, 0);
        border-top-color: #404040;
        border-width: 11px;
        margin-left: -11px;
    }

    dt {
        margin-top: 8px;
        font-size: 14px;
        color: #0a253d;

        &:first-child {
            margin-top: 0;
        }

        &:after {
            content: ":";
        }

        &:first-child {
            margin-top: 0;
        }
    }

    dd {
        margin-left: 0;
        font-size: 14px;
        line-height: 13px;
        color: #0a253d;

        em {
            color: #808080;
        }
    }
}


.lightbox {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(255,255,255,.8);
    opacity: 0;
    z-index: 1100;
    @include transition(all 200ms);
    text-align: center;
    cursor: pointer;

    &.active {
        visibility: visible;
        opacity: 1;
        @include transition(all 200ms);
    }

    img {
        display: block;
        border: 1px solid #808080;
    }
}


.lightbox-img {
    display: inline-block;
    position: relative;
    margin: 20px auto 0;
    max-width: 90%;
    cursor: default;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}


.lightbox-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: -12px;
    right: -12px;
    font-size: 21px;
    line-height: 23px;
    color: #000;
    background-color: #fff;
    @include border-radius(12px);
    vertical-align: top;
    @include box-shadow(0 1px 2px 0);
    cursor: pointer;
}


.document-slider {
    display: none;
    margin: 0;
    padding: 10px 10px 0;
    border-bottom: 1px solid #e8e8e8;

    &.active {
        display: block;
    }
}


.characterization-slider {
    position: relative;
    height: 160px;

    &.active {
        height: auto;
    }
}

.characterization-slider-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    @include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%));

    &.active {
        display: none;
    }
}