body {
    font-family: 'Mada', sans-serif;
}

.test-warning {
    display: none !important;
}

body {
    background: white;
}

#application {
    background: white;
}

.panel, .flexcol-sm-6, .flexcol-heading {
    border: none !important;
}

.flexcol-heading {
    background: none;
}

.panel__split-heading, .panel-heading {
    background: none;
    background-color: white !important;
}

.panel__split-heading {
    h4 {
        border-bottom: 1px solid #6C6C6C;
    }
}

.panel__split-element {
    border: none;
    margin-bottom: 30px;
}

table {
    border: 1px solid #6C6C6C;
}

dd, dt {
    padding: 2px 0px !important;
    font-size: 1.1rem;
    display: inline-block;
}
dt {
    font-weight: 200 !important;
}
dd {
    text-align: left !important;
    font-weight: 400;
}

.breadcrumb {
    border-bottom: none;
    li {
        font-weight: 600;
    }
}

.file-gallery-container {
    margin-top: 60px;
    .file-gallery-tab-bar {
        border-top: 2px solid #d2d2d2;
        border-right: 2px solid #d2d2d2;
        border-bottom: 2px solid #d2d2d2;
        table {
            border: none;
        }
    }
    .file-gallery-facets {
        h4 {
            border-bottom: 1px solid #6C6C6C;
        }
    }
}

.facet {
    border-bottom: none;
}

.panel__split {
    flex-wrap: wrap;
    .panel__split-element {
        flex: 0 1 100%;
    }
}

// .row {
//     .col-sm-5 {
//         width: 100%;
//         .facets{
//             display: flex;
//             flex-wrap: nowrap;
//             overflow-x: auto;
//             align-items: flex-end;
//             .facet {
//                 width: 250px;
//                 flex: 1 0 250px;
//                 margin-bottom: 0;
//                 border-bottom: none;
//                 padding-right: 10px;
//             }
//         }
//     }
// }

.row {
    .col-sm-5 {
        width: 100%;
        padding: 0;
        .facets {
            border: 0;
            padding: 0;
            .facet {
                display: inline-block;
                text-align: center;
                padding: 6px 10px 2px 10px;
                margin: 0;
                margin-right: 10px;
                border-bottom: 0;
                background: #ececec;
                ul, .date-selector-toggle-wrapper, .date-container, button, .filter-container {
                    display: none;
                }
                h5 {
                    margin: 0;
                    .icon-caret-down {
                        margin-left: 3px;
                    }
                }
            }
            margin-bottom: 20px;
        }
    }
}

.dropdown-menu {
    li {
        a {
            letter-spacing: 0 !important;
        }
    }
}

.col-sm-7 {
    width: 100%;
}

hr {
    display: none;
}

.badge-heading {
    display: none;
}

.cart__search-controls {
    border: none;
    background: none;
    padding: 0;
    margin-left: 0;
    button {
        margin-left: 0;
    }
}

.highlight-row {
    line-height: 1.2;
}

.result-table {
    li {
        padding: 10px 0;
    }
}

.box.facets {
    border: 0;
    border-right: 1px solid #ccc;
}

.result-item__meta-title {
    background: #357266;
    color: white;
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.result-item__data-row {
    // margin-left: 0;
    padding-top: 3px;
    font-weight: 500;
    strong {
        font-weight: 400;
        text-transform: uppercase;
        color: #6C6C6C;
    }
}

.result-item__meta-id {
    font-weight: normal;
    margin-left: 10px;
    font-size: 1rem;
}

.result-item__highlight-row {
    font-size: 1.1rem;
    padding: 3px 0;
    font-weight: 400;
}

.panel-heading {
    background: none;
}

.btn-info {
    background-color: #2E4C7A !important;
}

a {
    color: #0582CA;
}

.result-table {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    padding: 0 10px !important;
    border: none !important;
    div, p {
        padding-bottom: 2px;
    }
    li {
        // flex: 0 1 49%;
        // border-bottom: none;
        // border: 1px solid #d2d2d2;
        // padding: 10px;
    }
}

.result-item__cart-control {
    display: inline-block;
}

.cart__toggle {
    width: 23px;
    height: 23px;
    padding: 3px;
    margin-right: 10px;
    display: inline-block;
}