.panel-heading {
    margin-left: 1px;
}

th {
    border-radius: 0 !important;
}

.table-panel {
    border-radius: none;
    border: 1px solid $regulomeGray;
    td {
        border-right: 1px solid #ddd;
        &:last-child {
            border-right: none;
        }
    }
    tr {
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
        }
    }
    table {
        margin-left: 1px;
    }
}

.table-responsive {
    margin-top: 0;
}

.btn-container {
    text-align: center;
    margin-bottom: 30px;
    .btn {
        margin-right: 5px;
    }
}

.clickable-headers-for-details {
    th {
        &:hover {
            cursor: pointer;
            border: 2px solid darken($regulomeGray,30%);
            background: lighten($regulomeGray,30%);
        }
    }
}

.results-count {
    font-weight: 500;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
}

.click-for-more-results {
    // font-weight: 500;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    border-bottom: 2px solid $regulomeGreen;
    color: $regulomeGreen;
    &:hover {
        // font-weight: 700;
        cursor: pointer;
    }
    .icon-long-arrow-right {
        margin-left: 5px;
    }
}

.facet {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
