.results-summary {
    text-align: center;
    padding: 20px;
    font-style: italic;
}

svg {
    text {
        font-family: 'Khula', sans-serif !important;
    }
    .chart-title {
        font-weight: 700;
    }
}

.panel-heading {
    padding-top: 15px;
}

.barchart_tooltip {
    padding: 10px;
    background: #fff;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.result-summary {
    text-align: center;
    padding: 20px 0;
    font-weight: 700;
    p {
        margin-bottom: 3px;
    }
}
 .centered-btn {
    width: 120px;
    margin: auto auto 30px !important;
    display: block !important;
}
