body {
    font-family: 'Khula', sans-serif !important;
    background: #EDEDED;
}

.navbar-nav, .navbar-search {
    font-size: 16px;
}
.navbar-inverse {
    .nav {
        li {
            button {
                padding-top: 16px;
            }
            &:hover {
                cursor: pointer;
                background: darken($regulomeGreen,10%);
            }
        }
    }
}

.input-region-error {
    padding-top: 10px;
    color: #333;
    position: relative;
}

.lead-logo {
    max-width: 400px;
    margin: 20px auto 40px auto;
    @media screen and (max-width: $screen-md-min) {
        width: 80%;
    }
    img {
        width: 100%;
    }
}

// delete this later!!!
.test-warning {
    display: none !important;
}

.navbar-brand {
    width: 120px;
    img {
        max-width: 100%;
    }
}

.navbar-nav-right {
    float: right;
    font-family: $font-family-sans-serif;
    font-weight: 100;
    font-size: 16px;
    li {
        a {
            font-size: 18px;
            padding-top: 15px;
            padding-bottom: 14px;
            color: white !important;
        }
        &:hover {
            text-decoration: none;
            background: darken($regulomeGreen,10%);
        }
    }
}

.panel-body {
    padding: 20px;
}

.notification {
    padding-left: 10px;
    @media screen and (max-width: $screen-md-min) {
        padding: 0;
        font-size: 0.8rem;
    }
}

.btn-left {
    margin-left: 10px;
    margin-top: 10px;
}

.adv-search-form {
    .multiple-entry-input, .input-group {
        width: 100%;
        padding-bottom: 10px;
    }
    .multiple-entry-input {
        padding: 10px;
        height: 200px;
    }
    label {
        font-family: 'Khula', sans-serif !important;
        font-size: 1.1rem;
        padding: 5px 5px 0;
        @media screen and (max-width: $screen-md-min) {
            line-height: 1.2;
            font-size: 1rem;
            padding: 0 0 10px;
        }
    }
    #annotation {
        font-style: italic;
        padding: 12px 10px 10px;
        border-radius: 5px;
        width: 92%;
    }
    input {
        margin-left: 10px;
        @media screen and (max-width: $screen-md-min) {
            margin-left: 0;
        }
    }
    .icon-search {
        margin-right: 5px;
        color: $regulomeGray;
    }
    .example-inputs {
        padding-bottom: 10px;
        font-size: 1rem;
        font-style: italic;
        @media screen and (max-width: $screen-md-min) {
            padding: 5px 0 20px;
            font-size: 0.8rem;
        }
        .example-input {
            color: $regulomeGreen;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.btn {
    font-family: 'Khula', sans-serif !important;
    font-size: 16px;
    font-weight: normal !important;
    padding: 5px 10px 3px;
}

.btn-info {
    padding: 5px 10px 0px;
}

.button-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    .reg-btn {
        margin: 10px;
        display: inline-block;
        padding: 5px 10px;
        border-bottom: 2px solid $regulomeGreen;
        color: $regulomeGreen;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.sequence-logo-container {
    max-width: 400px;
    margin: auto;
    .sequence-logo {
        svg {
            max-width: 100%;
        }
    }
}

.data-types {
    cursor: pointer;
}

.about-regulome {
    h4 {
        padding-top: 10px;
    }
}

.data-type-explanation {
    display: none;
    &.show {
        display: block;
    }
}

.input-group-addon {
    display: none;
}

.panel-body {
    p {
        font-size: 1.1rem;
        color: #333;
        font-weight: normal;
        margin-bottom: 5px;
        padding: 0 10px;
    }
    .regulomescore {
        font-weight: 700;
    }
}

dl.key-value {
    margin-top: 10px;
}

.panel {
    margin-left: 1px;
}

.file-gallery-visualize {
    top: 10px;
}

.data-types {
    max-width: 650px;
    margin: auto;
    margin-top: 40px;
    @media screen and (max-width: $screen-md-min) {
        padding: 0 10px 20px;
        margin-top: 0;
    }
}

.about-regulome, .data-types {
    font-family: 'Khula', sans-serif !important;
    h4 {
        font-weight: 700;
        @media screen and (max-width: $screen-md-min) {
            font-size: 1rem;
        }
    }

    .data-types-instructions {
        padding-top: 20px;
        font-size: 16px;
        border-bottom: 1px solid $regulomeGray;
    }
    .data-type-explanation {
        @media screen and (max-width: $screen-md-min) {
            font-size: 0.8rem;
        }
    }
    .data-types-block {
        margin-left: 40px;
        @media screen and (max-width: $screen-md-min) {
            margin-left: 20px;
        }
        h4 {
            font-size: 1.2rem;
            font-weight: normal;
            text-transform: uppercase;
            padding-top: 10px;
            color: $regulomeGreen;
            @media screen and (max-width: $screen-md-min) {
                font-size: 1rem;
            }
        }
        .data-types-explanation {
            padding-top: 10px;
            cursor: default;
        }
        .data-type {
            cursor: pointer;
        }
    }
    a {
        color: lighten($regulomeGreen,5%);
        text-decoration: underline;
        &:hover {
            color: darken($regulomeGreen,10%);
            font-weight: 700;
        }
    }
    &.introduction {
        max-width: 800px;
        margin: auto;
        padding-bottom: 10px;
        font-size: 16px;
    }
}

#svgHolder {
    margin-bottom: 40px;
}

.dropdown-menu {
    padding: 0;
    li {
        padding: 0;
        margin: 0;
        a {
            padding: 12px 20px 10px;
        }
    }
}

.linked-toggle {
    button {
        padding: 0 !important;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 16px 20px 10px;
            color: #fff;
            text-decoration: none;
        }
    }
}

.facet-term__item {
    padding-top: 5px;
}

input[type="search"] {
    padding-top: 7px;
}

table.matrix th {
    padding-top: 3px;
}

a {
    color: lighten($regulomeGreen,5%);
    &:hover {
        color: $regulomeGreen;
    }
}

.accession {
    line-height: 1.2;
}

.data-row {
    padding-top: 5px;
}

.result-table li {
    padding-bottom: 10px;
    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }
}

#navbar {
    -webkit-box-shadow: 0 0 6px 0 #333;
    -moz-box-shadow: 0 0 6px 0 #333;
    box-shadow: 0 0 6px 0 #333;
    height: 50px;
}

.auth0-lock-header-logo {
    height: 40px !important;
}

.table-sortable {
    tbody {
        tr {
            td {
                height: 3em;
            }
        }
    }
}

table {
    th,td {
        padding: 10px 10px 4px !important;
        // border: 1px solid $regulomeGray;
    }
    td {
        a {
            font-weight: 700;
            color: lighten($regulomeGreen,5%);
        }
    }
}

.panel-body-with-header {
    padding: 10px;
    padding-top: 0;
}

.layout {
    ul {
        margin-top: -12px !important;
        li {
            margin: 0.2em 0;
        }
    }
}

#regulomehelp-faq8-answer, #regulomehelp-faq5-answer {
    margin-bottom: 1em;
}

.regulomehelp-answer {
    display: none;
    &.show {
        display: block;
    }
}

.regulomehelp-question {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.faq {
    padding: 20px 0;
    .icon {
        margin-right: 5px;
    }
}

.visualize-block {
    margin: 0 0 35px;
    a {
        background: $regulomeGreen;
        color: white;
        padding: 5px 10px 2px 10px;
        margin-right: 5px;
        margin-top: 10px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            background: darken($regulomeGreen,10%);
        }
        &.disable {
            display: none;
        }
    }
    .beta-badge {
        font-size: 0.8rem;
        padding: 3px 4px 0px;
        top: -1px;
    }
}

.status {
    padding: 6px 5px 4px;
    margin-top: 5px;
}

.facet-list {
    .status {
        margin-top: 0;
    }
}

.status__icon--spacer {
    margin-top: -2px;
}

.visualize-element {
    display: inline-block;
}

.flexcol-heading, .panel-heading {
    height: 45px;
}

.bold-span {
    font-weight: 700;
}

.icon-caret-right {
    margin-right: 5px;
}

.flex-panel {
    display: flex;
    flex-wrap: wrap;
    .facet-column {
        flex: 0 0 24%;
        margin-right: 1%;
        @media screen and (max-width: $screen-md-min) {
            flex: 0 0 100%;
        }
    }
    .wide-column {
        flex: 0 0 75%;
        max-width: 75%;
        @media screen and (max-width: $screen-md-min) {
            flex: 0 0 100%;
            overflow: scroll;
            padding-top: 20px;
        }
    }
    
    .facet-term {
        &.assay_term_name {
            border-left: 5px solid #75BBA7;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-top: 2px;
            margin: 0;
        }
        &.annotation_type {
            border-left: 5px solid #FFE391;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-top: 2px;
            margin: 0;
        }
    }
}

.results-table-control {
    margin-bottom: 20px;
}

.facet-term__text {
    max-width: 42%;
}

.facet-term__bar {
    z-index: 100;
    background: #276A8E;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 45px;
    height: 15px;
}

.facet-term__count {
    font-weight: 700;
}

.facet-term {
    line-height: 1.1;
    margin-bottom: 1px;
    &.selected {
        background: #DBEFFA;//#9dcbe4;
        .facet-term__item {
            color: black;
        }
        .icon-check-square-o {
            color: #276A8E;
        }
    }
    &.negated-selected {
        background: white;
        .icon-minus-circle {
            color: #e50400;
        }
    }
}

.filter-container {
    display: block;
    margin: 0 auto 10px;
    .filter-hed {
        display: inline-block;
        padding: 0 5px;
    }
    a {
        color: #276A8E;
    }
    .negationFilter {
        color: #e50400;
    }
    .filter-link {
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        padding: 2px 5px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.facet {
    cursor: pointer;
    position: relative;
    &.facetMethod {
        padding-bottom: 12px;
        h5 {
            margin-bottom: -3px;
        }
    }
}

.method-label {
    transform: rotate(-90deg);
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    left: -22px;
    color: #7F7F7F;
}

.search-information {
    text-align: center;
    p {
        margin-bottom: 5px;
    }
}
.button-collection {
    padding-top: 20px;
    font-size: 1.1rem;
    text-align: center;
    .icon-external-link {
        font-size: 0.9rem;
        margin-right: 5px;
    }
    h4 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .visualize-block {
        margin-bottom: 5px;
        display: inline-block;
    }
    .visualize-element {
        display: inline-block;
        padding-right: 20px;
        a {
            background: none;
            font-weight: 700;
            color: $regulomeGreen;
            width: 100%;
            padding: 0;
            margin: 0;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .peaks-link {
        color: $regulomeGreen;
        font-weight: 700;
        display: inline-block;
    }
}

.smaller-lead-logo {
    max-width: 300px;
    margin: 0 auto 20px;
    img {
        width: 100%;
    }
}

.results-count {
    margin: 10px 5px;
}

.summary-table-hoverable {
    tbody {
        tr {
            &:hover {
                background-color: #EDEDED;
                cursor: pointer;
            }
        }
    }
}

.facet-controls {
    a, .results-count {
        display: inline-block;
    }
    a {
        font-weight: 800;
        color: $regulomeGreen;
        background: white;
        border: 0;
        padding: 0;
        font-size: 1rem;
        margin-left: 15px;
    }
}
