.profile-display {
    @at-root #{&}__section {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        margin-top: 0;
        font-size: 1.1rem;
        font-weight: bold;
    }

    @at-root #{&}__values {
        margin-left: 10px;
    }
}

.profile-value {
    @at-root #{&}__item {
        margin: 2px 0;
    }

    @at-root #{&}__disclosure-button {
        margin: 2px 0;
        padding: 0;
        font-size: 0; // Prevent gap between focus border and icon
        border: 0 none;
        vertical-align: middle;

        .collapsing-title-control {
            display: block;
        }
    }

    @at-root #{&}__json {
        padding: 10px;
        border: 1px solid #e0e0e0;
        background-color: #f3f2f3;
    }
}
