.profile-value {
    @at-root #{&}__item {
        margin: 2px 0;
    }

    @at-root #{&}__disclosure-button {
        padding: 0;
        font-size: 0; // Prevent gap between focus border and icon
        border: 0 none;
    }

    @at-root #{&}__json {
        padding: 10px;
        border: 1px solid #e0e0e0;
        background-color: #f3f2f3;
    }
}
