$form-element-height: 26px;
$form-bg: #f3f3f3;

.search-list {
    position: relative;
    z-index: 0;
}

.btn.btn-disclose {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $form-bg;
    box-shadow: none;
    line-height: 20px;
    border: 1px solid #ccc;

    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: transparent;
    }
    z-index: 1;
}

.icon-disclose {
    position: relative;
    display: inline-block;
    top: 1px;
    font-size: 18px;
    width: 10px;
    line-height: 20px;
}

.adv-search-form {
    margin-bottom: 0 !important;

    .form-inline.pull-right {
        input, select {
            margin-left: 5px;
        }

        select {
            height: 30px;
        }
    }
}

.input-group-region-input {
    position: relative;
}

.input-region-error {
    position: absolute;
    top: 36px;
    left: 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #808080;
}

.adv-search-autocomplete {
    position: absolute;
    z-index: 10;
    top: 33px;
    left: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    color: #fff;
    background-color: $nav-color-bg;
    border: 1px solid #ccc;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);

    li {
        margin: 0;
        padding: 5px 15px;
        font-size: 13px;
        cursor: pointer;

        &:hover {
            color: #404040;
            background-color: #e0e0e0;
        }
    }
}

.input-group-select-addon {
    padding: 0;

    select {
        height: 100%;
    }
}

.results-table-control {
    .btn {
        margin-right: 5px;
    }

    .dropdown-menu {
        padding-top: 5px;
        padding-bottom: 5px;

        & > li > a {
            padding: 2px 20px 2px 20px;
            font-size: 0.95rem;
        }
    }

    // Contains buttons horizontally attached to each other -- indicates peer options
    .btn-attached {
        display: inline-block;
        margin-right: 5px;
    }
}

.results-table-button {
    display: inline-block;
}

.page-listing-date {
    font-size: 1rem;
}
