$form-element-height: 26px;
$form-bg: #f3f3f3;

.search-list {
    position: relative;
    z-index: 0;
}

.btn.btn-disclose {
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: $form-bg;
    @include box-shadow(none);
    line-height: 20px;
    border: 1px solid #ccc;

    &.active {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: transparent;
    }
    z-index: 1;
}

.icon-disclose {
    position: relative;
    display: inline-block;
    top: 1px;
    font-size: 18px;
    width: 10px;
    line-height: 20px;
}

.adv-search-form {
    position: relative;
    margin: 20px 0;
    z-index: 20;

    @media screen and (min-width: $screen-sm-min) {
        margin: 0;
    }

    .form-control {
        height: $form-element-height !important;
        z-index: 0;
    }

    form {
        position: relative;
        top: -1px;
        padding: 15px 15px 0;
        background-color: $form-bg;
        border: 1px solid #ccc;
    }

    label[for=spacing] {
        display: none;

        @media screen and (min-width: $screen-md-min) {
            display: inline-block;
        }
    }

    .adv-search-submit {
        padding: 0 15px;
        height: $form-element-height;
        line-height: $form-element-height - 2;

        @media screen and (min-width: $screen-md-min) {
            padding: 0;
            width: 100%;
        }
    }
}

.adv-search-autocomplete {
    position: absolute;
    z-index: 10;
    right: 10px;
    left: 10px;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    list-style: none;
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,.5));

    li {
        margin: 0;
        padding: 5px 15px;
        font-size: 13px;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

.results-table-control {
    .btn {
        margin-right: 5px;
    }

    .dropdown-menu {
        padding-top: 5px;
        padding-bottom: 5px;

        & > li > a {
            padding: 2px 20px 2px 20px;
            font-size: 0.95rem;
        }
    }
}

.results-table-button {
    display: inline-block;
}
