// Contains the summary title and horizontal facets
.summary-header {
    h1 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    @at-root #{&}__facets-horizontal {
        @media print {
            display: none;
        }
    }

    @at-root #{&}__title {
        h1 {
            margin-top: 0;
            font-size: 1.7rem;
        }
    }
}

// Contains the vertical facets and the charts.
.summary-content {
    display: flex;

    @media print {
        display: block;
        padding: 20px;
    }

    @at-root #{&}__facets-vertical {
        flex: 0 0 20%;

        @media print {
            display: none;
        }
    }

    // Contains all the charts.
    @at-root #{&}__data {
        flex: 0 1 80%;
        min-width: 0; // https://github.com/chartjs/Chart.js/issues/4156#issuecomment-345773111

        @media print {
            display: block;
            width: 100%;
        }
    }

    // Contains side-by-side charts.
    @at-root #{&}__snapshot {
        display: flex;

        & .award-charts__chart {
            flex: 0 0 33.33%;
            width: 33.33%;
        }
    }

    // Contains a full-width chart.
    @at-root #{&}__statistics {
        display: block;     

        @media print {
            width: 100%;

            canvas {
                display: block;
            }
        }
    }

    @at-root #{&}__panel {
        border: none;
        page-break-inside: avoid;
    }
}

.panel.panel-default > .panel-heading.summary-content__panel-heading {
    background-color: transparent;
    border-bottom: none;

    h4 {
        text-align: center;
        font-weight: normal;
        color: #808080;
    }
}

.chartjs-size-monitor {
    @media print {
        display: none;
    }
}
