/*  TABLES    */

table {
    font-size: 0.92em;
}

thead, tfoot {
    background: none repeat scroll 0 0 #f5f5f5;
}

table>thead>tr>th {
    border-top: none !important;
    border-bottom: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    padding: 8px 30px 9px 11px !important;

    &:first-child {
        border-left: none !important;
    }
}

table>tbody>tr>td {
    padding: 10px 11px !important;
}

// round table corners
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 3px 3px 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}

.sortdirection {
	float: right;
    margin-top: 2px;
}

.table-panel {
    border-collapse: separate;
	background-color: #fff;
	border: 1px solid #ced5dc;
    @include border-radius($border-radius-base);
    @include box-shadow(0 0 6px rgba(195, 202, 211, 0.5));

    tr:last-child td:first-child {
        @include border-bottom-left-radius($border-radius-base);
    }

    tr:last-child td:last-child {
        @include border-bottom-right-radius($border-radius-base);
    }
}

.table-striped {
    > tbody {
        > tr:nth-child(odd) {
            > td {
                background-color: #fff;
                border-top: none;
            }
        }
        > tr:nth-child(even) {
            > td {
                background-color: #f9f9f9;
                border-top: none;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .table-responsive {
        th,
        td {
            max-width: 250px !important;
            white-space: normal !important;
        }
    }
}


/* Table Controls */
table thead tr th button {
	float: left;
}

form.table-filter {
	float: right;
	margin: 0;
	position: relative;
}

#table-filter {
    display: inline-block;
    width: 300px;
}

.table-count {
    font-size: 1em;
    display: inline-block;
	padding: 0.5em 2em;
	margin-right: 1em;
}

.spinner-warning {
	background: #F89406 url("../img/spinner-orange-bg.gif") no-repeat;
	background-position: 7px 9px;
}

.table-meta-data {
    height: $input-height-base;
    display: inline-block;
}

/* initial state is hidden (see template; class=hide) */
#total-records {
	font-weight: normal;
}

// Allow line breaks in table cells (esp Targets)
.collection-table tbody span {
    display: block;
}

.col-headers th:hover {
	cursor: pointer;
}