/*  TABLES    */

table thead tr th {
	 padding-right: 30px;
}

// round table corners
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
border-radius: 3px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
border-radius: 0 0 0 3px;
}

.sortdirection {
	float: right;
    margin-right: -22px;
    margin-top: 2px;
}

/* Table Controls */
table thead tr th button {
	float: left;
}

form.table-filter {
	float: right;
	margin: 0;
}

.table-filter input {
	margin-bottom: 0 !important;
}

.table-count {
	padding: 0.6em 2em;
	margin-right: 1em;
}

.spinner-warning {
	padding: 0.6em 2em 0.6em 30px !important;
	background: #F89406 url("../img/spinner-orange-bg.gif") no-repeat;
	background-position: 7px 6px;
}

/* initial state is hidden (see template; class=hide) */
#total-records {
	font-weight: normal;
}

// Allow line breaks in table cells (esp Targets)
.collection-table tbody span {
    display: block;
}

.col-headers th:hover {
	cursor: pointer;
}