$tooltip-width: 300px;
$tooltip-color: #000;


// Generic tooltips with clickable triggers
.tooltip-trigger {
    display: inline-block;
    position: relative;
    cursor: default;
}

// Tooltips specifically for antibody statuses
.tooltip-status {
    position: absolute;
    visibility: hidden;
    top: 20px;
    left: 15px;
    padding: 2px 5px;
    z-index: 100;
    background-color: $tooltip-color;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 0.9rem;
    border-radius: 4px;

    span:last-child {
        font-weight: normal;
    }

    &.tooltipopen {
        visibility: visible;
    }
}

.tooltip-status-trigger {
    position: relative;
    margin-left: 5px;
    font-size: 1.2rem;
    cursor: default;
}

.tooltip {
    visibility: hidden;

    &.right {
        transform: translateY(-50%);
        left: 100%;
        top: 50%;
        white-space: nowrap;

        .tooltip-inner {
            text-align: left;
            max-width: none; 
        }
    }

    &.bottom {
        transform: translateX(-50%);
        left: 50%;
        top: 100%;
        white-space: normal;

        .tooltip-inner {
            text-align: center;
            min-width: 250px; 
        }
    }
}

.tooltip-open {
    visibility: visible;
    opacity: 1;
}

.dl-tooltip-trigger {
    @extend .tooltip-trigger;

    padding-left: 5px;
}


// When a tooltip appears next to a real button, use this to wrap that button so that even if thead
// button gets disabled, we can add an absolutely positioned div within this div that can respond
// to hover events, because disabled button can't.
.tooltip-button-wrapper {
    position: relative;
}

// Position a div within the above div that covers a disabled button. Disabled buttons can't
// respond to hover events, so we need this overlay button to do that.
.tooltip-button-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
