$tooltip-width: 300px;
$tooltip-color: desaturate(lighten(#0a253d,30%),30%);


// Generic tooltips with clickable triggers
.tooltip-trigger {
    position: relative;
    cursor: default;
}

.tooltip {
    position: absolute;
    left: 50%;
    margin-right: -$tooltip-width;
    visibility: hidden;
    transform: translateX(-50%);
    white-space: normal;
    text-align: center;
    opacity: 1;
    z-index: 100;

    .no-csstransforms & {
        left: 0;
        padding: 0;
    }

    &.tooltip-open {
        visibility: visible;
    }
}

.tooltip-inner {
    padding: 2px 5px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: $tooltip-color;
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.3));
    max-width: $tooltip-width;
    cursor: auto;
    font-family: $font-family-sans-serif;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: $tooltip-color;
}


// Tooltips specifically for antibody statuses
.tooltip-status {
    position: absolute;
    visibility: hidden;
    top: 20px;
    left: 15px;
    padding: 2px 5px;
    z-index: 100;
    border: 1px solid #fff;
    background-color: $tooltip-color;
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.3));
    color: #fff;
    text-align: center;
    white-space: nowrap;
    @include font-size(0.9);
    @include border-radius(4px);

    span:last-child {
        font-weight: normal;
    }

    &.tooltipopen {
        visibility: visible;
    }
}

.tooltip-status-trigger {
    position: relative;
    margin-left: 5px;
    @include font-size(1.2);
    cursor: default;
}

.no-csstransforms .tooltip-arrow {
    display: none;
}
