.top-hits-search {
    width: 100%;

    @at-root #{&}__input {

        input[type="text"] {
            display: block;
            width: 100%;
            margin-top: 5px;
        }

    }

    @at-root #{&}__input-field {
        position: relative;
    }

    @at-root #{&}__suggested-results {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        background-color: white;
        border: 1px solid #a0a0a0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0;
            padding: 0;
        }

        button {
            display: block;
            width: 100%;
            font-size: 1rem;
            text-align: left;
            background: none;
            border: none;
            padding-left: 15px;
            
            
            &.top-hits-search__suggested-results-title {
                background-color: white;
                color: gray;
                font-weight: bold;
                text-decoration: underline;
                padding-left: 7px;
            }

            &.top-hits-search__suggested-results-title--selected {
                background-color: #0a253d;
                color: #fff;
                font-weight: bold;
                text-decoration: underline;
                padding-left: 7px;
            }
            
            &.top-hits-search__suggested-results--selected {
                background-color: #0a253d;
                color: #fff;
            }

            a {
                color: inherit;
                text-decoration: none;
                display: block;
            }
        }
    }
}
