/* 
Custom Styles 

Contents

:: Hero Unit
:: Input Fields
:: Dropdown menus (popover)
:: Tables
:: ...

*/

/* Overwriting Bootstrap Styes */

/* Hero Unit */
.hero-unit {
	@include border-radius($baseBorderRadius);
}


/* Input Fields */
$inputBorder: darken(#fff, 20%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputFocusBorderColor: darken(#fff, 26%) !default;

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: inherit; 
	border: 1px solid $inputBorder;   
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); 
	@include transition(all 0.15s linear);
		&:focus { 
			background: $inputFocusBgColor; 
			border-color: $inputFocusBorderColor; 
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		&[disabled] { background-color: #ddd; }
}

input.search-query {
	@include border-radius($borderRadiusSmall);
}

/* Dropdown Menus, etc */
.dropdown-menu, .popover {
	@include border-radius($baseBorderRadius);
}

/* Modals */
.modal {
  border: 9px solid #333;
  border: 9px solid rgba(0,0,0,.4);
  *border: 9px solid #333; /* IE6-7 */
  @include border-radius(6px);
  @include box-shadow(none);
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(60);
}

/* Tables */
/* Modified version of Foundation tables */

$tableHeadFootBackgroundColor: #f5f5f5;

table { 
  background: #fff;
  margin: 0 0 18px; 
  border: 1px solid #ddd;  
  @include border-radius($baseBorderRadius); 
  border-spacing: 2px !important;
  border-collapse: separate;
  font-size: 0.92em;
  width: 100%;
}

table thead, table tfoot { background: $tableHeadFootBackgroundColor; }

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td { 
	display: table-cell; 
	font-size: ms(0); 
	line-height: 18px; 
	text-align: left;
}

table thead tr th,
table tfoot tr td { padding: 8px 10px 9px; font-size: ms(0); font-weight: bold; color: #222; }
table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

table tbody tr.even,
table tbody tr.alt { background: #f9f9f9; }
/* table tbody tr:nth-child(even) { background: #f9f9f9; } */
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }

/* Table Sorting */
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: darken($tableHeadFootBackgroundColor, 10%);
}

.tablesorter thead tr th {
	padding-right: 16px;
}

/* Table Controls */
table thead tr th button {
	float: left;
}

.table-filter {
	float: right;
	margin-bottom: 0;
}


/* NavBar */
.navbar-inverse .navbar-inner {
    border: none;
    border-bottom: 3px solid $linkColor;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > li > a {
    @include transition-property(background-color);
    @include transition-duration(0.2s);
  	@include transition-timing-function(ease-in-out);
}

.navbar-inverse .brand {
    @include transition-property(text-shadow);
    @include transition-duration(0.2s);
  	@include transition-timing-function(ease-in-out);
}

/* .navbar-inverse .nav > li > a:hover {
    background-color: #303030;
} */

.navbar-inverse .brand:hover {
    @include text-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}




/* Global Styles */
.cancel-link {margin-left: 20px;}

$footerHeight: 				100px;
$footerBackground:          #16242f !default;
$footerBackgroundHighlight: #1b2a35 !default;
$footerBorder:              #252525 !default;

#layout {
	height: auto !important;
    margin: 0 auto -$footerHeight;
    min-height: 100%;
}

#content {
	padding-top: 50px;
}

@include sticky-footer($footerHeight, "#layout", "#layout-footer", "#footer");

#footer {
	border-top: $navbarInverseBorder;
	@include background-image(linear-gradient($footerBackgroundHighlight, $footerBackground));
	color: $white;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

// fix footer width for small screens
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
    	margin-right: -20px;
	}
}

#footer .container {
	padding: 15px;
}

#submit-controls {
	padding: 5px;
	background-color: #ecf1f5;
	@include border-radius($baseBorderRadius);
}

.panel {
    //border-radius: 5px 5px 5px 5px;
    //box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.13);
    //margin: 10px 0;
    //padding: 14px 10px 10px;
}




/* Data Display - Based on Bootstrap Forms Layout 
   Used for displaying Read Only data in a form type layout 
   E.g. Key/value pairs */

.validation-status-labels {
	font-weight: bold;
	font-size: 1.2em;
	float: right;
}


.data-display {
  // Increase spacing between groups
  .data-group {
    margin-bottom: 7px;
    @include clearfix();
  }
  // Float the labels left
  .data-label {
    float: left;
    width: $horizontalComponentOffset - 20;
    padding-top: 5px;
    text-align: right;
  }
  // Move over all input controls and content
  .data-values {
    // Super jank IE7 fix to ensure the inputs in .input-append and input-prepend
    // don't inherit the margin of the parent, in this case .controls
    *display: inline-block;
    *padding-left: 20px;
    margin-left: $horizontalComponentOffset;
    *margin-left: 0;
    &:first-child {
      *padding-left: $horizontalComponentOffset;
    }
  }
  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: $horizontalComponentOffset;
  }
}

.data-group .row {margin-top: 10px;}

.data-label {
  font-weight: bold;
  text-align: right;
}
.data-values {
	padding-top: 5px;
	margin-bottom: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Making data displays responsive */
// UP TO LANDSCAPE PHONE

@media (max-width: 480px) {
  // Remove the horizontal form styles
  .data-display {
    .data-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
    .data-group {
    	margin-bottom: 15px;
    }
    // Move over all input controls and content
    .data-values, label {
      margin-left: 0;
      padding-top: 0;
      margin-bottom: 0;
    }
  }
}
    
/* Validation Details Page */
.validation {
	background-color: #fdfdfd;
	margin-bottom: 20px;
	@include border-radius($baseBorderRadius);
	@include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.1));
}

.validation figure {
	@include border-radius($baseBorderRadius);
	padding: 10px;
	border: 1px solid;
	text-align: center;
}

.validation figcaption {
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

figure.approved { border-color: $successBorder; background-color: $successBackground; }
figcaption.approved { color: $successText; }

figure.rejected { border-color: $errorBorder; background-color: $errorBackground; }
figcaption.rejected { color: $errorText; }

figure.pending { border-color: $infoBorder; background-color: $infoBackground; }
figcaption.pending { color: $infoText; }

.validation-img {
	max-height: 360px;
}

.validation-meta-data {
	margin: 15px 15px 15px 0;
}