/* 
Custom Styles 

Contents

:: Hero Unit
:: Input Fields
:: Dropdown menus (popover)
:: Tables
:: ...

*/

/* Overwriting Bootstrap Styes */

/* Hero Unit */
.hero-unit {
	@include border-radius($baseBorderRadius);
}


/* Input Fields */
$inputBorder: darken(#fff, 20%) !default;
$inputFocusBgColor: darken(#fff, 2%) !default;
$inputFocusBorderColor: darken(#fff, 26%) !default;

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: inherit; 
	border: 1px solid $inputBorder;   
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); 
	@include transition(all 0.15s linear);
		&:focus { 
			background: $inputFocusBgColor; 
			border-color: $inputFocusBorderColor; 
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}
		&[disabled] { background-color: #ddd; }
}

input.search-query {
	@include border-radius($borderRadiusSmall);
}

/* Dropdown Menus, etc */
.dropdown-menu, .popover {
	@include border-radius($baseBorderRadius);
}

/* Modals */
.modal {
	border: 9px solid #333;
  border: 9px solid rgba(0,0,0,.4);
  *border: 9px solid #333; /* IE6-7 */
  @include border-radius(6px);
  @include box-shadow(none);
}

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(60);
}

/* Tables */
/* Modified version of Foundation tables */
table { 
  background: #fff;
  margin: 0 0 18px; 
  border: 1px solid #ddd;  
  @include border-radius($baseBorderRadius); 
  border-spacing: 2px !important;
  border-collapse: separate;
  font-size: 0.92em;
}

table thead, table tfoot { background: #f5f5f5; }

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td { 
	display: table-cell; 
	font-size: ms(0); 
	line-height: 18px; 
	text-align: left;
}

table thead tr th,
table tfoot tr td { padding: 8px 10px 9px; font-size: ms(0); font-weight: bold; color: #222; }
table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

table tbody tr.even,
table tbody tr.alt { background: #f9f9f9; }
table tbody tr:nth-child(even) { background: #f9f9f9; }
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }