// Override Bootstrap default variables:

$screen-md:                                 960px;
$screen-lg:                                 1160px;
$border-radius-base:                        3px;
$border-radius-large:                       4px;
$border-radius-small:                       2px;
$input-border-radius:                       3px;
$grid-float-breakpoint:                     $screen-md;
$navbar-height:                             40px;
$navbar-inverse-link-active-bg:             #4E7294;//darken($navbar-inverse-bg, 10%)
$navbar-inverse-toggle-hover-bg:            #19334b;
$navbar-inverse-toggle-border-color:        #19334b;
$headings-font-weight:                      bold;
$grid-gutter-width:                         20px;

$brand-warning: #E59545;
$brand-success: #4C994C;
$brand-danger: #B24342;
$brand-info: #4F689E;

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
//@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
//@import "bootstrap/glyphicons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
//@import "bootstrap/carousel";

// ENCODED
// Font Awesome
@import "fontawesome/font-awesome";

// react-forms bootstrap theme
@import "react-forms/index";

// ENCODE Project styles & mixins
@import "encoded/mixins-custom";
// SMACSS-based architecture (http://smacss.com/)
@import "encoded/base";
@import "encoded/math";
@import "encoded/layout";
@import "encoded/bootstrap-lib";
@import "encoded/modules/breadcrumbs",
        "encoded/modules/forms",
        "encoded/modules/key-value-display",
        "encoded/modules/lightbox",
        "encoded/modules/matrix",
        "encoded/modules/lists",
        "encoded/modules/loading-spinner",
        "encoded/modules/modals",
        "encoded/modules/navbar",
        "encoded/modules/panels",
        "encoded/modules/signin-box",
        "encoded/modules/tables",
        "encoded/modules/facet",
        "encoded/modules/search",
        "encoded/modules/characterizations",
        "encoded/modules/audits",
        "encoded/modules/genetic_modification",
        "encoded/modules/award",
        "encoded/modules/pipeline",
        "encoded/modules/quality_metric",
        "encoded/modules/tooltip",
        "encoded/modules/badge",
        "encoded/modules/news",
        "encoded/modules/home",
        "encoded/modules/blocks",
        "encoded/modules/layout-editor";
@import "encoded/state";
@import "encoded/theme"; 

// Utility classes - Bootstrap 3, keep last
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
