.black-overlay {
	display: none;	
	background-color: black;
	left: 0%;
	opacity: 0.5;
	position: absolute;
	height: 100%;
	top: 0%;
	width: 100%;
	z-index: 1001;
}

.loading-spinner {
	background: url('../img/spinner1.gif') no-repeat;
	display: none;
	left: 50%;
	overflow: auto;
	position: absolute;
	top: 9%;
	width: 30px;
	height: 30px;
	z-index: 1002;
}

.communicating .black-overlay, .communicating .loading-spinner {
	display: block;
}