/* Sign in box (as used on home page) */
#signin-box {
	@include background-image(linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1)));
	@include border-radius(5px);
	border: 1px solid #cacaca;
	display: inline-block;
	padding: 20px;
	float: right;
	@include box-shadow(rgba(180,180,180,0.9) 0 2px 10px, 0 1px 0 #fff inset);
		h4 {
			margin: 0 0 10px 0;
			padding: 0;
		}
}
.signin-button {
	display: block !important;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 7px;
}

.three-d-box {
	@include background-image(linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1)));
	@include border-radius(5px);
	border: 1px solid #cacaca;
	display: block;
	padding: 20px;
	@include box-shadow(rgba(180,180,180,0.9) 0 2px 10px, 0 1px 0 #fff inset);
	margin-bottom: 20px;
	form {
		margin: 0;
		input { margin: 0; width: 98.5%;}
	}
}