<h1>{model.attributes.title}</h1>
<p class="title">{model.attributes.description}</p>
<table class="sticky-area">
    <thead class="sticky-header">
        <tr class="nosort table-controls">
            <th colspan="7">
                <input type="text" class="table-filter" placeholder="Filter by..." style="float:right">
            </th>
        </tr>
        <tr>
            <th>Target Label</th>
            <th>Target Gene</th>
            <th>Species</th>
            <th>Target Class</th>
            <th>UniProt ID</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">{model.length} Targets.</th>
        </tr>
    </tfoot>
</table>
