<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">ENCODE 3</a>
        <div class="nav-collapse collapse">
            <ul id="globalnav"class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/antibodies/">Antibodies registry</a></li>
            </ul>
            <ul id="user-actions" class="nav pull-right">
                <li><a href="#user-action-login">Log in</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
