/* Variables */
$mainThemeColor: 			#e8ecef; /* i.e. the background color ..for now */

$footerHeight: 				80px;
$footerTopBorderHeight:		0px;
//$footerTopHeight: 			70px;
//$footerBottomHeight:		$footerHeight - $footerTopHeight;
$footerBackground:          rgba(10,37,61,0.3) !default;
$footerBackgroundHighlight: #294b6a !default;
// $footerBorder:              #0f2a42 !default;

$tableHeadFootBackgroundColor: #f5f5f5;


/* BASE STYLES */
body { background: $mainThemeColor; }

.float-wrap { overflow: hidden; }

[hidden] { display: none !important; }

#slot-application, #application {
	height: 100%;
}

dd::first-letter { text-transform: capitalize; } 
dd:first-letter { text-transform: capitalize; } // IE 8 support


/* Note: most base styles handled by Bootstrap, with variable settings in bootstrap/_variables.scss */

.cap-me-once { display: inline-block; }
.cap-me-once:first-letter { text-transform: uppercase; }