/* Variables */
$mainThemeColor: 			#e8ecef; /* i.e. the background color ..for now */

$footerHeight: 				80px;
$footerTopBorderHeight:		0px;
$footerBackground:          rgba(10,37,61,0.3) !default;
$footerBackgroundHighlight: #294b6a !default;

$tableHeadFootBackgroundColor: #f5f5f5;

/* BASE STYLES */
/* Note: most base styles handled by Bootstrap, with variable settings in bootstrap/_variables.scss */

body { background: $mainThemeColor; }

.float-wrap { overflow: hidden; }

[hidden] { display: none !important; }

#slot-application, #application {
	height: 100%;
}

hr { clear: both; }

figure {
	img { max-width: 100%; height: auto; }
	margin-bottom: 1em;
}

.sentence-case::first-letter { text-transform: uppercase; }
.sentence-case:first-letter { text-transform: uppercase; } // older browser support

.repl-acc {
    margin: -5px 0 15px;
    font-size: 14px;
    font-weight: normal;
    color: #808080;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
