/* Variables */
$mainThemeColor: 			#fff; /* i.e. the background color ..for now */

$appVersionHeight:          30px;
$footerHeight: 				80px + $appVersionHeight;
$footerTopBorderHeight:		0px;
$footerBackground:          rgba(10,37,61,0.3) !default;
$footerBackgroundHighlight: #294b6a !default;

$tableHeadFootBackgroundColor: #f5f5f5;

$mobile-font-factor: 1.2;


// Pass value with CSS units and get just the value back
@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}

// rem font sizing with pre-CSS3 fallback. Pass "true" in 2nd parm to add !important
// Conversions from px (not exact -- just convenient)
// 10px: 0.7
// 11px: 0.8
// 12px: 0.85
// 13px: 0.9
// 14px: 1.0
// 15px: 1.1
// 16px: 1.2
// 18px: 1.3
// 20px: 1.4

@mixin font-size($size, $important: false) {
    $imptext: "";
    @if $important {
        $imptext: " !important";
    }
    font-size: round($size * strip-units($font-size-base)) + px#{$imptext};
    font-size: $size + rem#{$imptext};
}


/* BASE STYLES */
/* Note: most base styles handled by Bootstrap, with variable settings in bootstrap/_variables.scss */

html {
    font-size: $font-size-base * $mobile-font-factor;

    @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-base;
    }
}

body { background: $mainThemeColor; @include font-size(1); }

.float-wrap { overflow: hidden; }

[hidden] { display: none !important; }

#slot-application, #application {
	height: 100%;
}

hr { clear: both; }

figure {
	img { max-width: 100%; height: auto; }
	margin-bottom: 1em;
}

.sentence-case-block {
    display: inline-block;

    &::first-letter,
    &:first-letter {
        text-transform: uppercase;
    }
}

.sentence-case::first-letter { text-transform: uppercase; }
.sentence-case:first-letter { text-transform: uppercase; } // older browser support

// Replace Bootstrap's header sizes
h1, .h1 { @include font-size(2.6); }
h2, .h2 { @include font-size(2.1); }
h3, .h3 { @include font-size(1.7); }
h4, .h4 { @include font-size(1.3); }
h5, .h5 { @include font-size(1); }
h6, .h6 { @include font-size(0.85); }

blockquote {
    @include font-size(1);
}

.repl-acc {
    margin: -5px 0 15px;
    @include font-size(1);
    font-weight: normal;
    color: #808080;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.browser-error {
    margin: 10px;
    text-align: center;
}
