#layout {
	height: auto !important;
    margin: 0 auto -$footerHeight;
    min-height: 100%;
}

@media print {
    .container {
        width: 100%;
    }
}

.homepage-main-box {
	min-height: 400px;
	background: url('/static/img/encode-bg-gray.png') no-repeat center;
}

.project-info {
	h1,h2,h3,h4 {
		text-shadow: rgba(255,255,255,1) 1px 1px 0;
	}
    margin-bottom: 20px;
	display: block;
	font-size: 1.3rem;
}

.text-panel {
    margin-top: 20px;
}

/* *********************************************************
		FOOTER
********************************************************** */

.page-footer {
	color: rgb(255, 255, 255);
	background-color: #a4afb8; // for IE8
	background-color: $footerBackground; // overwrite previous line for CSS3 browsers
	//height: $footerHeight;
	//line-height: 0;
	text-align: center;
	overflow: hidden;
	a, button { 
		color: rgb(255, 255, 255); 
        font-weight: bold;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        border: none;
	}
	ul {
	    list-style: none;
	    list-style-position: outside;
	    padding: 0;
	}
}

.footer-links {
    margin: 15px 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: right;

        li:last-child {
            padding-right: 0;
        }
    }

    a, button {
        display: block;
        margin: 0 0 8px;
        padding: 10px 15px;
        background-color: darken($footerBackground, 0.1%);
        border-radius: 3px;
    }
    a:hover, button:hover { 
        text-decoration: none; 
        background-color: darken($footerBackground, 6%);   
    }
    a:active button:active {
        background-color: darken($footerBackground, 15%);
    }
}

.footer-logos {
    margin: 10px 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }

    li {
        margin: 0 0 15px;
    }
}


.copy-notice {
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}


/**********************************************************/
// Flexbox temporary classes; might be able to change or
// remove with Bootstrap 4

.flexrow {
    @extend .row;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.flexcol-sm-6 {
    @extend .col-sm-6;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            flex: 1 1 0px;
            width: auto;
            border-left: 1px solid #c0c0c0;

            &:first-child {
                border-left: none;
            }
        }
    }
}

.flexcol {
    position: relative;
    flex-basis: auto;
    flex-grow: 0;
    min-height: 1px;
    width: 100%;


    @at-root #{&}--doc {
        @media screen and (min-width: $screen-sm-min) {
            width: 50%;
        }

        @media screen and (min-width: $screen-md-min) {
            width: 33.33333%;
        }
    }

    @at-root #{&}--attachment {
        margin: 3px;

        @media screen and (min-width: $screen-sm-min) {
            width: 32.8%;
        }

        .panel {
            margin: 0;
        }
    }

    @at-root #{&}--attachment-modal {
        margin: 3px;

        @media screen and (min-width: $screen-sm-min) {
            width: 48%;
        }

        .panel {
            margin: 0;
        }
    }
}

.flexcol-heading {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    background-color: #d8d8d8;
    border-bottom: 1px solid #a0a0a0;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    // For the Experiment Summary header
    &.experiment-heading {
        height: 50px;

        h1, h2, h3, h4, h5, h6 {
            line-height: 30px;  // 50px - 20px of vertical padding
        }
    }
}
