#layout {
	height: auto !important;
    margin: 0 auto -$footerHeight;
    min-height: 100%;
}

.homepage-main-box {
	min-height: 400px;
	background: url('/static/img/encode-bg-gray.png') no-repeat center;
}

.project-info {
	h1,h2,h3,h4 {
		text-shadow: rgba(255,255,255,1) 1px 1px 0;
	}
    margin-bottom: 20px;
	display: block;
	font-size: 1.3rem;
}

.text-panel {
    margin-top: 20px;
}

.app-version {
    height: $appVersionHeight;
    line-height: $appVersionHeight;
    text-align: center;
    font-size: 0.9rem;
    color: #a0a0a0;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

/* *********************************************************
		FOOTER
********************************************************** */

#page-footer {
    @media (min-width: $screen-sm-min) {
        height: $footerHeight;
    }
}

.footer-row {
    @media screen and (min-width: $screen-sm-min) {
        margin-left: 0;
        margin-right: 0;
    }
}

.page-footer {
	color: rgb(255, 255, 255);
	background-color: #a4afb8; // for IE8
	background-color: $footerBackground; // overwrite previous line for CSS3 browsers
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	text-align: center;
	overflow: hidden;

	a { 
		color: rgb(255, 255, 255); 
		font-weight: bold;
	}

	ul {
	    list-style: none;
	    list-style-position: outside;
	    padding: 0;
	}

    @media screen and (min-width: $screen-sm-min) {
        height: $footerHeight - $appVersionHeight;
    }
}

.footer-links {
    margin: 15px 0;
    text-align: center;

    a {
        display: block;
        margin: 0 0 8px;
        padding: 10px 15px;
        background-color: darken($footerBackground, 0.1%);
        border-radius: 3px;

        &:hover { 
            text-decoration: none; 
            background-color: darken($footerBackground, 6%);   
        }

        &:active {
            background-color: darken($footerBackground, 15%);
        }
    }

    @media (min-width: $screen-sm-min) {
        list-style: none outside none;
        margin-left: -5px;
        padding-left: 0;
        text-align: right;

        li { 
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;

            @media screen and (min-width: $screen-md-min) {
                padding-left: 10px;
                padding-right: 10px;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        a {
            display: inline;
            margin: 0;
            padding: 0;
            background-color: transparent;   

            &:hover {
                text-decoration: underline;
                background-color: transparent; 
            }
    
            &:active {
                background-color: transparent;
            }
        }
    }
}

.footer-logos {
    margin: 10px 0;
    text-align: center;

    li {
        margin: 0 0 15px;
    }

    @media (min-width: $screen-sm-min) {
        margin-top: 16px;
        text-align: left;

        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}


.copy-notice {
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: right;
    }
}


/**********************************************************/
// Flexbox temporary classes; might be able to change or
// remove with Bootstrap 4

.flexrow {
    @extend .row;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.flexcol-sm-6 {
    @extend .col-sm-6;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            flex: 1 1 0px;
            width: auto;
            border-left: 1px solid #c0c0c0;

            &:first-child {
                border-left: none;
            }
        }
    }
}

.flexcol {
    position: relative;
    flex-basis: auto;
    flex-grow: 0;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
        width: 50%;
    }
    @media screen and (min-width: $screen-md-min) {
        width: 33.33333%;
    }
}

.flexcol-heading {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    background-color: #d8d8d8;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    // For the Experiment Summary header
    &.experiment-heading {
        height: 50px;

        h1, h2, h3, h4, h5, h6 {
            line-height: 30px;  // 50px - 20px of vertical padding
        }
    }
}
