/* top padding for small screens */
@media (max-width: $screen-sm-max) {
	#content {
			padding-top: 0;
	}
}


// fix footer width for small screens + content margin fix
@media (max-width: 767px) {
	footer {
		//margin-left: -20px;
    	//margin-right: -20px;
    	//padding: 0 5px;
	}
}
// make footer look good on larger screens
// and activate sticky footer
@media (min-width: $screen-sm) {
    .footer-row { margin-left: 0; margin-right: 0; }
    #page-footer, .page-footer {
        height: $footerHeight;
    }
    @include sticky-footer($footerHeight, $footerTopBorderHeight, "#layout", "#layout-footer", "#page-footer");
    .footer-links {
        list-style: none outside none;
        margin-left: -5px;
        padding-left: 0;
        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
        a {
            display: inline;
            margin: 0;
            padding: 0;
            background-color: transparent;   
        }
        a:hover { 
            text-decoration: underline;
            background-color: transparent; 
        }
        a:active { background-color: transparent; }
    }
    
    .footer-logos {
        margin-top: 16px;
        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}



// make key-value description lists responsive
@media (max-width: 480px) {
  // Remove the horizontal styles
  .key-value {
    dt {
    	float: none;
    	width: auto;
    	padding-top: 0;
    	text-align: left;
    }
    // Move over all values to left
    dt, dd {
    	margin-left: 0;
    	padding-top: 0;
    	margin-bottom: 0px;
    }
    // add vertical space to key-value pairs
    dd {
    	margin-bottom: 15px;
    }
  }
}