/* top padding for small screens */
#content {
    padding-top: 0;
    
    @media screen and (min-width: $screen-md-min) {
        padding-top: 75px;
    }
}

.app-version {
    height: $appVersionHeight;
    line-height: $appVersionHeight;
    text-align: center;
    font-size: 0.9rem;
    color: #a0a0a0;
}

// make footer look good on larger screens
// and activate sticky footer
@media (min-width: $screen-sm-min) {
    .footer-row { margin-left: 0; margin-right: 0; }

    #page-footer {
        height: $footerHeight;
    }

    .page-footer {
        height: $footerHeight - $appVersionHeight;
    }

    .app-version {
        text-align: left;
    }

    @include sticky-footer($footerHeight, $footerTopBorderHeight, "#layout", "#layout-footer", "#page-footer");

    .footer-links {
        list-style: none outside none;
        margin-left: -5px;
        padding-left: 0;
        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
        a, button {
            display: inline;
            margin: 0;
            padding: 0;
            background-color: transparent;   
        }
        a:hover, button:hover { 
            text-decoration: underline;
            background-color: transparent; 
        }
        a:active, button:active { background-color: transparent; }
    }
    
    .footer-logos {
        margin-top: 16px;
        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#page-footer {
    @media print {
        display: none;
    }
}
