.app-version {
    height: $appVersionHeight;
    line-height: $appVersionHeight;
    text-align: center;
    font-size: 0.9rem;
    color: #a0a0a0;
}

// make footer look good on larger screens
@media (min-width: $screen-sm-min) {
    .footer-row { margin-left: 0; margin-right: 0; }

    .app-version {
        text-align: left;
    }

    .footer-sections {
        display: flex;
        padding: 15px 10px 0;
        flex-direction: row-reverse;

        @media screen and (min-width: $screen-sm-min) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .footer-links-section {
        flex: 0 1 60%;
    }

    .footer-links {
        list-style: none outside none;
        margin-left: -5px;
        padding-left: 0;
        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
        a {
            display: inline;
            margin: 0;
            padding: 0;
            background-color: transparent;   
        }
        a:hover { 
            text-decoration: underline;
            background-color: transparent; 
        }
        a:active { background-color: transparent; }
    }

    .footer-logos-section {
        flex: 0 1 40%;
    }
    
    .footer-logos {
        margin: 0;

        li { 
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#page-footer {
    @media print {
        display: none;
    }
}
