.btn {
    font-weight: bold;
    border-radius: 5px;
}

.btn-link {
    font-weight: normal;
}

.btn-svgicon {
    line-height: 0.9;
    margin-right: 0 !important;
    border-radius: 0;
    border-right-width: 0;
    border-left-color: #fff;

    &:hover {
        border-right-width: 0;
        border-left-color: #fff;
    }

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left-color: #475d8d;
    }

    &:last-child {
        border-right-width: 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.svg-icon {
    fill: #fff;
}

select {
    border: 1px solid #428bca !important;
    color: #428bca !important;
    font-weight: bold;

    &::-ms-expand {
        display: none;
    }
}

.beta-badge {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: 0.6rem;
    color: #fff;
    background-color: #B24342;
    border-radius: 3px;
}
