.svg-icon {
    fill: #fff;
}

select {
    border: 1px solid #428bca !important;
    color: #428bca !important;
    font-family: $button-font;
    font-weight: 700;
    font-size: 1rem;

    &::-ms-expand {
        display: none;
    }
}

.beta-badge {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: 0.6rem;
    color: #fff;
    background-color: #b24342;
    border-radius: 3px;
}

.tristate-radio {
    margin-bottom: 5px;

    & label {
        float: left;
        width: 24px;
        border-radius: 10px;
        border: 1px solid #d0d0d0;
        overflow: auto;
        margin-right: 0.4rem;
        height: 25px;

        & span {
            text-align: center;
            display: block;
            height: 23px;
            font-size: 0.7rem;
        }

        & input {
            position: absolute;
            top: -20px;
        }
    }

    & input:checked + span {
        background-color: blue;
        color: #f7f7f7;
    }

    & .not-used {
        cursor: pointer;
        font-weight: bold;
    }

    & .no {
        cursor: pointer;
        font-weight: bold;
    }

    .yes {
        cursor: pointer;
        font-weight: bold;
    }
}
