.svg-icon {
    fill: #fff;
}

select {
    border: 1px solid #428bca !important;
    color: #428bca !important;
    font-family: $button-font;
    font-weight: 700;
    font-size: 1rem;

    &::-ms-expand {
        display: none;
    }
}

.beta-badge {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: 0.6rem;
    color: #fff;
    background-color: #b24342;
    border-radius: 3px;
}
