.btn {
    font-weight: bold;
    border-radius: 5px;
}

.btn-link {
    font-weight: normal;
}

.btn-info {
    color: #428bca;
    background-color: #fff;
    border: 1px solid #428bca;

    .svg-icon {
        path, rect, polygon {
            fill: #428bca;
        }
    }

    &:active, &:focus {
        color: darken(#428bca,20%) !important;
        background-color: #fff !important;
        border: 1px solid #428bca;
    }

    &.active, &:active.active, .dropdown.open & {
        color: darken(#428bca,20%) !important;
        background-color: lighten(#428bca,30%) !important;
        border: 1px solid #428bca !important;
    }

    &:hover {
        color: darken(#428bca,20%);
        background-color: lighten(#428bca,30%);
        border: 1px solid #428bca;

        .svg-icon {
            path {
                fill: darken(#428bca,20%);
            }
        }
    }

    &[disabled] {
        background-color: #fff;
        color: lighten(#428bca,20%) !important;
    }
}

.btn-svgicon {
    line-height: 0.9;
    margin-right: 0 !important;
    border-radius: 0;
    border-right-width: 0;

    &:hover {
        border-right-width: 0;
    }

    .svg-icon {
        fill: #fff;
    }

    &:first-child {
        border-top-left-radius: $border-radius-small;
        border-bottom-left-radius: $border-radius-small;
    }

    &:last-child {
        border-right-width: 1px;
        border-top-right-radius: $border-radius-small;
        border-bottom-right-radius: $border-radius-small;
    }
}

select {
    border: 1px solid #428bca !important;
    color: #428bca !important;
    font-weight: bold;

    &::-ms-expand {
        display: none;
    }
}

.beta-badge {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    font-size: 0.6rem;
    color: #fff;
    background-color: #B24342;
    border-radius: 3px;
}
