<div class="container"><!-- need to remove other code from js -->
    <div class="row">
        <div class="span6">
            <figure>
                <?js if (properties.document) { ?>
                <a  href="{properties.document.href}">
                    <?js if (properties.document.type.indexOf('image/') == 0) { ?>
                        <img
                            class="validation-img"
                            src="{properties.document.href}"
                            height="{properties.document.height}"
                            width="{properties.document.width}"
                            alt="Image"
                            />
                    <?js } else if (properties.document.type == "application/pdf"){ ?>
                        <img
                            class="validation-img validation-file"
                            src="/static/img/file-pdf.svg"
                            height="100"
                            width="100"
                            alt="PDF Icon"
                            />
                    <?js } else { ?>
                        <img
                            class="validation-img validation-file"
                            src="/static/img/file.svg"
                            height="100"
                            width="100"
                            alt="Icon"
                            />
                    <?js } ?>
                </a>
                <?js } else { ?>
                        <img
                            class="validation-img validation-file"
                            src="/static/img/file-broken.png"
                            alt="validation image not found"
                            height="100"
                            width="100"
                            alt="File Broken Icon"
                        />
                <?js } ?>
            </figure>
        </div>
        <div class="span5">
            <div class="document-meta-data">
                <h3><span style="text-transform: capitalize;">{properties.document_type}</span></h3>
                <p><span>{properties.description}</span></p>
                <p><b>Submitted By:</b> <span>{model.links.submitter.get('first_name')} {model.links.submitter.get('last_name')}</span></p>
                <p><b>Lab:</b> <span>{model.links.lab.get('name')}</span></p>
                <p><b>Grant:</b> <span>{model.links.award.get('number')}</span></p>
                <p><b>Download:</b>
                    <?js if (properties.document) { ?>
                    <a  href="{properties.document.href}"
                        download="{properties.document.download}"
                        >{properties.document.download}</a>
                    <?js } else { ?>
                    <em>Document not available</em>
                    <?js } ?>
            </div>
        </div>
    </div>
</div>