<h1>{model.attributes.title}</h1>
<p class="title">{model.attributes.description}</p>
<table class="sticky-area" id="collection-table">
    <thead class="sticky-header">
        <tr class="nosort table-controls">
            <th colspan="4"><span id="table-count" class="label label-warning" style="padding: 1em 2em; margin-right: 1em;">Loading...</span>Antibody Approvals</th>
            <th colspan="4">
                <input type="text" class="table-filter" placeholder="Filter by..." style="float:right">
            </th>
        </tr>
        <tr>
            <th>Accession</th>
            <th class="sort-initial">Target</th>
            <th>Species</th>
            <th>Source</th>
            <th>Product ID</th>
            <th>Lot ID</th>
            <th>Validations</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    </tfoot>
</table>
