<header class="row">
    <div class="span12">
        <h2>Approval for {model.links.antibody_lot.get('antibody_accession')}</h2>
        <h3>Antibody against {model.links.target.links.organism.get('name')} {model.links.target.get('target_label')}  <span id="approval-status" class="label status-{properties.approval_status.toLowerCase()}">{properties.approval_status}</span><h3>
    </div>
</header>

<div class="panel data-display">

	<dl class="key-value">
		<dt>Source (vendor)</dt>
		<dd><a href="{model.links.antibody_lot.links.source.get('url')}"> {model.links.antibody_lot.links.source.get('name')}</a></dd>

		<dt>Product ID</dt>
		<dd><a href="{model.links.antibody_lot.get('url')}">{model.links.antibody_lot.get('product_id')}</a></dd>

		<dt>Lot ID</dt>
		<dd>{model.links.antibody_lot.get('lot_id')}</dd>

		<dt>Target</dt>
		<dd><a href="{_.result(model.links.target, 'url')}">{model.links.target.get('label')}</a></dd>

		<dt>Host</dt>
		<dd>{model.links.antibody_lot.get('host_organism')}</dd>

		<dt>Clonality</dt>
		<dd>{model.links.antibody_lot.get('clonality')}</dd>

		<dt>Purification</dt>
		<dd>{model.links.antibody_lot.get('purification')}</dd>

		<dt>Isotype</dt>
		<dd>{model.links.antibody_lot.get('isotype')}</dd>

		<dt>Antigen description</dt>
		<dd>{model.links.antibody_lot.get('antigen_description')}</dd>
	</dl>

</div><!-- .data-display -->

<div class="validations"></div>