html, body {
    font-size: 18px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 14px;
    }
}

body {
    font-family: 'Helvetica Neue', 'Lato', Helvetica, sans-serif;
}

.container {
    position: relative;
}

h1, .h1 { font-size: $font-size-h1; font-weight: 300; }
h2, .h2 { font-size: $font-size-h2; font-weight: 300; }
h3, .h3 { font-size: $font-size-h3; font-weight: 300; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

p {
    line-height: 1.6;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
textarea.form-control {
    background-color: #f8f8f8;
}

.btn {
    @include border-radius(2px);
    font-size: 1rem;
}

.btn-primary {
    border: none;
    background-color: $color-btn;

    &:hover {
        background-color: $color-btn-hover !important;
    }
}

.btn-inline-spacer {
    margin-left: 5px;
}

.site-header {
    position: relative;
    border-top: 6px solid $color-trim;
    border-bottom: 2px solid $color-trim;
    background: white;
 
    @media screen and (min-width: $screen-sm-min) {
        background: url(/static/img/header-bg.jpg) center center no-repeat;
        background-size: cover;
    }
}

dl.inline-dl {
    dt {
        float: left;
        clear: left;
        margin: 0 5px 0 0;
        padding: 0;
        line-height: 1.3;
    }

    dd {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }
}


dl.dl-horizontal {
    margin: 0;

    dt, dd {
        display: block;
        margin: 0;
        line-height: 1.3;
    }

    dt {
        font-weight: bold;
        text-overflow: clip;
        width: auto;

        &:after {
            content: ": ";
        }
    }

    dd {
        @extend .clearfix;
    }

    div {
        clear: both;
        margin: 6px 0;
    }

    @media screen and (min-width: $screen-xs-min) {
        display: table;

        dt, dd {
            display: table-cell;
            vertical-align: bottom;
        }

        dt {
            padding: 6px 20px 6px 0;
        }

        dd {
            padding: 6px 0;
        }

        div {
            clear: none;
            display: table-row;
        }
    }
}

.beta-note {
    font-style: italic;
}
