html, body {
    font-size: 18px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 14px;
    }
}

body {
    font-family: 'Helvetica Neue', 'Lato', Helvetica, sans-serif;
}

p {
    line-height: 1.6;
}

.btn {
    @include border-radius(2px);
    border: none;
    font-size: 1rem;
    border: none;
    background-color: $color-btn;

    &:hover {
        background-color: $color-btn-hover !important;
    }
}

.site-header {
    position: relative;
    border-top: 6px solid $color-trim;
    border-bottom: 2px solid $color-trim;
    background: white;
 
    @media screen and (min-width: $screen-sm-min) {
        background: url(/static/img/header-bg.jpg) center center no-repeat;
        background-size: cover;
    }
}
