$color-trim: #2697d1;
$color-trim-dark: #293894;
$color-link: #1b75bc;
$color-btn: #1b75bc;
$color-btn-hover: #293894;
$color-hover: lighten($color-trim, 40%);
$color-neutral-bg: #e8e8e8;
$color-selected: #e9f4d0;

$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-small: 0.85rem;

$font-size-h1: 2.6rem;
$font-size-h2: 2.15rem;
$font-size-h3: 1.7rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.85rem;
